openapi: "3.0.0"
info:
  title: BIZ MORI API
  version: 2.0.0
  description: 'BIZ MORI API는 디지털 콘텐츠 보호를 위한 네 가지 핵심 서비스를 제공합니다:

    - **Anti-AI**: 이미지를 AI 학습으로부터 보호

    - **Watermark Embed**: 이미지에 보이지 않는 디지털 워터마크 삽입

    - **Watermark Extract**: 이미지에서 워터마크 추출 및 검증

    - **AI Detection**: 이미지가 AI로 생성되었는지 감지

    - **테스트 API 키**: `sk_test_` 접두사의 키는 동일한 Bearer 인증을 사용하며, 실제 처리 서비스나 크레딧 사용 없이 주문 흐름을 검증할 수 있습니다. 테스트 업로드는 파일 내용을 폐기하고 결과 파일을 만들지 않습니다

    '
  contact:
    name: BIZ MORI 지원
    email: support@bizmori.com
  license:
    name: Proprietary
    url: https://docs.bizmori.com/legal/terms
servers:
- url: https://api.bizmori.com
  description: 프로덕션
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: '외부 클라이언트 접근을 위한 Bearer API 키. 일반 키는 `sk_` 접두사를 사용하고, 테스트 키는 `sk_test_` 접두사로 모의 응답을 사용해 실제 처리나 크레딧 사용 없이 주문 흐름을 검증합니다.'
  schemas:
    BaseResponse:
      type: object
      properties:
        data:
          oneOf:
          - type: object
            nullable: true
            additionalProperties: true
          - type: array
            items: {}
          description: 응답 데이터 (데이터 없을 경우 null)
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: 에러 코드
    PageInfo:
      type: object
      properties:
        totalItems:
          type: integer
          description: 전체 항목 수
        totalPages:
          type: integer
          description: 전체 페이지 수
        currentPage:
          type: integer
          description: 현재 페이지 번호
        itemsPerPage:
          type: integer
          description: 페이지당 항목 수
    OrderOptions:
      type: object
      properties:
        strength:
          type: string
          enum:
          - low
          - standard
          - high
          default: high
          description: '보호 강도 레벨

            * low - 낮은 보호 강도

            * standard - 표준 보호 강도

            * high - 높은 보호 강도

            '
    OrderFile:
      type: object
      properties:
        fileId:
          type: string
          description: 파일 ID
        fileName:
          type: string
          description: 파일 이름
        uploadUrl:
          type: string
          format: uri
          description: '업로드 URL. live 키는 S3 presigned URL을 받고, 테스트 키는 절대 `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL을 받습니다. 두 URL은 발급 후 1시간 동안 유효하며 `POST /api/v2/orders/{orderId}/refresh-urls`로 재발급할 수 있습니다. signed token 자체가 테스트 업로드를 인가하므로 PUT에 Authorization 헤더가 필요 없습니다. 테스트 요청 본문은 스트림으로 소비되어 저장되지 않으며, 테스트 주문은 사용량 차감이나 실제 외부 처리 없이 모의 결과로 전이합니다.'
        fileKey:
          type: string
          description: |
            파일 식별자: live 키에서는 S3 object key이고 테스트 키에서는 격리된 logical key입니다.
    AntiAiOrderFile:
      type: object
      description: 'Anti-AI 주문 파일 정보 (파일 모드에 따라 필드가 다름)

        - 업로드 모드: fileId, fileName, uploadUrl, fileKey

        - URL 모드: fileId, fileName, originalFileUrl

        '
      properties:
        fileId:
          type: string
          description: 파일 ID
        fileName:
          type: string
          description: 파일 이름
        uploadUrl:
          type: string
          format: uri
          description: '업로드 URL — 업로드 모드 파일만 해당. live 키는 S3 presigned URL을 받고, 테스트 키는 절대 `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL을 받습니다. 두 URL은 1시간 후 만료되며 `POST /api/v2/orders/{orderId}/refresh-urls`로 재발급할 수 있습니다. signed token 자체가 테스트 업로드를 인가하므로 PUT에 Authorization 헤더가 필요 없습니다. 테스트 요청 본문은 스트림으로 소비되어 저장되지 않으며, 테스트 주문은 사용량 차감이나 실제 외부 처리 없이 모의 결과로 전이합니다.'
        fileKey:
          type: string
          description: |
            파일 식별자 — 업로드 모드 파일만 해당: live 키에서는 S3 object key이고 테스트 키에서는 격리된 logical key입니다.
        originalFileUrl:
          type: string
          format: uri
          description: 원본 이미지 URL — URL 모드 파일만 해당
    WtrExtractOrderFile:
      type: object
      description: 워터마크 추출 주문 파일 정보
      properties:
        fileId:
          type: integer
          description: 파일 ID
        fileName:
          type: string
          description: 파일 이름
        uploadUrl:
          type: string
          format: uri
          description: '업로드 URL. live 키는 S3 presigned URL을 받고, 테스트 키는 절대 `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL을 받습니다. 두 URL은 1시간 후 만료되며 `POST /api/v2/orders/{orderId}/refresh-urls`로 재발급할 수 있습니다. signed token 자체가 테스트 업로드를 인가하므로 PUT에 Authorization 헤더가 필요 없습니다. 테스트 요청 본문은 스트림으로 소비되어 저장되지 않으며, 테스트 주문은 사용량 차감이나 실제 외부 처리 없이 모의 결과로 전이합니다.'
        fileKey:
          type: string
          description: |
            파일 식별자: live 키에서는 S3 object key이고 테스트 키에서는 격리된 logical key입니다.
        fileFormat:
          type: string
          description: 파일 형식
          example: JPG
        fileType:
          type: string
          enum:
          - IMG
          - DOCUMENT
          description: 파일 타입 (이미지 또는 PDF)
        role:
          type: string
          enum:
          - watermarked
          description: 파일 역할 (항상 "watermarked")
        sequence:
          type: integer
          description: 파일 순서 (항상 1)
          example: 1
        originalFile:
          type: object
          nullable: true
          description: 원본 파일 정보 (includeOriginal이 true일 때만 포함)
          properties:
            fileId:
              type: integer
              description: 파일 ID
            fileName:
              type: string
              description: 파일 이름
            uploadUrl:
              type: string
              format: uri
              description: '업로드 URL. live 키는 S3 presigned URL을 받고, 테스트 키는 절대 `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL을 받습니다. 두 URL은 1시간 후 만료되며 `POST /api/v2/orders/{orderId}/refresh-urls`로 재발급할 수 있습니다. signed token 자체가 테스트 업로드를 인가하므로 PUT에 Authorization 헤더가 필요 없습니다. 테스트 요청 본문은 스트림으로 소비되어 저장되지 않으며, 테스트 주문은 사용량 차감이나 실제 외부 처리 없이 모의 결과로 전이합니다.'
            fileKey:
              type: string
              description: |
                파일 식별자: live 키에서는 S3 object key이고 테스트 키에서는 격리된 logical key입니다.
            fileFormat:
              type: string
              description: 파일 형식
            fileType:
              type: string
              enum:
              - IMG
              description: 파일 타입 (이미지만 해당)
            role:
              type: string
              enum:
              - original
              description: 파일 역할 (항상 "original")
            sequence:
              type: integer
              description: 파일 순서 (항상 1)
              example: 1
    Order:
      type: object
      properties:
        orderId:
          type: string
          description: 주문 ID
        orderName:
          type: string
          description: 주문 이름
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: 주문 타입
        channel:
          type: string
          enum:
          - api
          - web
          description: 주문 채널
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: '주문 상태

            * pending - 대기 중

            * inProgress - 처리 중

            * complete - 완료

            * failed - 실패

            * expired - 만료됨 (주문 생성 후 7일이 지나면 파일 다운로드 불가)

            '
        fileCount:
          type: integer
          description: 파일 수
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: 썸네일 이미지 URL (프리사인드 URL)
        createdAt:
          type: string
          format: date-time
          description: 생성 시각
        updatedAt:
          type: string
          format: date-time
          description: 수정일시
        probability:
          type: number
          nullable: true
          description: AI 감지 확률 (aiDetection 주문 전용)
        statusCode:
          type: string
          nullable: true
          enum:
          - likely_real
          - uncertain_real
          - uncertain_ai
          - likely_ai
          description: 'AI 감지 결과 코드 (aiDetection 주문 전용)

            * likely_real - 실제 콘텐츠일 가능성 높음

            * uncertain_real - 불확실, 실제 콘텐츠 쪽에 가까움

            * uncertain_ai - 불확실, AI 생성 쪽에 가까움

            * likely_ai - AI 생성 콘텐츠일 가능성 높음

            '
    OrderDetail:
      type: object
      description: 주문 상세 정보
      properties:
        orderId:
          type: string
          description: 주문 ID
        orderName:
          type: string
          description: 주문 이름
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: 주문 타입
        channel:
          type: string
          enum:
          - api
          - web
          description: 주문 채널
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: 주문 상태
        fileCount:
          type: integer
          description: 파일 수
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: 썸네일 이미지 URL (프리사인드 URL, 1시간 유효). aiDetection 주문에서 generateThumbnail 옵션 사용 시에만 반환됩니다.
            만료 상태 시 null.
        originalImageUrl:
          type: string
          format: uri
          nullable: true
          description: 원본 입력 이미지 다운로드 URL (프리사인드 URL, 1시간 유효). aiDetection 주문 전용. 만료 상태 시 null.
        createdAt:
          type: string
          format: date-time
          description: 생성 시각
        updatedAt:
          type: string
          format: date-time
          description: 수정 시각
        errors:
          type: string
          nullable: true
          description: 에러 메시지 (실패 시)
        watermarks:
          type: array
          items:
            type: string
          description: 워터마크 텍스트 목록 (watermarkEmbed 주문 전용)
        watermarkText:
          type: string
          nullable: true
          description: 추출된 워터마크 텍스트 (watermarkExtract 주문 전용)
        probability:
          type: number
          nullable: true
          description: AI 감지 확률 (aiDetection 주문 전용)
        statusCode:
          type: string
          nullable: true
          description: '주문 타입별 상태 코드.

            **watermarkExtract 주문:**

            * detected - 워터마크 검출됨

            * undetected - 워터마크 미검출

            **aiDetection 주문** (probability 기반 자동 계산):

            * likely_real - probability < 0.25

            * uncertain_real - 0.25 <= probability < 0.5

            * uncertain_ai - 0.5 <= probability < 0.75

            * likely_ai - probability >= 0.75

            다른 주문 타입에서는 반환되지 않습니다.

            '
        options:
          type: object
          nullable: true
          description: 주문 생성 시 설정한 옵션 (aiDetection 주문만)
          properties:
            generateHeatmap:
              type: boolean
              description: 히트맵 이미지 생성 여부
              example: true
            generateOverlay:
              type: boolean
              description: 오버레이 이미지 생성 여부
              example: true
            generateThumbnail:
              type: boolean
              description: 썸네일 이미지 생성 여부
              example: true
        heatmapUrl:
          type: string
          format: uri
          nullable: true
          description: AI 판별 히트맵 이미지 다운로드 URL (aiDetection 주문 전용, generateHeatmap 옵션 사용 시 반환)
        overlayUrl:
          type: string
          format: uri
          nullable: true
          description: 원본 위 히트맵 오버레이 이미지 다운로드 URL (aiDetection 주문 전용, generateOverlay 옵션 사용 시 반환)
    UsageStats:
      type: object
      properties:
        dailyStats:
          type: array
          items:
            type: object
            properties:
              usageDate:
                type: string
                description: 사용 날짜 (MM.DD)
              usageCount:
                type: integer
                description: 사용 횟수
        domain:
          type: array
          items:
            type: integer
          description: 차트 Y축 범위 [최솟값, 최댓값]
        ticks:
          type: array
          items:
            type: integer
          description: 차트 Y축 눈금 값
    WebhookRegisterRequest:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: 웹훅 엔드포인트 URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: '엔드포인트 모드. 테스트 API 키는 생략하거나 true를 사용하며 true로 강제됩니다. false는 AUTH_FORBIDDEN을 반환합니다. live API 키는 두 모드를 선택할 수 있습니다.'
    WebhookInfo:
      type: object
      properties:
        url:
          type: string
          format: uri
          nullable: true
          description: 등록된 웹훅 URL
        createdAt:
          type: string
          format: date-time
          nullable: true
          description: 생성 시각
    WebhookCreateRequest:
      type: object
      required:
      - url
      properties:
        name:
          type: string
          maxLength: 100
          description: 웹훅 이름 (식별용)
        url:
          type: string
          format: uri
          description: 웹훅 엔드포인트 URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: '엔드포인트 모드. 테스트 API 키에서는 생략하거나 true를 사용하며 false는 AUTH_FORBIDDEN을 반환합니다. live API 키는 두 모드를 선택할 수 있습니다.'
    WebhookUpdateRequest:
      type: object
      required:
      - url
      properties:
        name:
          type: string
          maxLength: 100
          description: 웹훅 이름
        url:
          type: string
          format: uri
          description: 웹훅 URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: '엔드포인트 모드. 테스트 API 키에서는 생략 시 테스트 모드를 유지하고 true는 허용되며 false는 AUTH_FORBIDDEN을 반환합니다. live API 키는 두 모드를 선택할 수 있습니다.'
    WebhookListItem:
      type: object
      properties:
        id:
          type: integer
          description: 웹훅 ID
        name:
          type: string
          description: 웹훅 이름
        url:
          type: string
          format: uri
          description: 웹훅 URL
        isActive:
          type: boolean
          description: 활성화 상태
        isTest:
          type: boolean
          description: 테스트 엔드포인트 여부
        lastSentAt:
          type: string
          format: date-time
          nullable: true
          description: 마지막 전송 시각
        createdAt:
          type: string
          format: date-time
          description: 생성 시각
    WebhookDetail:
      type: object
      properties:
        id:
          type: integer
          description: 웹훅 ID
        name:
          type: string
          description: 웹훅 이름
        url:
          type: string
          format: uri
          description: 웹훅 URL
        secret:
          type: string
          description: 웹훅 서명 시크릿
        isActive:
          type: boolean
          description: 활성화 상태
        isTest:
          type: boolean
          description: 테스트 엔드포인트 여부
        createdAt:
          type: string
          format: date-time
          description: 생성 시각
        updatedAt:
          type: string
          format: date-time
          description: 수정 시각
    WebhookEvent:
      type: object
      properties:
        id:
          type: integer
          description: 이벤트 DB ID
        eventId:
          type: string
          format: uuid
          description: 이벤트 UUID
        eventType:
          type: string
          description: 이벤트 타입
          example: order.antiAi.completed
        status:
          type: string
          enum:
          - PENDING
          - SENT
          - RETRYING
          - FAILED
          description: 전송 상태
        retries:
          type: integer
          description: 재시도 횟수
        lastSentAt:
          type: string
          format: date-time
          nullable: true
          description: 마지막 전송 시각
        createdAt:
          type: string
          format: date-time
          description: 생성 시각
    WebhookPagination:
      type: object
      properties:
        page:
          type: integer
          description: 현재 페이지
        limit:
          type: integer
          description: 페이지당 항목 수
        total:
          type: integer
          description: 전체 항목 수
        totalPages:
          type: integer
          description: 전체 페이지 수
  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: VALIDATION_FAILED
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: AUTH_NOT_AUTHENTICATED
    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: RESOURCE_NOT_FOUND
    UsageLimitExceeded:
      description: 사용량 한도 초과
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: USAGE_LIMIT_EXCEEDED
    InternalError:
      description: 내부 서버 오류
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: SERVER_INTERNAL_ERROR
    Forbidden:
      description: API 키가 요청한 모드를 사용할 권한이 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: AUTH_FORBIDDEN
    WebhookNotFound:
      description: 웹훅 엔드포인트를 찾을 수 없거나 이 API 키로 접근할 수 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: WEBHOOK_NOT_FOUND

tags:
- name: Anti-AI
  description: AI 학습 방지 이미지 보호 주문
- name: Watermark Embed
  description: 워터마크 삽입 주문
- name: Watermark Extract
  description: 워터마크 추출 주문
- name: AI Detection
  description: AI 생성 이미지 감지 주문
- name: Orders
  description: 주문 조회 및 관리
- name: Webhooks
  description: 웹훅 설정 및 이벤트
paths:
  /api/v2/orders/anti-ai:
    post:
      summary: Anti-AI 주문 생성
      operationId: createAntiAiOrder
      description: 'AI 감지 방지 처리를 위한 주문을 생성합니다.


        ## 입력 모드 (업로드 / URL / 혼합)

        입력 모드는 각 파일 객체에 `originalFileUrl` 포함 여부로 결정됩니다:

        - **업로드 모드** (`originalFileUrl` 없음): 프리사인드 URL 발급 → 클라이언트가 S3에 업로드 → `/confirm` 호출

        - **URL 모드** (`originalFileUrl` 제공): URL에서 이미지를 다운로드하여 즉시 처리

        - **혼합 모드**: 일부 파일은 업로드 모드, 나머지는 URL 모드로 동시 처리


        ### 동작 방식

        | 조건 | 주문 상태 | Confirm 필요 |

        |------|-----------|-------------|

        | 모든 파일에 `originalFileUrl` 있음 | `inProgress` | 불필요 (즉시 처리) |

        | `originalFileUrl` 없는 파일 포함 | `pending` | 필요 (업로드 후 confirm) |


        ## Zero Copy 모드

        `mode.zeroCopy: true`로 설정하면, 처리 결과가 고객이 제공한 프리사인드 URL로 직접 업로드됩니다.

        이 경우 `outputTargets` 배열이 필수이며 `files` 배열과 동일한 길이여야 합니다.

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: 중복 요청 방지를 위한 멱등성 키
                orderName:
                  type: string
                  maxLength: 64
                  description: 주문 이름 (미입력 시 자동 생성)
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    properties:
                      fileName:
                        type: string
                        description: 파일 이름 (확장자 포함)
                        example: image.jpg
                      originalFileUrl:
                        type: string
                        format: uri
                        description: '원본 이미지 URL (선택)

                          - 제공 시: URL 모드 (프리사인드 URL 미발급, 즉시 처리)

                          - 미제공 시: 업로드 모드 (프리사인드 URL 발급, confirm 필요)

                          '
                        example: https://example.com/image.jpg
                mode:
                  type: object
                  description: 처리 모드 설정
                  properties:
                    zeroCopy:
                      type: boolean
                      default: false
                      description: Zero Copy 모드 활성화
                outputTargets:
                  type: array
                  description: Zero Copy 모드 결과 업로드 대상 (mode.zeroCopy가 true일 때 필수)
                  items:
                    type: object
                    required:
                    - fileKey
                    - url
                    - presignedUrlExpiresAt
                    properties:
                      fileKey:
                        type: string
                        description: 파일 키 (식별자)
                      url:
                        type: string
                        format: uri
                        description: 결과 업로드를 위한 프리사인드 URL
                      presignedUrlExpiresAt:
                        type: string
                        format: date-time
                        description: 프리사인드 URL 만료 시각 (ISO 8601)
                options:
                  $ref: '#/components/schemas/OrderOptions'
            examples:
              uploadMode:
                summary: 업로드 모드 (기본)
                value:
                  idempotencyKey: 2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40
                  files:
                  - fileName: image1.jpg
                  - fileName: image2.png
                  options:
                    strength: high
              urlMode:
                summary: URL 모드 (즉시 처리)
                value:
                  idempotencyKey: 3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71
                  files:
                  - fileName: image1.jpg
                    originalFileUrl: https://example.com/image1.jpg
                  - fileName: image2.png
                    originalFileUrl: https://example.com/image2.png
                  options:
                    strength: high
              mixedMode:
                summary: 혼합 모드
                value:
                  idempotencyKey: 4d8b6f2a-a3c1-4e97-b2d5-7a9f1c4e6b82
                  files:
                  - fileName: upload-file.jpg
                  - fileName: url-file.png
                    originalFileUrl: https://example.com/image.png
                  options:
                    strength: standard
      responses:
        '200':
          description: 주문 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        enum:
                        - pending
                        - inProgress
                        description: '주문 상태

                          - `pending`: 업로드 파일 포함 (confirm 필요)

                          - `inProgress`: 모든 파일이 URL 모드 (즉시 처리)

                          '
                      files:
                        type: array
                        items:
                          $ref: '#/components/schemas/AntiAiOrderFile'
              examples:
                uploadModeResponse:
                  summary: 업로드 모드 응답
                  value:
                    data:
                      orderName: anti_ai_2026-02-09
                      orderId: '123456789'
                      status: pending
                      files:
                      - fileId: '1'
                        fileName: image1.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: temp/123456789/0/image1.jpg
                urlModeResponse:
                  summary: URL 모드 응답
                  value:
                    data:
                      orderName: anti_ai_2026-02-09
                      orderId: '123456789'
                      status: inProgress
                      files:
                      - fileId: '1'
                        fileName: image1.jpg
                        originalFileUrl: https://example.com/image1.jpg
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai \\\n  -H\
          \ \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40\",\n    \"files\": [\n\
          \      {\"fileName\": \"image1.jpg\"},\n      {\"fileName\": \"image2.png\"\
          }\n    ],\n    \"options\": {\"strength\": \"high\"}\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40',\n    files: [\n      { fileName: 'image1.jpg'\
          \ },\n      { fileName: 'image2.png' }\n    ],\n    options: { strength:\
          \ 'high' }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40',\n        'files': [\n            {'fileName': 'image1.jpg'},\n\
          \            {'fileName': 'image2.png'}\n        ],\n        'options':\
          \ {'strength': 'high'}\n    }\n)\ndata = response.json()"
  /api/v2/orders/anti-ai/confirm:
    post:
      summary: Anti-AI 주문 확인
      operationId: confirmAntiAiOrder
      description: '파일 업로드 완료 후 처리를 시작하기 위해 호출합니다.

        - 모든 업로드 파일이 S3에 업로드된 후 호출

        - 처리가 시작되면 상태가 `inProgress`로 변경

        - 혼합 모드에서는 업로드 파일만 S3 존재 여부를 확인하며, URL 파일은 이미 준비됨

        - 모든 파일이 URL 모드인 주문은 이미 `inProgress` 상태이므로 confirm 불필요

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - orderId
              properties:
                idempotencyKey:
                  type: string
                  description: 멱등성 키
                orderId:
                  type: string
                  description: 주문 ID
      responses:
        '200':
          description: 주문 확인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai/confirm \\\
          \n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63\",\n    \"orderId\"\
          : \"ORDER_ID\"\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai/confirm',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63',\n    orderId: 'ORDER_ID'\n  })\n\
          });\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai/confirm',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63',\n        'orderId': 'ORDER_ID'\n    }\n)\ndata = response.json()"
  /api/v2/orders/anti-ai/with-urls:
    post:
      summary: URL로 Anti-AI 주문 생성
      operationId: createAntiAiOrderWithUrls
      deprecated: true
      description: '**사용 중단**: 대신 `originalFileUrl` 필드를 사용한 `/anti-ai` 엔드포인트를 사용하세요.


        이미지 URL을 직접 제공하여 처리합니다.

        - 프리사인드 URL 발급 없이 즉시 처리 시작

        - 제공된 URL에서 이미지를 다운로드하여 처리


        ## Zero Copy 모드

        `mode.zeroCopy: true`로 설정하면, 처리 결과가 고객이 제공한 프리사인드 URL로 직접 업로드됩니다.

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: 멱등성 키
                orderName:
                  type: string
                  maxLength: 64
                  description: 주문 이름 (선택)
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    - imageUrl
                    properties:
                      fileName:
                        type: string
                        description: 파일 이름 (확장자 포함)
                        example: image.jpg
                      imageUrl:
                        type: string
                        format: uri
                        description: 이미지 URL
                mode:
                  type: object
                  properties:
                    zeroCopy:
                      type: boolean
                      default: false
                outputTargets:
                  type: array
                  items:
                    type: object
                    required:
                    - fileKey
                    - url
                    - presignedUrlExpiresAt
                    properties:
                      fileKey:
                        type: string
                      url:
                        type: string
                        format: uri
                      presignedUrlExpiresAt:
                        type: string
                        format: date-time
                options:
                  $ref: '#/components/schemas/OrderOptions'
      responses:
        '200':
          description: 주문 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        example: inProgress
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai/with-urls\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71\",\n    \"files\":\
          \ [\n      {\n        \"fileName\": \"image1.jpg\",\n        \"imageUrl\"\
          : \"https://example.com/image1.jpg\"\n      }\n    ],\n    \"options\":\
          \ {\"strength\": \"high\"}\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai/with-urls',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71',\n    files: [\n      {\n        fileName:\
          \ 'image1.jpg',\n        imageUrl: 'https://example.com/image1.jpg'\n  \
          \    }\n    ],\n    options: { strength: 'high' }\n  })\n});\nconst data\
          \ = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai/with-urls',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71',\n        'files': [\n            {\n                'fileName':\
          \ 'image1.jpg',\n                'imageUrl': 'https://example.com/image1.jpg'\n\
          \            }\n        ],\n        'options': {'strength': 'high'}\n  \
          \  }\n)\ndata = response.json()"
  /api/v2/orders/wtr-embed:
    post:
      summary: 워터마크 삽입 주문 생성
      operationId: createWatermarkEmbedOrder
      description: '워터마크 삽입 주문을 생성합니다.

        - 이미지당 최대 10개의 워터마크 텍스트

        - 주문당 최대 100개의 파일

        - 지원 이미지 형식 (IMG): jpg, jpeg, png, webp, bmp, tiff

        - 지원 문서 형식 (DOCUMENT): pdf


        ## 입력 모드 (업로드 / URL / 혼합)

        입력 모드는 각 파일 객체의 `originalFileUrl` 존재 여부에 따라 결정됩니다:

        - **업로드 모드** (`originalFileUrl` 없음): Presigned URL 발급 → 클라이언트가 S3에 업로드 → 처리 자동 시작

        - **URL 모드** (`originalFileUrl` 제공): 해당 URL에서 이미지를 다운로드하여 즉시 처리

        - **혼합 모드**: 일부 파일은 업로드 모드, 나머지는 URL 모드로 동시 처리


        ### 동작 방식

        | 조건 | 주문 상태 | Confirm 필요 여부 |

        |------|---------|-----------------|

        | 모든 파일에 `originalFileUrl` 있음 | `pending` | 불필요 (서버 다운로드 후 자동 시작) |

        | `originalFileUrl` 없는 파일 존재 | `pending` | 불필요 (업로드 후 자동 시작) |


        <Note>Anti-AI, AI Detection과 달리 Watermark Embed는 별도의 confirm 단계가 필요하지 않습니다. 파일 업로드가 완료되면 처리가 자동으로
        시작됩니다.</Note>

        '
      tags:
      - Watermark Embed
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: 멱등성 키
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    - watermarks
                    properties:
                      fileName:
                        type: string
                        description: 파일 이름
                        example: image.jpg
                      originalFileUrl:
                        type: string
                        format: uri
                        description: '원본 이미지 URL (선택)

                          - 제공 시: URL 모드 (presigned URL 미발급, 즉시 처리)

                          - 미제공 시: 업로드 모드 (presigned URL 발급)

                          '
                        example: https://example.com/image.jpg
                      watermarks:
                        type: array
                        minItems: 1
                        maxItems: 10
                        items:
                          type: object
                          required:
                          - text
                          properties:
                            text:
                              type: string
                              maxLength: 1000
                              description: 워터마크 텍스트
            examples:
              uploadMode:
                summary: 업로드 모드 (기본)
                value:
                  idempotencyKey: 5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93
                  files:
                  - fileName: image1.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: image2.png
                    watermarks:
                    - text: MORI_WATERMARK
              urlMode:
                summary: URL 모드 (즉시 처리)
                value:
                  idempotencyKey: 6f1d8b4c-c5e3-4029-94f7-9c2b3e6a8d04
                  files:
                  - fileName: image1.jpg
                    originalFileUrl: https://example.com/image1.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: image2.png
                    originalFileUrl: https://example.com/image2.png
                    watermarks:
                    - text: MORI_WATERMARK
              mixedMode:
                summary: 혼합 모드
                value:
                  idempotencyKey: 7a2e9c5d-d6f4-413a-a5b8-0d3c4f7b9e15
                  files:
                  - fileName: upload-file.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: url-file.png
                    originalFileUrl: https://example.com/image.png
                    watermarks:
                    - text: MORI_WATERMARK
      responses:
        '200':
          description: 주문 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        enum:
                        - pending
                        description: '주문 상태

                          - `pending`: 입력 모드에 관계없이 항상 반환

                          '
                      files:
                        type: array
                        items:
                          type: object
                          description: '파일 정보 (모드에 따라 필드가 다릅니다)

                            - 업로드 모드: fileId, fileName, uploadUrl, fileKey, fileFormat, fileType

                            - URL 모드: fileId, fileName, originalFileUrl, fileKey, fileFormat, fileType'
                          properties:
                            fileId:
                              type: integer
                            fileName:
                              type: string
                            uploadUrl:
                              type: string
                              format: uri
                              description: '업로드 URL이며 업로드 모드에서만 반환됩니다. live 키는 S3 presigned URL을 받고, 테스트 키는 절대 `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL을 받습니다. 두 URL은 1시간 후 만료됩니다. signed token 자체가 테스트 업로드를 인가하므로 PUT에 Authorization 헤더가 필요 없습니다. 테스트 요청 본문은 스트림으로 소비되어 저장되지 않으며, 테스트 주문은 사용량 차감이나 실제 외부 처리 없이 모의 결과로 전이합니다.'
                            originalFileUrl:
                              type: string
                              format: uri
                              description: 요청에 전달된 공개 이미지 URL. URL 모드에서만 반환됩니다.
                            fileKey:
                              type: string
                              description: |
                                파일 식별자: live 키에서는 S3 object key이고 테스트 키에서는 격리된 logical key입니다.
                            fileFormat:
                              type: string
                              description: 파일 형식.
                              enum:
                              - JPG
                              - PNG
                              - WEBP
                              - BMP
                              - TIFF
                              - PDF
                            fileType:
                              type: string
                              description: 파일 유형 분류.
                              enum:
                              - IMG
                              - DOCUMENT
              examples:
                uploadModeResponse:
                  summary: 업로드 모드 응답
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424706541233094656'
                      status: pending
                      files:
                      - fileId: 2469
                        fileName: image.jpg
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424706541233094656/images/1/image.jpg
                        fileFormat: JPG
                        fileType: IMG
                      - fileId: 2470
                        fileName: document.pdf
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424706541233094656/documents/2/document.pdf
                        fileFormat: PDF
                        fileType: DOCUMENT
                urlModeResponse:
                  summary: URL 모드 응답
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424707536709206016'
                      status: pending
                      files:
                      - fileId: 2490
                        fileName: image.png
                        originalFileUrl: https://example.com/image.jpg
                        fileKey: wtr-embed/424707536709206016/images/1/image.png
                        fileFormat: PNG
                        fileType: IMG
                mixedModeResponse:
                  summary: 혼합 모드 응답
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424707536709206016'
                      status: pending
                      files:
                      - fileId: 2490
                        fileName: image.png
                        originalFileUrl: https://example.com/image.jpg
                        fileKey: wtr-embed/424707536709206016/images/1/image.png
                        fileFormat: PNG
                        fileType: IMG
                      - fileId: 2491
                        fileName: photo.jpeg
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424707536709206016/images/2/photo.jpeg
                        fileFormat: JPG
                        fileType: IMG
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/wtr-embed \\\n  -H\
          \ \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93\",\n    \"files\"\
          : [\n      {\n        \"fileName\": \"image.jpg\",\n        \"watermarks\"\
          : [{\"text\": \"MORI_WATERMARK\"}]\n      }\n    ]\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/wtr-embed',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93',\n    files: [\n      {\n        fileName:\
          \ 'image.jpg',\n        watermarks: [{ text: 'MORI_WATERMARK' }]\n     \
          \ }\n    ]\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/wtr-embed',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93',\n        'files': [\n            {\n                'fileName':\
          \ 'image.jpg',\n                'watermarks': [{'text': 'MORI_WATERMARK'}]\n\
          \            }\n        ]\n    }\n)\ndata = response.json()"
  /api/v2/orders/wtr-extract:
    post:
      summary: 워터마크 추출 주문 생성
      operationId: createWatermarkExtractOrder
      x-mint:
        href: /ko/api-reference/watermark-extract/create-order
      description: '워터마크 추출 주문을 생성합니다.

        - 주문당 파일 1개

        - 이미지 (jpg, jpeg, png, webp, bmp, tiff) 또는 PDF 파일 지원

        - 이미지의 경우 `includeOriginal: true`로 원본 파일도 함께 업로드 가능

        - PDF는 `includeOriginal` 미지원

        '
      tags:
      - Watermark Extract
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - file
              properties:
                idempotencyKey:
                  type: string
                  description: 멱등성 키
                file:
                  type: object
                  required:
                  - fileName
                  properties:
                    fileName:
                      type: string
                      description: 워터마크된 파일 이름 (확장자 포함)
                      example: watermarked.jpg
                    includeOriginal:
                      type: boolean
                      default: false
                      description: '원본 파일 포함 (이미지 전용)

                        - true: 원본 파일 업로드 URL도 발급

                        - PDF 파일에는 사용 불가

                        '
                    originalFile:
                      type: object
                      description: 원본 파일 정보 (includeOriginal이 true일 때 필수)
                      required:
                      - fileName
                      properties:
                        fileName:
                          type: string
                          description: 원본 파일 이름
                          example: original.jpg
            examples:
              imageOnly:
                summary: 단일 이미지 (워터마크만)
                value:
                  idempotencyKey: 8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26
                  file:
                    fileName: watermarked.jpg
              imageWithOriginal:
                summary: 이미지 + 원본 포함
                value:
                  idempotencyKey: 9c4a2e7f-f8b6-435c-87da-2f5e6b9d1a37
                  file:
                    fileName: watermarked.jpg
                    includeOriginal: true
                    originalFile:
                      fileName: original.jpg
              pdfOnly:
                summary: PDF 파일
                value:
                  idempotencyKey: ad5b3f8a-a9c7-446d-98eb-3a6f7c0e2b48
                  file:
                    fileName: document.pdf
      responses:
        '200':
          description: 주문 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                        description: 주문 이름 (자동 생성)
                      orderId:
                        type: string
                        description: 주문 ID
                      file:
                        $ref: '#/components/schemas/WtrExtractOrderFile'
              examples:
                imageOnlyResponse:
                  summary: 단일 이미지 응답
                  value:
                    data:
                      orderName: wtr_extract_2026-02-13
                      orderId: '123456789'
                      file:
                        fileId: 1
                        fileName: watermarked.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: 123/456/watermarked.jpg
                        fileFormat: JPG
                        fileType: IMG
                        role: watermarked
                        sequence: 1
                imageWithOriginalResponse:
                  summary: 이미지 + 원본 응답
                  value:
                    data:
                      orderName: wtr_extract_2026-02-13
                      orderId: '123456789'
                      file:
                        fileId: 1
                        fileName: watermarked.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: 123/456/watermarked.jpg
                        fileFormat: JPG
                        fileType: IMG
                        role: watermarked
                        sequence: 1
                        originalFile:
                          fileId: 2
                          fileName: original.jpg
                          uploadUrl: https://s3.amazonaws.com/...
                          fileKey: 123/456/original.jpg
                          fileFormat: JPG
                          fileType: IMG
                          role: original
                          sequence: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/wtr-extract \\\n\
          \  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26\",\n    \"file\"\
          : {\n      \"fileName\": \"watermarked.jpg\"\n    }\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/wtr-extract',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26',\n    file: {\n      fileName: 'watermarked.jpg'\n\
          \    }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/wtr-extract',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26',\n        'file': {\n            'fileName': 'watermarked.jpg'\n\
          \        }\n    }\n)\ndata = response.json()"
  /api/v2/orders/ai-detection:
    post:
      summary: AI Detection 주문 생성
      operationId: createAiDetectionOrder
      description: 'AI Detection 주문을 생성하고 이미지 업로드 URL을 발급합니다. live 키는 S3 presigned URL을 받고, 테스트 키는 절대 BIZ MORI test-upload URL을 받습니다.


        ## 처리 흐름


        1. 이 엔드포인트를 호출하여 업로드 URL을 발급받습니다

        2. live S3 URL 또는 테스트 BIZ MORI URL로 이미지를 업로드합니다

        3. `POST /api/v2/orders/ai-detection/confirm` 을 호출하여 비동기 감지를 시작합니다

        4. 웹훅 또는 주문 상세 조회 엔드포인트를 통해 결과를 확인합니다


        ## 주문 상태


        | 상태 | 설명 |

        |------|------|

        | `pending` | 파일 업로드 대기 중 |

        | `inProgress` | 감지 처리 중 |

        | `complete` | 감지 완료, 결과 확인 가능 |

        | `failed` | 감지 실패 |


        ## 지원 파일 형식


        jpg, jpeg, png, webp, bmp, tiff

        '
      tags:
      - AI Detection
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - fileName
              properties:
                idempotencyKey:
                  type: string
                  description: 중복 요청 방지를 위한 멱등성 키
                  example: 0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59
                orderName:
                  type: string
                  maxLength: 64
                  description: 주문명 (선택 사항, 미입력 시 자동 생성)
                  example: my-detection-order
                fileName:
                  type: string
                  description: '이미지 파일명 (확장자 포함). 지원 형식: jpg, jpeg, png, webp, bmp, tiff'
                  example: photo.jpg
                options:
                  type: object
                  description: 출력 옵션 (선택사항). 생성된 파일은 주문 상세 조회 응답에 포함됩니다.
                  properties:
                    generateHeatmap:
                      type: boolean
                      default: false
                      description: AI 판별 히트맵 이미지 생성 여부
                    generateOverlay:
                      type: boolean
                      default: false
                      description: 원본 위 히트맵 오버레이 이미지 생성 여부
                    generateThumbnail:
                      type: boolean
                      default: false
                      description: 썸네일 이미지 생성 여부
      responses:
        '200':
          description: 주문 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderId:
                        type: string
                        description: 주문 ID
                      orderName:
                        type: string
                        description: 주문명
                      status:
                        type: string
                        enum:
                        - pending
                        description: 주문 상태
                      file:
                        type: object
                        properties:
                          fileId:
                            type: integer
                            description: 파일 레코드 ID
                          fileName:
                            type: string
                            description: 파일명
                          uploadUrl:
                            type: string
                            format: uri
                            description: '업로드 URL. live 키는 S3 presigned URL을 받고, 테스트 키는 절대 `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL을 받습니다. 두 URL은 1시간 후 만료됩니다. signed token 자체가 테스트 업로드를 인가하므로 PUT에 Authorization 헤더가 필요 없습니다. 테스트 요청 본문은 스트림으로 소비되어 저장되지 않으며, 테스트 주문은 사용량 차감이나 실제 외부 처리 없이 모의 결과로 전이합니다.'
                          fileKey:
                            type: string
                            description: |
                              파일 식별자: live 키에서는 S3 object key이고 테스트 키에서는 격리된 logical key입니다.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/ai-detection\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type:\
          \ application/json\" \\\n  -d '{\"idempotencyKey\": \"0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59\", \"fileName\"\
          : \"photo.jpg\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/ai-detection',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59',\n    fileName: 'photo.jpg'\n  })\n});\n\
          const data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/ai-detection',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'idempotencyKey':\
          \ '0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59', 'fileName': 'photo.jpg'}\n)\ndata = response.json()"
  /api/v2/orders/ai-detection/confirm:
    post:
      summary: AI Detection 주문 확인
      operationId: confirmAiDetectionOrder
      description: '이미지 업로드가 완료되었음을 확인하고 처리를 시작합니다.


        주문 생성 엔드포인트에서 받은 업로드 URL로 이미지를 업로드한 후 이 엔드포인트를 호출하세요.
        주문 상태가 `pending`에서 `inProgress`로 변경됩니다.


        감지 결과는 웹훅(`order.aiDetection.completed` 또는 `order.aiDetection.failed`)으로 전달되거나, [주문 상세 조회](/ko/api-reference/orders/get-order)
        엔드포인트를 폴링하여 확인할 수 있습니다.


        동일한 `idempotencyKey`로 재요청 시 현재 주문 상태를 반환합니다. (중복 처리 방지)

        '
      tags:
      - AI Detection
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - orderId
              properties:
                idempotencyKey:
                  type: string
                  description: 중복 요청 방지를 위한 멱등성 키. 동일한 키로 재요청 시 재처리 없이 현재 주문 상태를
                    반환합니다.
                  example: c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95
                orderId:
                  type: string
                  description: 주문 ID
      responses:
        '200':
          description: 처리 시작됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderId:
                        type: string
                        description: 주문 ID
                      status:
                        type: string
                        enum:
                        - inProgress
                        description: 주문 상태
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST \"https://api.bizmori.com/api/v2/orders/ai-detection/confirm\"\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type:\
          \ application/json\" \\\n  -d '{\"idempotencyKey\": \"c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95\"\
          , \"orderId\": \"ORDER_ID\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://api.bizmori.com/api/v2/orders/ai-detection/confirm',\n\
          \  {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer\
          \ YOUR_API_TOKEN',\n      'Content-Type': 'application/json'\n    },\n \
          \   body: JSON.stringify({ idempotencyKey: 'c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95', orderId:\
          \ 'ORDER_ID' })\n  }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/ai-detection/confirm',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'idempotencyKey':\
          \ 'c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95', 'orderId': 'ORDER_ID'}\n)\ndata = response.json()"
  /api/v2/orders:
    get:
      summary: 주문 목록 조회
      operationId: listOrders
      x-mint:
        href: /ko/api-reference/orders/list-orders
      description: '페이지네이션을 포함한 주문 목록을 조회합니다.

        - 상태, 타입, 채널로 필터링 가능

        - 키워드 검색 지원

        - 최신순 정렬

        '
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        description: 페이지 번호
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: 페이지당 항목 수 (-1은 전체 조회)
      - in: query
        name: keyword
        schema:
          type: string
        description: 검색 키워드
      - in: query
        name: status
        schema:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          - all
          default: all
        description: 상태 필터
      - in: query
        name: type
        schema:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          - all
        description: 주문 타입 필터
      - in: query
        name: channel
        schema:
          type: string
          enum:
          - api
          - web
          - all
          default: all
        description: 채널 필터
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orders:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'
                      pageInfo:
                        $ref: '#/components/schemas/PageInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET \"https://api.bizmori.com/api/v2/orders?page=1&limit=10&status=all\" \\\n\
          \  -H \"Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const params = new URLSearchParams({ page: 1, limit: 10, status: 'all' });\nconst response\
          \ = await fetch(\n  `https://api.bizmori.com/api/v2/orders?${params}`,\n  { headers: { 'Authorization':\
          \ 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    params={'page': 1, 'limit': 10,\
          \ 'status': 'all'}\n)\ndata = response.json()"
  /api/v2/orders/stats/recent:
    get:
      summary: 최근 사용 통계
      operationId: getRecentOrderStats
      x-mint:
        href: /ko/api-reference/orders/recent-stats
      description: 최근 7일간의 사용 통계
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: 기준 날짜 (ISO String)
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UsageStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/stats/recent \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://api.bizmori.com/api/v2/orders/stats/recent',\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders/stats/recent',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/{orderId}:
    get:
      summary: 주문 상세 조회
      operationId: getOrder
      x-mint:
        href: /ko/api-reference/orders/get-order
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: 주문 ID
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OrderDetail'
              examples:
                antiAi:
                  summary: Anti-AI 주문
                  value:
                    data:
                      type: antiAi
                      orderId: '1234567890123456789'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: anti_ai_2026-03-12
                      fileCount: 3
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:05:00.000Z'
                      errors: null
                watermarkEmbed:
                  summary: 워터마크 삽입 주문
                  value:
                    data:
                      type: watermarkEmbed
                      orderId: '1234567890123456790'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: wtr_embed_2026-03-12
                      fileCount: 2
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:03:00.000Z'
                      errors: null
                      watermarks:
                      - MORI-WTR-001
                      - MORI-WTR-002
                watermarkExtract:
                  summary: 워터마크 추출 주문
                  value:
                    data:
                      type: watermarkExtract
                      orderId: '1234567890123456791'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: wtr_extract_2026-03-12
                      fileCount: 1
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:02:00.000Z'
                      errors: null
                      statusCode: detected
                      watermarkText: MORI-WTR-001
                aiDetection:
                  summary: AI Detection 주문
                  value:
                    data:
                      type: aiDetection
                      orderId: '1234567890123456792'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      originalImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: ai_detection_2026-03-12
                      fileCount: 1
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:01:00.000Z'
                      errors: null
                      probability: 0.92
                      statusCode: likely_ai
                      heatmapUrl: https://s3.amazonaws.com/...
                      overlayUrl: https://s3.amazonaws.com/...
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/ORDER_ID \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()"
  /api/v2/orders/{orderId}/download:
    get:
      summary: 다운로드 URL 발급
      operationId: downloadOrderFiles
      x-mint:
        href: /ko/api-reference/orders/download-order
      description: '완료된 주문 파일의 다운로드 URL을 발급합니다.

        - `complete` 상태의 주문에서만 사용 가능

        - URL 유효 시간: 1시간

        - 주문 생성 후 최대 7일까지 파일 다운로드 가능

        - 7일이 경과하면 주문이 `expired` 상태로 전환되며, 이후 파일을 다운로드할 수 없습니다

        - 테스트 주문은 결과 파일을 만들지 않으므로 이 엔드포인트가 `404`와
        `PROCESSED_FILE_NOT_FOUND`를 반환합니다

        '
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: 주문 ID
      responses:
        '200':
          description: URL 발급 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                        description: 다운로드 URL (프리사인드)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/ORDER_ID/download \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}/download`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();\n\
          // data.data.url contains the presigned download URL"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}/download',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()\n# data['data']['url']\
          \ contains the presigned download URL"
  /api/v2/orders/{orderId}/refresh-urls:
    post:
      summary: 프리사인드 URL 갱신
      operationId: refreshOrderUrls
      description: '만료된 업로드 URL을 재발급합니다. live 키는 S3 presigned URL을 받고, 테스트 키는 절대 `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL을 받습니다. 두 URL은 1시간 동안 유효합니다.

        - `pending` 상태의 주문에서만 사용 가능

        - 테스트 주문은 저장소 프리사인드 URL 대신 BIZ MORI 테스트 업로드 URL을 반환합니다

        '
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: 주문 ID
      responses:
        '200':
          description: URL 갱신 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      files:
                        type: array
                        items:
                          $ref: '#/components/schemas/OrderFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/ORDER_ID/refresh-urls \\\n  -H \"\
          Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}/refresh-urls`,\n\
          \  {\n    method: 'POST',\n    headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' }\n  }\n\
          );\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.post(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}/refresh-urls',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/webhook:
    post:
      summary: 웹훅 등록 (구버전)
      operationId: createLegacyWebhook
      deprecated: true
      description: '**사용 중단**: 이 API는 `/webhooks`로 대체되었습니다.


        주문 처리 완료 또는 실패 시 알림을 받을 웹훅 URL을 등록합니다. live API 키는 isTest를 선택할 수 있고 생략 시 false입니다. 테스트 API 키는 isTest를 생략하거나 true를 사용하며 true로 강제되고, false는 AUTH_FORBIDDEN을 반환합니다.

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRegisterRequest'
      responses:
        '200':
          description: 웹훅 등록 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/webhook \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\": \"\
          https://example.com/webhook\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/webhook', {\n  method:\
          \ 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({ url: 'https://example.com/webhook' })\n\
          });\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/webhook',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'url': 'https://example.com/webhook'}\n\
          )\ndata = response.json()"
    get:
      summary: 웹훅 조회 (구버전)
      operationId: getLegacyWebhook
      deprecated: true
      description: '**사용 중단**: 이 API는 `/webhooks`로 대체되었습니다.

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/webhook \\\n  -H \"Authorization: Bearer\
          \ YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://api.bizmori.com/api/v2/orders/webhook',\n \
          \ { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders/webhook',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
    delete:
      summary: 웹훅 삭제 (구버전)
      operationId: deleteLegacyWebhook
      deprecated: true
      description: '**사용 중단**: 이 API는 `/webhooks/{webhookId}`로 대체되었습니다.

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      responses:
        '200':
          description: 웹훅 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X DELETE https://api.bizmori.com/api/v2/orders/webhook \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/webhook', {\n  method:\
          \ 'DELETE',\n  headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' }\n});\nconst data = await\
          \ response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.delete(\n    'https://api.bizmori.com/api/v2/orders/webhook',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/webhooks:
    get:
      summary: 웹훅 목록 조회
      operationId: listWebhooks
      description: '페이지네이션을 포함한 등록된 웹훅 목록을 조회합니다. 테스트 API 키는 같은 owner의 `isTest=true` 엔드포인트만 보며, live 키는 기존처럼 live/test 혼합 목록을 봅니다.

        - 이름, URL, 활성화 상태, 마지막 전송 시각 포함

        - `isTest: true` 엔드포인트는 테스트 주문 이벤트를 받으며, 테스트 API 키는 같은 owner의 테스트 엔드포인트만 관리할 수 있습니다

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          default: 1
        description: 페이지 번호
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: 페이지당 항목 수
      - in: query
        name: keyword
        schema:
          type: string
        description: 검색 키워드 (웹훅 이름 또는 URL 검색)
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      webhooks:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookListItem'
                      pagination:
                        $ref: '#/components/schemas/WebhookPagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET \"https://api.bizmori.com/api/v2/orders/webhooks?page=1&limit=10\" \\\n \
          \ -H \"Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const params = new URLSearchParams({ page: 1, limit: 10 });\nconst response = await fetch(\n\
          \  `https://api.bizmori.com/api/v2/orders/webhooks?${params}`,\n  { headers: { 'Authorization':\
          \ 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders/webhooks',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    params={'page': 1, 'limit': 10}\n\
          )\ndata = response.json()"
    post:
      summary: 웹훅 생성
      operationId: createWebhook
      description: "새 웹훅을 등록합니다. 테스트 API 키에서 `isTest`를 생략하거나 true로 지정하면 같은 owner의 테스트 엔드포인트가 생성되고, `isTest: false`는 `AUTH_FORBIDDEN`을 반환합니다.\n- 여러 웹훅 등록 가능\n- 등록 시 서명 시크릿이 반환됩니다\n\n**중요**: 시크릿은\
        \ 이 응답에서만 확인 가능합니다. 안전하게 보관하세요.\n\n## 웹훅 이벤트 타입\n\n| 이벤트 타입 | 설명 |\n|------------|------|\n\
        | `order.antiAi.completed` | Anti-AI 처리 완료 |\n| `order.antiAi.failed` | Anti-AI\
        \ 처리 실패 |\n| `order.watermarkEmbed.completed` | 워터마크 삽입 완료 |\n| `order.watermarkEmbed.failed`\
        \ | 워터마크 삽입 실패 |\n| `order.watermarkExtract.completed` | 워터마크 추출 완료 |\n| `order.watermarkExtract.failed`\
        \ | 워터마크 추출 실패 |\n\n## 서명 검증\n\n웹훅 요청에는 `X-MoriBiz-Signature` 헤더가 포함됩니다.\n\
        서명은 등록 시 발급된 시크릿으로 HMAC-SHA256을 사용하여 생성됩니다.\n\n```javascript\nconst crypto\
        \ = require('crypto');\nconst signature = crypto.createHmac('sha256', secret)\n\
        \  .update(JSON.stringify(payload))\n  .digest('hex');\n```\n\n## 재시도 정책\n\
        \n- 최대 3회 재시도\n- 지수 백오프 (1초, 2초, 4초)\n- 성공 응답: 2xx 상태 코드\n\n테스트 웹훅 엔드포인트는 `isTest`를 `true`로 지정합니다. 테스트 API 키는 같은 owner의 테스트 엔드포인트만 관리할 수 있습니다.\n"
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
      responses:
        '200':
          description: 웹훅 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: 웹훅 ID
                      name:
                        type: string
                        description: 웹훅 이름
                      secret:
                        type: string
                        description: '웹훅 서명 시크릿.

                          **주의**: 이 값은 다시 조회할 수 없습니다. 안전하게 보관하세요.

                          '
                      isTest:
                        type: boolean
                        description: 테스트 엔드포인트 여부
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/webhooks \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\"\
          : \"My Webhook\",\n    \"url\": \"https://example.com/webhook\"\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/webhooks', {\n  method:\
          \ 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({\n    name: 'My Webhook',\n    url: 'https://example.com/webhook'\n\
          \  })\n});\nconst data = await response.json();\n// Save data.data.secret securely — it won't\
          \ be shown again"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/webhooks',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'name': 'My Webhook',\n\
          \        'url': 'https://example.com/webhook'\n    }\n)\ndata = response.json()\n# Save data['data']['secret']\
          \ securely — it won't be shown again"
  /api/v2/orders/webhooks/{webhookId}:
    get:
      summary: 웹훅 상세 조회
      operationId: getWebhook
      description: '특정 웹훅의 상세 정보를 조회합니다. 테스트 API 키는 같은 owner의 테스트 엔드포인트만 조회할 수 있으며, live 또는 다른 owner ID는 존재 여부를 공개하지 않고 `WEBHOOK_NOT_FOUND`를 반환합니다.'
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: 웹훅 ID
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/webhooks/WEBHOOK_ID \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const webhookId = 'WEBHOOK_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/webhooks/${webhookId}`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nwebhook_id = 'WEBHOOK_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/webhooks/{webhook_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()"
    put:
      summary: 웹훅 수정
      operationId: updateWebhook
      description: '웹훅 정보를 수정합니다. 테스트 API 키는 같은 owner의 테스트 엔드포인트만 수정할 수 있습니다. `isTest` 생략은 테스트 모드를 유지하고 true는 허용되며 false는 `AUTH_FORBIDDEN`을 반환합니다. live 또는 다른 owner ID는 `WEBHOOK_NOT_FOUND`를 반환합니다.'
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: 웹훅 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                        format: uri
                      isActive:
                        type: boolean
                      isTest:
                        type: boolean
                        description: 테스트 엔드포인트 여부
                      updatedAt:
                        type: string
                        format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X PUT https://api.bizmori.com/api/v2/orders/webhooks/WEBHOOK_ID \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\"\
          : \"Updated Webhook\",\n    \"url\": \"https://example.com/webhook-v2\"\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const webhookId = 'WEBHOOK_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/webhooks/${webhookId}`,\n\
          \  {\n    method: 'PUT',\n    headers: {\n      'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      name: 'Updated\
          \ Webhook',\n      url: 'https://example.com/webhook-v2'\n    })\n  }\n);\nconst data = await\
          \ response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nwebhook_id = 'WEBHOOK_ID'\nresponse = requests.put(\n    f'https://api.bizmori.com/api/v2/orders/webhooks/{webhook_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'},\n    json={\n        'name': 'Updated Webhook',\n\
          \        'url': 'https://example.com/webhook-v2'\n    }\n)\ndata = response.json()"
    delete:
      summary: 웹훅 삭제
      operationId: deleteWebhook
      description: '웹훅을 삭제합니다. 테스트 API 키는 같은 owner의 테스트 엔드포인트만 삭제할 수 있으며, live 또는 다른 owner ID는 존재 여부를 공개하지 않고 `WEBHOOK_NOT_FOUND`를 반환합니다.'
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: 웹훅 ID
      responses:
        '200':
          description: 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X DELETE https://api.bizmori.com/api/v2/orders/webhooks/WEBHOOK_ID \\\n  -H \"\
          Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const webhookId = 'WEBHOOK_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/webhooks/${webhookId}`,\n\
          \  {\n    method: 'DELETE',\n    headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' }\n  }\n\
          );\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nwebhook_id = 'WEBHOOK_ID'\nresponse = requests.delete(\n    f'https://api.bizmori.com/api/v2/orders/webhooks/{webhook_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()"
  /api/v2/orders/webhooks/{webhookId}/events:
    get:
      summary: 웹훅 이벤트 목록 조회
      operationId: listWebhookEvents
      description: '특정 웹훅의 전송 이벤트 목록을 페이지네이션으로 조회합니다. 테스트 API 키는 같은 owner의 테스트 엔드포인트 이벤트만 보며, live 또는 다른 owner ID는 `WEBHOOK_NOT_FOUND`를 반환합니다.

        - 상태, 이벤트 타입, 전송 시각 포함

        - 테스트 API 키는 같은 owner의 테스트 엔드포인트만 관리할 수 있습니다

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: 웹훅 ID
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          default: 1
        description: 페이지 번호
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: 페이지당 항목 수
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      events:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookEvent'
                      pagination:
                        $ref: '#/components/schemas/WebhookPagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET \"https://api.bizmori.com/api/v2/orders/webhooks/WEBHOOK_ID/events?page=1&limit=20\"\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const webhookId = 'WEBHOOK_ID';\nconst params = new URLSearchParams({ page: 1, limit:\
          \ 20 });\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/webhooks/${webhookId}/events?${params}`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nwebhook_id = 'WEBHOOK_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/webhooks/{webhook_id}/events',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    params={'page': 1, 'limit': 20}\n\
          )\ndata = response.json()"
  /api/v2/orders/webhooks/{webhookId}/events/{eventId}/retry:
    post:
      summary: 웹훅 이벤트 재전송
      operationId: retryWebhookEvent
      description: '실패한 단일 웹훅 이벤트를 수동으로 재전송합니다. 테스트 API 키는 같은 owner의 테스트 엔드포인트 이벤트만 재전송할 수 있습니다. 접근 불가 엔드포인트는 `WEBHOOK_NOT_FOUND`, 접근 가능한 엔드포인트 밖의 이벤트는 `WEBHOOK_EVENT_NOT_FOUND`를 반환합니다.

        - `FAILED` 상태의 이벤트만 재전송할 수 있습니다

        - 성공 시 이벤트 상태가 `SENT`로 변경됩니다

        - 재전송 실패 시 이벤트는 `FAILED` 상태를 유지하며, 30분 후 스케줄러 기반 재시도가 등록됩니다

        - 테스트 API 키는 같은 owner의 테스트 엔드포인트만 관리할 수 있습니다

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: 웹훅 ID
      - in: path
        name: eventId
        required: true
        schema:
          type: integer
        description: 웹훅 이벤트 ID
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      event_id:
                        type: string
                        description: 원본 이벤트 UUID
                      success:
                        type: boolean
                        description: 재전송 성공 여부
                      status_code:
                        type: integer
                        description: 웹훅 엔드포인트의 HTTP 응답 코드 (성공 시)
                      status:
                        type: string
                        description: 이벤트 상태 (재전송 실패 시)
                        example: FAILED
                      error:
                        type: string
                        description: 오류 메시지 (재전송 실패 시)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 웹훅 엔드포인트 또는 이벤트를 찾을 수 없거나 이 API 키로 접근할 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                webhookNotFound:
                  summary: 웹훅 엔드포인트를 찾을 수 없거나 접근할 수 없음
                  value:
                    code: WEBHOOK_NOT_FOUND
                webhookEventNotFound:
                  summary: 접근 가능한 웹훅 엔드포인트에 이벤트가 없음
                  value:
                    code: WEBHOOK_EVENT_NOT_FOUND
        '422':
          description: 재전송 불가능한 이벤트
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/webhooks/WEBHOOK_ID/events/EVENT_ID/retry\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/webhooks/${webhookId}/events/${eventId}/retry`,\n\
          \  {\n    method: 'POST',\n    headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' }\n  }\n\
          );\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    f'https://api.bizmori.com/api/v2/orders/webhooks/{webhook_id}/events/{event_id}/retry',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/webhooks/{webhookId}/events/retry-failed:
    post:
      summary: 실패한 웹훅 이벤트 일괄 재전송
      operationId: retryFailedWebhookEvents
      description: '지정된 기간 내 실패한 모든 웹훅 이벤트를 재전송합니다. 테스트 API 키는 같은 owner의 테스트 엔드포인트만 재전송할 수 있으며, 접근 불가 엔드포인트는 `WEBHOOK_NOT_FOUND`를 반환합니다.

        - 요청당 최대 50개의 실패 이벤트를 재전송합니다

        - 날짜 범위는 최대 7일을 초과할 수 없습니다

        - 각 이벤트는 개별적으로 재전송됩니다

        - 테스트 API 키는 같은 owner의 테스트 엔드포인트만 관리할 수 있습니다

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: 웹훅 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - fromDate
              - toDate
              properties:
                fromDate:
                  type: string
                  format: date
                  description: 시작 날짜 (ISO 8601 형식, 예시 2026-01-01)
                  example: '2026-01-01'
                toDate:
                  type: string
                  format: date
                  description: 종료 날짜 (ISO 8601 형식, 예시 2026-01-07). fromDate로부터 최대 7일까지 지정 가능합니다.
                  example: '2026-01-07'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: 해당 기간 내 발견된 실패 이벤트 총 수
                      succeeded:
                        type: integer
                        description: 재전송 성공한 이벤트 수
                      failed:
                        type: integer
                        description: 재전송 실패한 이벤트 수
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
[...]
