openapi: 3.0.0
info:
  title: BIZ MORI API
  version: 2.0.0
  description: 'BIZ MORI API は、デジタルコンテンツ保護のための4つのコアサービスを提供します:

    - **Anti-AI**: 画像をAI学習から保護

    - **Watermark Embed**: 画像に不可視のデジタル watermark を埋め込み

    - **Watermark Extract**: 画像から watermark を抽出・検証

    - **AI Detection**: 画像がAI生成かどうかを検知

    - **テストAPIキー**: `sk_test_` プレフィックスのキーは同じBearer認証を使用し、実際の処理サービスの実行やクレジットの消費なしに注文ライフサイクルを検証できます。テストアップロードの内容は破棄され、結果ファイルは作成されません'
  contact:
    name: BIZ MORI サポート
    email: support@bizmori.com
  license:
    name: Proprietary
    url: https://docs.bizmori.com/legal/terms
servers:
- url: https://api.bizmori.com
  description: 本番環境
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 外部クライアントアクセス用のBearer APIキー。本番キーは `sk_` プレフィックスを使用し、テストキーは `sk_test_` プレフィックスを使用して、処理やクレジット消費なしに注文ライフサイクルを検証します。
  schemas:
    BaseResponse:
      type: object
      properties:
        data:
          oneOf:
          - type: object
            nullable: true
            additionalProperties: true
          - type: array
            items: {}
          description: レスポンスデータ（データがない場合はnull）
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: エラーコード
    PageInfo:
      type: object
      properties:
        totalItems:
          type: integer
          description: 総項目数
        totalPages:
          type: integer
          description: 総ページ数
        currentPage:
          type: integer
          description: 現在のページ番号
        itemsPerPage:
          type: integer
          description: ページあたりの項目数
    OrderOptions:
      type: object
      properties:
        strength:
          type: string
          enum:
          - low
          - standard
          - high
          default: high
          description: '保護強度レベル

            * low - 低い保護強度

            * standard - 標準の保護強度

            * high - 高い保護強度'
    OrderFile:
      type: object
      properties:
        fileId:
          type: string
          description: ファイルID
        fileName:
          type: string
          description: ファイル名
        uploadUrl:
          type: string
          format: uri
          description: アップロードURL（プリサインドURL）
        fileKey:
          type: string
          description: S3ファイルキー
    AntiAiOrderFile:
      type: object
      description: 'Anti-AI 注文ファイル情報（ファイルモードによってフィールドが異なります）

        - アップロードモード: fileId, fileName, uploadUrl, fileKey

        - URLモード: fileId, fileName, originalFileUrl'
      properties:
        fileId:
          type: string
          description: ファイルID
        fileName:
          type: string
          description: ファイル名
        uploadUrl:
          type: string
          format: uri
          description: アップロードURL（プリサインドURL）— アップロードモードのファイルのみ
        fileKey:
          type: string
          description: S3ファイルキー — アップロードモードのファイルのみ
        originalFileUrl:
          type: string
          format: uri
          description: 元画像URL — URLモードのファイルのみ
    WtrExtractOrderFile:
      type: object
      description: watermark 抽出注文ファイル情報
      properties:
        fileId:
          type: integer
          description: ファイルID
        fileName:
          type: string
          description: ファイル名
        uploadUrl:
          type: string
          format: uri
          description: アップロードURL（プリサインドURL）
        fileKey:
          type: string
          description: S3ファイルキー
        fileFormat:
          type: string
          description: ファイル形式
          example: JPG
        fileType:
          type: string
          enum:
          - IMG
          - DOCUMENT
          description: ファイルタイプ（画像またはPDF）
        role:
          type: string
          enum:
          - watermarked
          description: ファイルの役割（メインファイルは常に"watermarked"）
        sequence:
          type: integer
          description: ファイル順序番号（常に1）
          example: 1
        originalFile:
          type: object
          nullable: true
          description: 元ファイル情報（includeOriginalがtrueの場合のみ含まれます）
          properties:
            fileId:
              type: integer
              description: ファイルID
            fileName:
              type: string
              description: ファイル名
            uploadUrl:
              type: string
              format: uri
              description: アップロードURL（プリサインドURL）
            fileKey:
              type: string
              description: S3ファイルキー
            fileFormat:
              type: string
              description: ファイル形式
            fileType:
              type: string
              enum:
              - IMG
              description: ファイルタイプ（画像のみ）
            role:
              type: string
              enum:
              - original
              description: ファイルの役割（常に"original"）
            sequence:
              type: integer
              description: ファイル順序番号（常に1）
              example: 1
    Order:
      type: object
      properties:
        orderId:
          type: string
          description: 注文ID
        orderName:
          type: string
          description: 注文名
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: 注文タイプ。v3 watermark API で作成した注文も `watermarkEmbed` または `watermarkExtract` として返します
        channel:
          type: string
          enum:
          - api
          - web
          description: 注文チャネル
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: '注文ステータス

            * pending - 待機中

            * inProgress - 処理中

            * complete - 完了

            * failed - 失敗

            * expired - 期限切れ（注文作成から7日経過するとファイルはダウンロードできません）'
        fileCount:
          type: integer
          description: ファイル数。v3 watermark 注文は、埋め込みなら元ファイルの数、抽出なら検査ファイルだけを数えます
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: |
            サムネイル画像 URL(presigned URL、1 時間有効)。aiDetection 注文は generateThumbnail オプションを使用した場合のみ返します。失効すると null です。
            v3 watermark 注文は、処理完了後に最大 100×100 の WebP サムネイル(PDF は 1 ページ目)を返します。処理前・失敗・サムネイルがない注文はステータス画像を返します。
        createdAt:
          type: string
          format: date-time
          description: 作成日時
        updatedAt:
          type: string
          format: date-time
          description: 最終更新日時
        probability:
          type: number
          nullable: true
          description: AI検知確率（aiDetection注文専用）
        statusCode:
          type: string
          nullable: true
          enum:
          - detected
          - undetected
          - inconclusive
          - unsupported
          - error
          - likely_real
          - uncertain_real
          - uncertain_ai
          - likely_ai
          description: |
            注文タイプ別のステータスコード。結果が出る前は `null` です。

            **watermarkExtract 注文:**

            * `detected` - watermark を検出
            * `undetected` - watermark 未検出
            * `inconclusive` - 判定不可 (v3 注文のみ)
            * `unsupported` - 処理できない入力 (v3 注文のみ)
            * `error` - 検出処理の失敗 (v3 注文のみ)

            **aiDetection 注文** (probability から算出):

            * `likely_real` - 実際のコンテンツの可能性が高い
            * `uncertain_real` - 不確実、実際のコンテンツ寄り
            * `uncertain_ai` - 不確実、AI 生成寄り
            * `likely_ai` - AI 生成の可能性が高い
    OrderDetail:
      type: object
      description: 注文詳細情報
      properties:
        orderId:
          type: string
          description: 注文ID
        orderName:
          type: string
          description: 注文名
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: 注文タイプ
        channel:
          type: string
          enum:
          - api
          - web
          description: 注文チャネル
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: 注文ステータス
        fileCount:
          type: integer
          description: ファイル数
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: |
            サムネイル画像URL（プリサインドURL、有効期限1時間）。期限切れの場合はnullです。
            Anti-AI注文は、縦横比を保った幅740×高さ400以内のWebP詳細サムネイルを返します。この変更より前に作成された注文や、詳細サムネイルを作成できなかった注文は200×200のサムネイルを返します。
            AI Detection注文は、処理完了後に `generateThumbnail` オプションに関係なく詳細サムネイル（WebP、740×400以内）を返します。リサイズ画像が用意できていない場合は、元の入力画像のURLを返します。
        originalImageUrl:
          type: string
          format: uri
          nullable: true
          description: |
            元の入力画像のダウンロードURL（プリサインドURL、有効期限1時間）。aiDetection注文専用。期限切れの場合はnullです。
            処理完了後は、通常、長辺を1600px以内に縮小したコピー（WebP）を返します。リサイズしたコピーが用意できていない場合は、元の入力画像を返します。
        createdAt:
          type: string
          format: date-time
          description: 作成日時
        updatedAt:
          type: string
          format: date-time
          description: 更新日時
        errors:
          type: string
          nullable: true
          description: エラーメッセージ（失敗時）
        watermarks:
          type: array
          items:
            type: string
          description: watermark テキスト一覧（watermarkEmbed注文専用）
        watermarkText:
          type: string
          nullable: true
          description: 抽出された watermark テキスト（watermarkExtract注文専用）
        probability:
          type: number
          nullable: true
          description: AI検知確率（aiDetection注文専用）
        statusCode:
          type: string
          nullable: true
          description: '注文タイプ別のステータスコード。

            **watermarkExtract 注文:**

            * detected - watermark を検出

            * undetected - watermark 未検出

            **aiDetection 注文**（probabilityから自動計算）:

            * likely_real - probability < 0.25

            * uncertain_real - 0.25 <= probability < 0.5

            * uncertain_ai - 0.5 <= probability < 0.75

            * likely_ai - probability >= 0.75

            他の注文タイプでは返却されません。'
        options:
          type: object
          nullable: true
          description: 注文作成時に設定したオプション（aiDetection注文専用）
          properties:
            generateHeatmap:
              type: boolean
              description: ヒートマップ画像をリクエストしたかどうか
              example: true
            generateOverlay:
              type: boolean
              description: オーバーレイ画像をリクエストしたかどうか
              example: true
            generateThumbnail:
              type: boolean
              description: サムネイル画像をリクエストしたかどうか
              example: true
        heatmapUrl:
          type: string
          format: uri
          nullable: true
          description: |
            AI検知ヒートマップ画像のダウンロードURL（aiDetection注文専用、generateHeatmapオプション使用時に返却）。
            通常、長辺を1600px以内に縮小したWebPです。リサイズ画像が用意できていない場合は、元のサイズのPNGを返します。
        overlayUrl:
          type: string
          format: uri
          nullable: true
          description: |
            元画像にヒートマップを重ねたオーバーレイ画像のダウンロードURL（aiDetection注文専用、generateOverlayオプション使用時に返却）。
            通常、長辺を1600px以内に縮小したWebPです。リサイズ画像が用意できていない場合は、元のサイズのPNGを返します。
    UsageStats:
      type: object
      properties:
        dailyStats:
          type: array
          items:
            type: object
            properties:
              usageDate:
                type: string
                description: 使用日（MM.DD）
              usageCount:
                type: integer
                description: 使用回数
        domain:
          type: array
          items:
            type: integer
          description: チャートY軸の範囲 [最小値, 最大値]
        ticks:
          type: array
          items:
            type: integer
          description: チャートY軸の目盛り値
    WebhookRegisterRequest:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: Webhookエンドポイント URL
          example: https://example.com/webhook
    WebhookInfo:
      type: object
      properties:
        url:
          type: string
          format: uri
          nullable: true
          description: 登録されたWebhook URL
        createdAt:
          type: string
          format: date-time
          nullable: true
          description: 作成日時
    WebhookCreateRequest:
      type: object
      required:
      - url
      properties:
        name:
          type: string
          maxLength: 100
          description: Webhook名（識別用）
        url:
          type: string
          format: uri
          description: Webhookエンドポイント URL
          example: https://example.com/webhook
    WebhookUpdateRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
          description: Webhook名
        url:
          type: string
          format: uri
          description: Webhook URL
          example: https://example.com/webhook
    WebhookListItem:
      type: object
      properties:
        id:
          type: integer
          description: Webhook ID
        name:
          type: string
          description: Webhook名
        url:
          type: string
          format: uri
          description: Webhook URL
        isActive:
          type: boolean
          description: 有効状態
        lastSentAt:
          type: string
          format: date-time
          nullable: true
          description: 最終送信日時
        createdAt:
          type: string
          format: date-time
          description: 作成日時
    WebhookDetail:
      type: object
      properties:
        id:
          type: integer
          description: Webhook ID
        name:
          type: string
          description: Webhook名
        url:
          type: string
          format: uri
          description: Webhook URL
        secret:
          type: string
          description: Webhook署名シークレット
        isActive:
          type: boolean
          description: 有効状態
        createdAt:
          type: string
          format: date-time
          description: 作成日時
        updatedAt:
          type: string
          format: date-time
          description: 更新日時
    WebhookEvent:
      type: object
      properties:
        id:
          type: integer
          description: イベントDB ID
        eventId:
          type: string
          format: uuid
          description: イベントUUID
        eventType:
          type: string
          description: イベントタイプ
          example: order.antiAi.completed
        status:
          type: string
          enum:
          - PENDING
          - SENT
          - RETRYING
          - FAILED
          description: 配信ステータス
        retries:
          type: integer
          description: リトライ回数
        lastSentAt:
          type: string
          format: date-time
          nullable: true
          description: 最終送信日時
        createdAt:
          type: string
          format: date-time
          description: 作成日時
    WebhookPagination:
      type: object
      properties:
        page:
          type: integer
          description: 現在のページ
        limit:
          type: integer
          description: ページあたりの項目数
        total:
          type: integer
          description: 総項目数
        totalPages:
          type: integer
          description: 総ページ数
    WatermarkV1OrderResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/WatermarkV1Order'
    WatermarkV1Order:
      type: object
      description: 'v3 API で作成した不可視 watermark 注文（注文作成レスポンス）。注文詳細は形式の異なる `GET /api/v3/orders/{orderId}` で取得してください'
      required:
      - orderId
      - status
      - processingDelayed
      - files
      - outputs
      - result
      - reports
      properties:
        orderId:
          type: string
          description: 注文 ID
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: |
            注文の処理ステータス

            * `pending` - ファイルのアップロード待ち
            * `inProgress` - 処理中
            * `complete` - 処理完了。抽出注文は `result` で結果を確認します
            * `failed` - 処理失敗、または 12 時間以内にアップロードされなかった
            * `expired` - 保管期限を過ぎ、ファイルが削除された
        processingDelayed:
          type: boolean
          description: 自動再試行をすべて使い切り、手動復旧を待っている場合は `true`。注文は `inProgress` のままです
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: 注文ファイルが削除される日時。以降のダウンロードとレポートは `ORDER_EXPIRED` を返します
        files:
          type: array
          description: リクエスト順の入力ファイル。抽出注文は元ファイル、検査ファイルの順です
          items:
            $ref: '#/components/schemas/WatermarkV1UploadFile'
        outputs:
          type: array
          description: 埋め込み結果。watermark テキストごとに 1 件で、抽出注文では空の配列です
          items:
            $ref: '#/components/schemas/WatermarkV1Output'
        result:
          $ref: '#/components/schemas/WatermarkV1DetectionResult'
        reports:
          type: array
          description: この注文でリクエストしたレポート
          items:
            type: object
            required:
            - locale
            - status
            properties:
              locale:
                type: string
                enum:
                - ko-KR
                - en-US
                - ja-JP
              status:
                type: string
                enum:
                - queued
                - processing
                - completed
                - failed
    WatermarkV1UploadFile:
      type: object
      required:
      - fileId
      - uploadUrl
      properties:
        fileId:
          type: string
          description: 入力ファイル ID
        uploadUrl:
          type: string
          format: uri
          nullable: true
          description: |
            ファイルアップロード用の presigned `PUT` URL(900 秒有効)。注文の `status` が `pending` で保管期限前、かつアップロード待ちのファイルにだけ発行します。
            `originalFileUrl` で指定したファイル、アップロード済みのファイル、12 時間のアップロード期限を過ぎて `failed` になった注文、保管期限を過ぎた注文は `null` です。
    WatermarkV1Output:
      type: object
      required:
      - fileId
      - inputFileId
      - outputIndex
      - watermarkText
      - status
      - mediaKind
      properties:
        fileId:
          type: string
          description: '注文内で結果を区別する `{inputFileId}-{連番}` 形式の識別子（注文作成レスポンス専用）。注文詳細の `result.outputFiles[].fileId` とダウンロードレスポンスの `files[].fileId` は数字の文字列で、この値とは異なります'
        inputFileId:
          type: string
          description: この結果を作成した入力ファイル ID
        outputIndex:
          type: integer
          minimum: 0
          description: 入力ファイルの `watermarks` 内でのテキストの位置
        watermarkText:
          type: string
          description: 埋め込んだ watermark テキスト
        status:
          type: string
          enum:
          - pending
          - queued
          - processing
          - completed
          - failed
          - retry_required
          description: この結果ファイルの処理ステータス
        mediaKind:
          type: string
          enum:
          - image
          - pdf
    WatermarkV1DetectionResult:
      type: object
      nullable: true
      description: 抽出結果の概要。埋め込み注文と、結果が出る前は `null` で、以下のフィールドだけを含みます
      required:
      - detectionStatus
      - reportSupported
      - watermarkText
      additionalProperties: false
      properties:
        detectionStatus:
          type: string
          enum:
          - detected
          - not_detected
          - inconclusive
          - unsupported
          - error
          description: |
            * `detected` - watermark を検出
            * `not_detected` - 最後まで検査したが watermark なし
            * `inconclusive` - 候補はあるが確信度の基準に満たず判定不可
            * `unsupported` - 処理できない入力 (クレジット返金)
            * `error` - 検出処理の失敗。watermark なしとは異なる (クレジット返金)
        reportSupported:
          type: boolean
          description: この結果からレポートを作成できるかどうか。PDF からキャプチャした画像は `false`
        watermarkText:
          type: string
          nullable: true
          description: |
            検出された watermark の埋め込みテキスト。`detectionStatus` が `detected` で、呼び出し元のアカウントが埋め込み、発行記録がちょうど 1 件のときだけ返します。
            別のアカウントが埋め込んだ watermark など、それ以外は `null` です。
    PublicInputFile:
      type: object
      description: '`watermarkExtract` 以外の注文の入力ファイル（リクエストの順）。`role` キーはありません。`uploadUrl` キーは注文の `status` が `pending` で、そのファイルがアップロード待ちのときだけ含まれ、それ以外はキー自体がありません（`null` にはなりません）'
      required:
      - fileId
      - fileName
      additionalProperties: false
      properties:
        fileId:
          type: string
          pattern: ^[0-9]+$
          description: 入力ファイル ID。数字だけの文字列です
          example: '11'
        fileName:
          type: string
          nullable: true
          description: 入力ファイル名（拡張子を含む）。不明な場合は `null` です
          example: cat.png
        uploadUrl:
          type: string
          format: uri
          description: ファイルをアップロードするための presigned `PUT` URL。注文の `status` が `pending` で保管期限前、かつそのファイルがアップロード待ちのときだけ含まれます。アップロード済みのファイル、`originalFileUrl` で指定したファイル、`pending` ではない注文ではキーがありません
    PublicExtractInputFile:
      type: object
      description: '`watermarkExtract` の注文の入力ファイル。元のファイルと検査対象を区別する `role` が加わります。`uploadUrl` のルールは `PublicInputFile` と同じです'
      required:
      - fileId
      - fileName
      - role
      additionalProperties: false
      properties:
        fileId:
          type: string
          pattern: ^[0-9]+$
          description: 入力ファイル ID。数字だけの文字列です
          example: '51'
        fileName:
          type: string
          nullable: true
          description: 入力ファイル名（拡張子を含む）。不明な場合は `null` です
          example: suspect.png
        role:
          type: string
          enum:
          - original
          - query
          description: |-
            * `original` - watermark を埋め込んだ元のファイル
            * `query` - watermark の有無を検査するファイル。v2 注文の `watermarked` ロールも `query` として返します
        uploadUrl:
          type: string
          format: uri
          description: ファイルをアップロードするための presigned `PUT` URL。`status` が `pending` で、そのファイルがアップロード待ちのときだけ含まれます
    PublicOutputFile:
      type: object
      description: Anti-AI の注文の結果ファイル 1 件。`fileId` はダウンロードのレスポンスの `files[].fileId` と値・順序が一致します
      required:
      - fileId
      - fileName
      - inputFileId
      additionalProperties: false
      properties:
        fileId:
          type: string
          pattern: ^[0-9]+$
          description: 結果ファイル ID。数字だけの文字列で、注文内で一意です
          example: '21'
        fileName:
          type: string
          nullable: true
          description: 結果ファイル名（拡張子を含む）。不明な場合は `null` です
          example: cat.png
        inputFileId:
          type: string
          pattern: ^[0-9]+$
          description: この結果の元になった入力ファイルの `inputFiles[].fileId`
          example: '11'
    PublicWatermarkEmbedOutputFile:
      type: object
      description: watermark 埋め込み注文の結果ファイル 1 件。`PublicOutputFile` に埋め込みテキスト `watermarkText` が加わります。v3 の注文で 1 つの入力ファイルに複数のテキストを埋め込むと、同じ `inputFileId` を持つ結果ファイルが複数作成されます
      required:
      - fileId
      - fileName
      - inputFileId
      - watermarkText
      additionalProperties: false
      properties:
        fileId:
          type: string
          pattern: ^[0-9]+$
          description: 結果ファイル ID。数字だけの文字列で、注文内で一意です
          example: '201'
        fileName:
          type: string
          nullable: true
          description: 結果ファイル名（拡張子を含む）。不明な場合は `null` です
          example: logo.png
        inputFileId:
          type: string
          pattern: ^[0-9]+$
          description: この結果の元になった入力ファイルの `inputFiles[].fileId`
          example: '31'
        watermarkText:
          type: string
          description: この結果ファイルに埋め込んだ watermark テキスト
          example: MORI
    PublicAntiAiResult:
      type: object
      nullable: true
      description: Anti-AI の注文の結果。`status` が `complete` のときだけオブジェクトで、それ以外は `null` です
      required:
      - outputFiles
      additionalProperties: false
      properties:
        outputFiles:
          type: array
          description: 結果ファイルの一覧。入力ファイルごとに結果が 1 件です
          items:
            $ref: '#/components/schemas/PublicOutputFile'
    PublicWatermarkEmbedResult:
      type: object
      nullable: true
      description: watermark 埋め込み注文の結果。`status` が `complete` のときだけオブジェクトで、それ以外は `null` です。以前の v3 レスポンスの `outputs[]` と v2 詳細の `watermarks[]` を置き換えます
      required:
      - outputFiles
      additionalProperties: false
      properties:
        outputFiles:
          type: array
          description: 結果ファイルの一覧。入力ファイルの順、同じ入力の中では結果の順に並びます
          items:
            $ref: '#/components/schemas/PublicWatermarkEmbedOutputFile'
    PublicWatermarkExtractResult:
      type: object
      nullable: true
      description: watermark 検出注文の結果。`status` が `complete` のときだけオブジェクトで、それ以外は `null` です。watermark ID やエンジンの理由コードなどの内部値は含みません
      required:
      - detectionStatus
      - watermarkText
      - reportSupported
      - reports
      additionalProperties: false
      properties:
        detectionStatus:
          type: string
          nullable: true
          enum:
          - detected
          - undetected
          - inconclusive
          - unsupported
          - error
          - null
          description: |-
            判定。検出記録のない v2 の注文（データ異常）だけ `null` です。
            * `detected` - watermark が見つかった
            * `undetected` - 最後まで検査したが watermark はなかった。v3 エンジンの `not_detected` と、保存されたステータスが `undetected` の v2 注文を含みます
            * `inconclusive` - 候補はあるが確信度の基準に届かず判断できない
            * `unsupported` - 処理できない入力（クレジットは返却）
            * `error` - 検出処理の失敗。watermark なしとは異なります。検出処理に失敗した v2 注文を含みます
        watermarkText:
          type: string
          nullable: true
          description: 検出された watermark の埋め込みテキスト。`detectionStatus` が `detected` でなければ `null` です。v3 の注文では、呼び出し元のアカウントが埋め込み、発行記録がちょうど 1 件のときだけ返し、それ以外は `null` です
        reportSupported:
          type: boolean
          description: この検出結果から分析レポートを作成できるかどうか。v2 の注文と PDF からキャプチャした画像は `false` です
        reports:
          type: array
          description: この注文のロケールごとのレポートのステータス。v2 の注文は常に空の配列です
          items:
            type: object
            required:
            - locale
            - status
            additionalProperties: false
            properties:
              locale:
                type: string
                enum:
                - ko-KR
                - en-US
                - ja-JP
              status:
                type: string
                enum:
                - queued
                - processing
                - completed
                - failed
    PublicAiDetectionResult:
      type: object
      nullable: true
      description: AI Detection の注文の結果。`status` が `complete` のときだけオブジェクトで、それ以外は `null` です。以前のレスポンスの `statusCode` は `verdict` に置き換わりました
      required:
      - verdict
      - probability
      - options
      - originalImageUrl
      - heatmapUrl
      - overlayUrl
      additionalProperties: false
      properties:
        verdict:
          type: string
          nullable: true
          enum:
          - likely_real
          - uncertain_real
          - uncertain_ai
          - likely_ai
          - null
          description: |-
            `probability` に基づく判定。`probability` が `null` なら `null` です。
            * `likely_real` - AI 生成ではない可能性が高い、probability < 0.25
            * `uncertain_real` - AI 生成ではない可能性がある、0.25 <= probability < 0.5
            * `uncertain_ai` - AI 生成の可能性がある、0.5 <= probability < 0.75
            * `likely_ai` - AI 生成の可能性が高い、probability >= 0.75
        probability:
          type: number
          format: float
          nullable: true
          minimum: 0
          maximum: 1
          description: AI 生成の確率（0〜1）。値がない場合は `null` です
          example: 0.31
        options:
          type: object
          nullable: true
          description: 注文作成時に設定したオプション。保存されたオプションがなければ `null` です
          properties:
            generateHeatmap:
              type: boolean
            generateOverlay:
              type: boolean
            generateThumbnail:
              type: boolean
        originalImageUrl:
          type: string
          format: uri
          nullable: true
          description: 元の入力画像の URL（presigned、1 時間有効）。リサイズ画像がすべて用意された注文では、長辺 1600px 以内の WebP です
        heatmapUrl:
          type: string
          format: uri
          nullable: true
          description: ヒートマップ画像の URL（presigned、1 時間有効）。`generateHeatmap` オプションを使った注文だけで返し、それ以外は `null` です
        overlayUrl:
          type: string
          format: uri
          nullable: true
          description: 元の画像にヒートマップを重ねた画像の URL（presigned、1 時間有効）。`generateOverlay` オプションを使った注文だけで返し、それ以外は `null` です
    PublicOrderV3DetailCommon:
      type: object
      description: v3 の注文詳細の共通フィールド。すべての注文の種類・watermark エンジンでトップレベルのキーは同じで、種類による違いは `result` の中だけです。以前のレスポンスのトップレベルの `fileCount`、`statusCode`、`files`、`outputs`、`reports`、`watermarks` は返しません
      required:
      - type
      - orderId
      - orderName
      - channel
      - status
      - createdAt
      - updatedAt
      - expiresAt
      - retentionDays
      - thumbnailImageUrl
      - processingDelayed
      - errors
      - inputFiles
      - result
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: 注文の種類。watermark の注文は v2 と v3 のどちらで作成しても `watermarkEmbed` / `watermarkExtract` を返します
        orderId:
          type: string
          description: 注文 ID
          example: '1001'
        orderName:
          type: string
          nullable: true
          description: 注文名。v3 で作成した watermark 注文では表示用のファイル名を、なければ保存された名前を返します
        channel:
          type: string
          enum:
          - api
          - web
          description: 注文チャネル
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: |-
            * `pending` - アップロード待ち
            * `inProgress` - 処理中
            * `complete` - 完了。このときだけ `result` がオブジェクトです
            * `failed` - 失敗。理由は `errors` にあります
            * `expired` - ファイルの保管期限切れ。取得はできますが、`result` とすべての URL は `null` です

            保存されたステータスが `detected` / `undetected` の v2 watermark 検出注文は `complete` を返し、判定は `result.detectionStatus` に入ります
        createdAt:
          type: string
          format: date-time
          description: 作成日時
        updatedAt:
          type: string
          format: date-time
          description: 更新日時
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: ファイルの保管期限（UTC、ISO 8601）。整合性の例外でのみ `null` です
        retentionDays:
          type: integer
          nullable: true
          description: 注文作成時に固定されたファイルの保管期間（日、7 または 30）。整合性の例外でのみ `null` です
          example: 30
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: サムネイル画像の URL。取得元は注文の種類ごとのルールに従います。Anti-AI の注文と v2 の watermark 注文は未完了・失敗時に固定のステータス画像を、AI Detection の注文は詳細サムネイルまたは元の画像を、v3 の watermark 注文は詳細サムネイルを返し、処理前は `null` の場合があります
        processingDelayed:
          type: boolean
          description: v3 で作成した watermark 注文が自動リトライを使い切り、手動復旧を待っているときに `true` です。注文は `inProgress` のままです。それ以外の注文では常に `false` です
        errors:
          type: object
          nullable: true
          description: 失敗した注文のエラー情報で、それ以外は `null` です。v3 で作成した watermark 注文は公開用の `errorCode` と固定の案内文 `errorMessage` を返します。それ以外の注文は保存されたエラー情報をそのまま返し、`errorCode` がない場合があります
          properties:
            errorCode:
              type: string
              description: 'エラーコード。例: `WATERMARK_FILE_CORRUPTED`、`ORDER_TIMEOUT`、`PROCESSING_ERROR`'
              example: WATERMARK_FILE_CORRUPTED
            errorMessage:
              type: string
              description: エラーコードごとの固定の案内文（韓国語）。処理系の生の出力は含みません
        inputFiles:
          type: array
          description: 入力ファイルの一覧（リクエストの順）。ファイル数は `inputFiles.length` です。`watermarkExtract` の注文は `PublicExtractInputFile`（`role` あり）、それ以外の注文は `PublicInputFile` です
          items:
            anyOf:
            - $ref: '#/components/schemas/PublicInputFile'
            - $ref: '#/components/schemas/PublicExtractInputFile'
        result:
          type: object
          nullable: true
          description: 注文の種類ごとの結果。キーは常にあり、`status` が `complete` のときだけオブジェクトで、それ以外は `null` です
    PublicAntiAiOrderV3Detail:
      title: Anti-AI
      description: Anti-AI の注文詳細
      allOf:
      - $ref: '#/components/schemas/PublicOrderV3DetailCommon'
      - type: object
        properties:
          type:
            type: string
            enum:
            - antiAi
          inputFiles:
            type: array
            items:
              $ref: '#/components/schemas/PublicInputFile'
          result:
            $ref: '#/components/schemas/PublicAntiAiResult'
    PublicWatermarkEmbedOrderV3Detail:
      title: watermark 埋め込み
      description: watermark 埋め込み注文の詳細（v2・v3）
      allOf:
      - $ref: '#/components/schemas/PublicOrderV3DetailCommon'
      - type: object
        properties:
          type:
            type: string
            enum:
            - watermarkEmbed
          inputFiles:
            type: array
            items:
              $ref: '#/components/schemas/PublicInputFile'
          result:
            $ref: '#/components/schemas/PublicWatermarkEmbedResult'
    PublicWatermarkExtractOrderV3Detail:
      title: watermark 検出
      description: watermark 検出注文の詳細（v2・v3）。この注文の種類だけ `inputFiles[].role` があります
      allOf:
      - $ref: '#/components/schemas/PublicOrderV3DetailCommon'
      - type: object
        properties:
          type:
            type: string
            enum:
            - watermarkExtract
          inputFiles:
            type: array
            items:
              $ref: '#/components/schemas/PublicExtractInputFile'
          result:
            $ref: '#/components/schemas/PublicWatermarkExtractResult'
    PublicAiDetectionOrderV3Detail:
      title: AI Detection
      description: AI Detection の注文詳細
      allOf:
      - $ref: '#/components/schemas/PublicOrderV3DetailCommon'
      - type: object
        properties:
          type:
            type: string
            enum:
            - aiDetection
          inputFiles:
            type: array
            items:
              $ref: '#/components/schemas/PublicInputFile'
          result:
            $ref: '#/components/schemas/PublicAiDetectionResult'
    PublicOrderV3Detail:
      description: v3 の注文詳細。トップレベルのフィールドはすべての注文の種類で同じ（`PublicOrderV3DetailCommon`）で、`type` によって `result` と検出注文の `inputFiles[].role` だけが異なります
      oneOf:
      - $ref: '#/components/schemas/PublicAntiAiOrderV3Detail'
      - $ref: '#/components/schemas/PublicWatermarkEmbedOrderV3Detail'
      - $ref: '#/components/schemas/PublicWatermarkExtractOrderV3Detail'
      - $ref: '#/components/schemas/PublicAiDetectionOrderV3Detail'
      discriminator:
        propertyName: type
        mapping:
          antiAi: '#/components/schemas/PublicAntiAiOrderV3Detail'
          watermarkEmbed: '#/components/schemas/PublicWatermarkEmbedOrderV3Detail'
          watermarkExtract: '#/components/schemas/PublicWatermarkExtractOrderV3Detail'
          aiDetection: '#/components/schemas/PublicAiDetectionOrderV3Detail'
    PublicOrderV3DetailResponse:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/PublicOrderV3Detail'
    PublicOrderV3DownloadResponse:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - archiveUrl
          - files
          - expiresInSeconds
          additionalProperties: false
          properties:
            archiveUrl:
              type: string
              format: uri
              description: 結果全体を一度に受け取る URL。Anti-AI の注文と v2 の watermark 埋め込み注文では結果の ZIP です。v3 の watermark 埋め込み注文では、結果ファイルが 2 件以上なら ZIP、1 件ならその結果ファイルの URL（`files[0].downloadUrl` と同じファイル）です
            files:
              type: array
              description: 結果ファイルごとのダウンロード URL。注文詳細の `result.outputFiles` と同じファイルを同じ順序で含みます
              items:
                type: object
                required:
                - fileId
                - downloadUrl
                additionalProperties: false
                properties:
                  fileId:
                    type: string
                    pattern: ^[0-9]+$
                    description: 注文詳細の `result.outputFiles[].fileId` と同じ値
                  downloadUrl:
                    type: string
                    format: uri
                    description: 結果ファイルの presigned ダウンロード URL
            expiresInSeconds:
              type: integer
              maximum: 3600
              description: URL の有効期間（秒）。既定は 3600 秒で、`expiresAt` までの残り時間のほうが短い場合はその時間に短縮します
              example: 3600
    OrderReportResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/OrderReportResource'
    OrderReportResource:
      type: object
      required:
      - orderId
      - reportType
      - locale
      - status
      - download
      properties:
        orderId:
          type: string
          description: 注文 ID
        reportType:
          type: string
          enum:
          - watermarkDetection
          - aiDetection
          description: BIZ MORI が注文の種類から決定
        locale:
          type: string
          enum:
          - ko-KR
          - en-US
          - ja-JP
        status:
          type: string
          enum:
          - queued
          - processing
          - completed
          - failed
          description: レポートの作成ステータス
        download:
          nullable: true
          description: ダウンロード情報。`status` が `completed` のときだけ存在
          allOf:
          - $ref: '#/components/schemas/OrderReportDownload'
        failure:
          nullable: true
          description: 失敗情報。`status` が `failed` のときだけ存在
          allOf:
          - $ref: '#/components/schemas/OrderReportFailure'
    OrderReportDownload:
      type: object
      required:
      - url
      - expiresInSeconds
      properties:
        url:
          type: string
          format: uri
          description: |
            300 秒間有効な PDF の署名付き URL。watermark レポートは `<注文名>-report-<locale>.pdf` という名前で保存されます(例: `春キャンペーン-report-ja-JP.pdf`)。
            URL を保存せず、新しい URL が必要なときはレポート API を再度呼び出してください。
        expiresInSeconds:
          type: integer
          enum:
          - 300
    OrderReportFailure:
      type: object
      required:
      - code
      - retryable
      properties:
        code:
          type: string
          enum:
          - REPORT_GENERATION_FAILED
          - REPORT_NOT_AVAILABLE
        retryable:
          type: boolean
          description: |
            `true` の場合、同じ注文・locale で `POST /api/v3/orders/{orderId}/reports` を再度呼び出すと新しく作成できます。
            watermark レポートは失敗が 3 回に達すると `false` です。
  responses:
    BadRequest:
      description: 不正なリクエスト
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: VALIDATION_FAILED
    Unauthorized:
      description: 認証失敗
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: AUTH_NOT_AUTHENTICATED
    NotFound:
      description: リソースが見つかりません
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: RESOURCE_NOT_FOUND
    UsageLimitExceeded:
      description: 使用量上限を超過
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: USAGE_LIMIT_EXCEEDED
    InternalError:
      description: 内部サーバーエラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: SERVER_INTERNAL_ERROR
tags:
- name: Anti-AI
  description: Anti-AI画像保護の注文
- name: Watermark Embed
  description: watermark 埋め込みの注文
- name: Watermark Extract
  description: watermark 抽出の注文
- name: AI Detection
  description: AI生成画像検知の注文
- name: Orders
  description: 注文の照会と管理
- name: Webhooks
  description: Webhookの設定とイベント
- name: Reports
  description: watermark 抽出・AI Detection 注文の PDF 分析レポート
paths:
  /api/v2/orders/anti-ai:
    post:
      summary: Anti-AI注文を作成
      operationId: createAntiAiOrder
      description: 'AI検知防止処理のための注文を作成します。


        ## 入力モード（アップロード / URL / 混合）

        入力モードは、各ファイルオブジェクトに `originalFileUrl` が含まれるかどうかで決定されます:

        - **アップロードモード**（`originalFileUrl` なし）: プリサインドURLを発行 → クライアントがS3にアップロード → `/confirm` を呼び出し

        - **URLモード**（`originalFileUrl` を指定）: URLから画像をダウンロードして即座に処理

        - **混合モード**: 一部のファイルはアップロードモード、残りはURLモードで同時に処理


        ### 動作

        | 条件 | 注文ステータス | Confirmの必要性 |

        |-----------|-------------|-----------------|

        | すべてのファイルに `originalFileUrl` がある | `inProgress` | 不要（即座に処理） |

        | `originalFileUrl` がないファイルが含まれる | `pending` | 必要（アップロード後にconfirm） |


        ## Zero Copy モード

        `mode.zeroCopy: true` の場合、処理結果は顧客が提供したプリサインドURLへ直接アップロードされます。

        この場合、`outputTargets` 配列が必須であり、`files` 配列と同じ長さである必要があります。'
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: 重複リクエストを防ぐための冪等性キー
                orderName:
                  type: string
                  maxLength: 64
                  description: 注文名（任意、未指定の場合は自動生成）
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    properties:
                      fileName:
                        type: string
                        description: ファイル名（拡張子を含む）
                        example: image.jpg
                      originalFileUrl:
                        type: string
                        format: uri
                        description: '元画像URL（任意）

                          - 指定した場合: URLモード（プリサインドURLは発行されず、即座に処理）

                          - 指定しない場合: アップロードモード（プリサインドURLを発行、confirmが必要）'
                        example: https://example.com/image.jpg
                mode:
                  type: object
                  description: 処理モード設定
                  properties:
                    zeroCopy:
                      type: boolean
                      default: false
                      description: Zero Copyモードを有効化
                outputTargets:
                  type: array
                  description: Zero Copyモードの出力アップロード先（mode.zeroCopyがtrueの場合必須）
                  items:
                    type: object
                    required:
                    - fileKey
                    - url
                    - presignedUrlExpiresAt
                    properties:
                      fileKey:
                        type: string
                        description: ファイルキー（識別子）
                      url:
                        type: string
                        format: uri
                        description: 結果アップロード用のプリサインドURL
                      presignedUrlExpiresAt:
                        type: string
                        format: date-time
                        description: プリサインドURLの有効期限（ISO 8601）
                options:
                  $ref: '#/components/schemas/OrderOptions'
            examples:
              uploadMode:
                summary: アップロードモード（従来型）
                value:
                  idempotencyKey: key-upload-001
                  files:
                  - fileName: image1.jpg
                  - fileName: image2.png
                  options:
                    strength: high
              urlMode:
                summary: URLモード（即座に処理）
                value:
                  idempotencyKey: 3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71
                  files:
                  - fileName: image1.jpg
                    originalFileUrl: https://example.com/image1.jpg
                  - fileName: image2.png
                    originalFileUrl: https://example.com/image2.png
                  options:
                    strength: high
              mixedMode:
                summary: 混合モード
                value:
                  idempotencyKey: key-mixed-001
                  files:
                  - fileName: upload-file.jpg
                  - fileName: url-file.png
                    originalFileUrl: https://example.com/image.png
                  options:
                    strength: standard
      responses:
        '200':
          description: 注文が正常に作成されました
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        enum:
                        - pending
                        - inProgress
                        description: '注文ステータス

                          - `pending`: アップロードファイルを含む（confirmが必要）

                          - `inProgress`: すべてのファイルがURLモード（即座に処理）'
                      files:
                        type: array
                        items:
                          $ref: '#/components/schemas/AntiAiOrderFile'
              examples:
                uploadModeResponse:
                  summary: アップロードモードのレスポンス
                  value:
                    data:
                      orderName: anti_ai_2026-02-09
                      orderId: '123456789'
                      status: pending
                      files:
                      - fileId: '1'
                        fileName: image1.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: temp/123456789/0/image1.jpg
                urlModeResponse:
                  summary: URLモードのレスポンス
                  value:
                    data:
                      orderName: anti_ai_2026-02-09
                      orderId: '123456789'
                      status: inProgress
                      files:
                      - fileId: '1'
                        fileName: image1.jpg
                        originalFileUrl: https://example.com/image1.jpg
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"idempotencyKey\"\
          : \"2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40\",\n    \"files\": [\n      {\"fileName\": \"image1.jpg\"},\n      {\"fileName\"\
          : \"image2.png\"}\n    ],\n    \"options\": {\"strength\": \"high\"}\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai', {\n  method:\
          \ 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({\n    idempotencyKey: '2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40',\n    files:\
          \ [\n      { fileName: 'image1.jpg' },\n      { fileName: 'image2.png' }\n    ],\n    options:\
          \ { strength: 'high' }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40',\n        'files': [\n            {'fileName': 'image1.jpg'},\n            {'fileName':\
          \ 'image2.png'}\n        ],\n        'options': {'strength': 'high'}\n    }\n)\ndata = response.json()"
  /api/v2/orders/anti-ai/confirm:
    post:
      summary: Anti-AI注文を確認
      operationId: confirmAntiAiOrder
      description: 'ファイルアップロード完了後、処理を開始するために呼び出します。

        - すべてのアップロードファイルがS3にアップロードされた後に呼び出してください

        - 処理が開始されるとステータスが `inProgress` に変わります

        - 混合モードでは、アップロードファイルのみS3への存在が確認され、URLファイルはすでに準備完了しています

        - すべてのファイルがURLモードの注文はすでに `inProgress` のため、confirmは不要です'
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - orderId
              properties:
                idempotencyKey:
                  type: string
                  description: 冪等性キー
                orderId:
                  type: string
                  description: 注文ID
      responses:
        '200':
          description: 注文の確認に成功しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai/confirm \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"idempotencyKey\"\
          : \"1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63\",\n    \"orderId\": \"ORDER_ID\"\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai/confirm',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({\n    idempotencyKey: '1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63',\n\
          \    orderId: 'ORDER_ID'\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai/confirm',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63',\n        'orderId': 'ORDER_ID'\n    }\n)\ndata = response.json()"
  /api/v2/orders/anti-ai/with-urls:
    post:
      summary: URLでAnti-AI注文を作成
      operationId: createAntiAiOrderWithUrls
      deprecated: true
      description: '**非推奨**: 代わりに `originalFileUrl` フィールドを使用した `/anti-ai` エンドポイントを使用してください。


        画像URLを直接指定して処理します。

        - プリサインドURLの発行なしに即座に処理を開始

        - 指定されたURLから画像をダウンロードして処理


        ## Zero Copy モード

        `mode.zeroCopy: true` の場合、処理結果は顧客が提供したプリサインドURLへ直接アップロードされます。'
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: 冪等性キー
                orderName:
                  type: string
                  maxLength: 64
                  description: 注文名（任意）
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    - imageUrl
                    properties:
                      fileName:
                        type: string
                        description: ファイル名（拡張子を含む）
                        example: image.jpg
                      imageUrl:
                        type: string
                        format: uri
                        description: 画像URL
                mode:
                  type: object
                  properties:
                    zeroCopy:
                      type: boolean
                      default: false
                outputTargets:
                  type: array
                  items:
                    type: object
                    required:
                    - fileKey
                    - url
                    - presignedUrlExpiresAt
                    properties:
                      fileKey:
                        type: string
                      url:
                        type: string
                        format: uri
                      presignedUrlExpiresAt:
                        type: string
                        format: date-time
                options:
                  $ref: '#/components/schemas/OrderOptions'
      responses:
        '200':
          description: 注文が正常に作成されました
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        example: inProgress
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai/with-urls \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"idempotencyKey\"\
          : \"3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71\",\n    \"files\": [\n      {\n        \"fileName\": \"image1.jpg\",\n     \
          \   \"imageUrl\": \"https://example.com/image1.jpg\"\n      }\n    ],\n    \"options\": {\"\
          strength\": \"high\"}\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai/with-urls',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({\n    idempotencyKey: '3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71',\n \
          \   files: [\n      {\n        fileName: 'image1.jpg',\n        imageUrl: 'https://example.com/image1.jpg'\n\
          \      }\n    ],\n    options: { strength: 'high' }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai/with-urls',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71',\n        'files': [\n            {\n                'fileName': 'image1.jpg',\n\
          \                'imageUrl': 'https://example.com/image1.jpg'\n            }\n        ],\n \
          \       'options': {'strength': 'high'}\n    }\n)\ndata = response.json()"
  /api/v2/orders/wtr-embed:
    post:
      summary: watermark 埋め込み注文を作成
      operationId: createWatermarkEmbedOrder
      deprecated: true
      description: '**非推奨。** このエンドポイントは 2026 年 10 月 9 日 09:00 KST（00:00 UTC）にサポートを終了する予定です。`POST /api/v3/orders/wtr-embed` を使用してください。


        このエンドポイントのすべてのレスポンス（認証エラーと `410` レスポンスを含む）には、`Deprecation: true`、`Sunset: Fri, 09 Oct 2026 00:00:00 GMT`、`Link: </api/v3/orders/wtr-embed>; rel="successor-version"` ヘッダーが含まれます。


        2026 年 10 月 9 日 09:00 KST（00:00 UTC）から:

        - 認証・権限の確認はこれまでどおり先に行われるため、`401`・`403` エラーは従来と同じです。

        - 認証を通過した v2 の watermark 埋め込み・抽出リクエストには、本番キーと `sk_test_` キーのどちらでも `410 Gone` と `{ "code": "WATERMARK_V2_API_SUNSET" }` が返されます。`Link` ヘッダーが v3 エンドポイントを示すので、v3 で新しくリクエストしてください。

        - その時点までに処理が始まっていない v2 注文は、処理されずに失敗として確定します。注文の詳細（`errors.errorCode`）と失敗 Webhook には `WATERMARK_V2_API_SUNSET` と v3 への案内メッセージが含まれ、課金されずクレジットは戻ります。

        - 終了時点ですでに処理中の注文は、結果の記録まで完了します。その後に改めて実行されることはありません。


        watermark 埋め込み注文を作成します。

        - 画像1枚あたり最大10個の watermark テキスト

        - 注文あたり最大100ファイル

        - 対応画像形式（IMG）: jpg, jpeg, png, webp, bmp, tiff

        - 対応文書形式（DOCUMENT）: pdf


        ## 入力モード（アップロード / URL / 混合）

        入力モードは、各ファイルオブジェクトに `originalFileUrl` が含まれるかどうかで決定されます:

        - **アップロードモード**（`originalFileUrl` なし）: プリサインドURLを発行 → クライアントがS3にアップロード → 処理が自動的に開始

        - **URLモード**（`originalFileUrl` を指定）: URLから画像をダウンロードして即座に処理

        - **混合モード**: 一部のファイルはアップロードモード、残りはURLモードで同時に処理


        ### 動作

        | 条件 | 注文ステータス | Confirmの必要性 |

        |-----------|-------------|-----------------|

        | すべてのファイルに `originalFileUrl` がある | `pending` | 不要（サーバーのダウンロード完了後に自動開始） |

        | `originalFileUrl` がないファイルが含まれる | `pending` | 不要（アップロード完了後に自動開始） |


        <Note>Anti-AIやAI Detectionと異なり、Watermark Embedでは別途confirmステップは不要です。ファイルアップロードが完了すると処理が自動的に開始されます。</Note>'
      tags:
      - Watermark Embed
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: 冪等性キー
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    - watermarks
                    properties:
                      fileName:
                        type: string
                        description: ファイル名
                        example: image.jpg
                      originalFileUrl:
                        type: string
                        format: uri
                        description: '元画像URL（任意）

                          - 指定した場合: URLモード（プリサインドURLは発行されず、即座に処理）

                          - 指定しない場合: アップロードモード（プリサインドURLを発行）'
                        example: https://example.com/image.jpg
                      watermarks:
                        type: array
                        minItems: 1
                        maxItems: 10
                        items:
                          type: object
                          required:
                          - text
                          properties:
                            text:
                              type: string
                              maxLength: 1000
                              description: watermark テキスト
            examples:
              uploadMode:
                summary: アップロードモード（従来型）
                value:
                  idempotencyKey: 5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93
                  files:
                  - fileName: image1.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: image2.png
                    watermarks:
                    - text: MORI_WATERMARK
              urlMode:
                summary: URLモード（即座に処理）
                value:
                  idempotencyKey: 6a4d2f80-c9e7-45b1-8a3d-2c5f7e9b1d64
                  files:
                  - fileName: image1.jpg
                    originalFileUrl: https://example.com/image1.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: image2.png
                    originalFileUrl: https://example.com/image2.png
                    watermarks:
                    - text: MORI_WATERMARK
              mixedMode:
                summary: 混合モード
                value:
                  idempotencyKey: 7d2a8c4e-5f91-4b63-a7d0-9e1c3f6b8a25
                  files:
                  - fileName: upload-file.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: url-file.png
                    originalFileUrl: https://example.com/image.png
                    watermarks:
                    - text: MORI_WATERMARK
      responses:
        '200':
          description: 注文が正常に作成されました
          headers:
            Deprecation:
              description: 非推奨（deprecated）の API であることを示します
              schema:
                type: string
                example: 'true'
            Sunset:
              description: サポート終了日時（RFC 8594 HTTP-date、2026 年 10 月 9 日 09:00 KST）
              schema:
                type: string
                example: 'Fri, 09 Oct 2026 00:00:00 GMT'
            Link:
              description: 後継の v3 API のパス
              schema:
                type: string
                example: '</api/v3/orders/wtr-embed>; rel="successor-version"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        enum:
                        - pending
                        description: '注文ステータス

                          - `pending`: 入力モードに関わらず常に返却'
                      files:
                        type: array
                        items:
                          type: object
                          description: 'ファイル情報（モードによってフィールドが異なります）

                            - アップロードモード: fileId, fileName, uploadUrl, fileKey, fileFormat, fileType

                            - URLモード: fileId, fileName, originalFileUrl, fileKey, fileFormat, fileType'
                          properties:
                            fileId:
                              type: integer
                            fileName:
                              type: string
                            uploadUrl:
                              type: string
                              format: uri
                              description: プリサインドアップロードURL。アップロードモードでのみ返却されます。
                            originalFileUrl:
                              type: string
                              format: uri
                              description: リクエストで指定された公開画像URL。URLモードでのみ返却されます。
                            fileKey:
                              type: string
                              description: ファイルのS3オブジェクトキー。
                            fileFormat:
                              type: string
                              description: ファイル形式。
                              enum:
                              - JPG
                              - PNG
                              - WEBP
                              - BMP
                              - TIFF
                              - PDF
                            fileType:
                              type: string
                              description: ファイルタイプの分類。
                              enum:
                              - IMG
                              - DOCUMENT
              examples:
                uploadModeResponse:
                  summary: アップロードモードのレスポンス
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424706541233094656'
                      status: pending
                      files:
                      - fileId: 2469
                        fileName: image.jpg
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424706541233094656/images/1/image.jpg
                        fileFormat: JPG
                        fileType: IMG
                      - fileId: 2470
                        fileName: document.pdf
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424706541233094656/documents/2/document.pdf
                        fileFormat: PDF
                        fileType: DOCUMENT
                urlModeResponse:
                  summary: URLモードのレスポンス
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424707536709206016'
                      status: pending
                      files:
                      - fileId: 2490
                        fileName: image.png
                        originalFileUrl: https://example.com/image.jpg
                        fileKey: wtr-embed/424707536709206016/images/1/image.png
                        fileFormat: PNG
                        fileType: IMG
                mixedModeResponse:
                  summary: 混合モードのレスポンス
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424707536709206016'
                      status: pending
                      files:
                      - fileId: 2490
                        fileName: image.png
                        originalFileUrl: https://example.com/image.jpg
                        fileKey: wtr-embed/424707536709206016/images/1/image.png
                        fileFormat: PNG
                        fileType: IMG
                      - fileId: 2491
                        fileName: photo.jpeg
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424707536709206016/images/2/photo.jpeg
                        fileFormat: JPG
                        fileType: IMG
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '410':
          description: v2 watermark のサポート終了（2026 年 10 月 9 日 09:00 KST から）。認証・権限の確認を通過したリクエストにのみ返されます。`Link` ヘッダーの v3 パスに新しくリクエストしてください。
          headers:
            Link:
              description: 後継の v3 API のパス
              schema:
                type: string
                example: '</api/v3/orders/wtr-embed>; rel="successor-version"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: WATERMARK_V2_API_SUNSET
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/wtr-embed \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"idempotencyKey\"\
          : \"5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93\",\n    \"files\": [\n      {\n        \"fileName\": \"image.jpg\",\n    \
          \    \"watermarks\": [{\"text\": \"MORI_WATERMARK\"}]\n      }\n    ]\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/wtr-embed', {\n \
          \ method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({\n    idempotencyKey: '5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93',\n\
          \    files: [\n      {\n        fileName: 'image.jpg',\n        watermarks: [{ text: 'MORI_WATERMARK'\
          \ }]\n      }\n    ]\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/wtr-embed',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93',\n        'files': [\n            {\n                'fileName': 'image.jpg',\n\
          \                'watermarks': [{'text': 'MORI_WATERMARK'}]\n            }\n        ]\n    }\n\
          )\ndata = response.json()"
  /api/v2/orders/wtr-extract:
    post:
      summary: watermark 抽出注文を作成
      operationId: createWatermarkExtractOrder
      deprecated: true
      description: '**非推奨。** このエンドポイントは 2026 年 10 月 9 日 09:00 KST（00:00 UTC）にサポートを終了する予定です。`POST /api/v3/orders/wtr-extract` を使用してください。


        このエンドポイントのすべてのレスポンス（認証エラーと `410` レスポンスを含む）には、`Deprecation: true`、`Sunset: Fri, 09 Oct 2026 00:00:00 GMT`、`Link: </api/v3/orders/wtr-extract>; rel="successor-version"` ヘッダーが含まれます。


        2026 年 10 月 9 日 09:00 KST（00:00 UTC）から:

        - 認証・権限の確認はこれまでどおり先に行われるため、`401`・`403` エラーは従来と同じです。

        - 認証を通過した v2 の watermark 埋め込み・抽出リクエストには、本番キーと `sk_test_` キーのどちらでも `410 Gone` と `{ "code": "WATERMARK_V2_API_SUNSET" }` が返されます。`Link` ヘッダーが v3 エンドポイントを示すので、v3 で新しくリクエストしてください。

        - その時点までに処理が始まっていない v2 注文は、処理されずに失敗として確定します。注文の詳細（`errors.errorCode`）と失敗 Webhook には `WATERMARK_V2_API_SUNSET` と v3 への案内メッセージが含まれ、課金されずクレジットは戻ります。

        - 終了時点ですでに処理中の注文は、結果の記録まで完了します。その後に改めて実行されることはありません。


        watermark 抽出注文を作成します。

        - 注文あたりファイル1つのみ

        - 画像（jpg, jpeg, png, webp, bmp, tiff）またはPDFファイルに対応

        - 画像の場合、`includeOriginal: true` で元ファイルも一緒にアップロード可能

        - PDFは `includeOriginal` に非対応'
      tags:
      - Watermark Extract
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - file
              properties:
                idempotencyKey:
                  type: string
                  description: 冪等性キー
                file:
                  type: object
                  required:
                  - fileName
                  properties:
                    fileName:
                      type: string
                      description: watermark 付きファイル名（拡張子を含む）
                      example: watermarked.jpg
                    includeOriginal:
                      type: boolean
                      default: false
                      description: '元ファイルを含める（画像のみ）

                        - true: 元ファイルのアップロードURLも発行されます

                        - PDFファイルでは使用できません'
                    originalFile:
                      type: object
                      description: 元ファイル情報（includeOriginalがtrueの場合必須）
                      required:
                      - fileName
                      properties:
                        fileName:
                          type: string
                          description: 元ファイル名
                          example: original.jpg
            examples:
              imageOnly:
                summary: 単一画像（watermark のみ）
                value:
                  idempotencyKey: 2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40
                  file:
                    fileName: watermarked.jpg
              imageWithOriginal:
                summary: 画像 + 元ファイルを含む
                value:
                  idempotencyKey: key-002
                  file:
                    fileName: watermarked.jpg
                    includeOriginal: true
                    originalFile:
                      fileName: original.jpg
              pdfOnly:
                summary: PDFファイル
                value:
                  idempotencyKey: key-003
                  file:
                    fileName: document.pdf
      responses:
        '200':
          description: 注文が正常に作成されました
          headers:
            Deprecation:
              description: 非推奨（deprecated）の API であることを示します
              schema:
                type: string
                example: 'true'
            Sunset:
              description: サポート終了日時（RFC 8594 HTTP-date、2026 年 10 月 9 日 09:00 KST）
              schema:
                type: string
                example: 'Fri, 09 Oct 2026 00:00:00 GMT'
            Link:
              description: 後継の v3 API のパス
              schema:
                type: string
                example: '</api/v3/orders/wtr-extract>; rel="successor-version"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                        description: 注文名（自動生成）
                      orderId:
                        type: string
                        description: 注文ID
                      file:
                        $ref: '#/components/schemas/WtrExtractOrderFile'
              examples:
                imageOnlyResponse:
                  summary: 単一画像のレスポンス
                  value:
                    data:
                      orderName: wtr_extract_2026-02-13
                      orderId: '123456789'
                      file:
                        fileId: 1
                        fileName: watermarked.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: 123/456/watermarked.jpg
                        fileFormat: JPG
                        fileType: IMG
                        role: watermarked
                        sequence: 1
                imageWithOriginalResponse:
                  summary: 画像 + 元ファイルのレスポンス
                  value:
                    data:
                      orderName: wtr_extract_2026-02-13
                      orderId: '123456789'
                      file:
                        fileId: 1
                        fileName: watermarked.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: 123/456/watermarked.jpg
                        fileFormat: JPG
                        fileType: IMG
                        role: watermarked
                        sequence: 1
                        originalFile:
                          fileId: 2
                          fileName: original.jpg
                          uploadUrl: https://s3.amazonaws.com/...
                          fileKey: 123/456/original.jpg
                          fileFormat: JPG
                          fileType: IMG
                          role: original
                          sequence: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '410':
          description: v2 watermark のサポート終了（2026 年 10 月 9 日 09:00 KST から）。認証・権限の確認を通過したリクエストにのみ返されます。`Link` ヘッダーの v3 パスに新しくリクエストしてください。
          headers:
            Link:
              description: 後継の v3 API のパス
              schema:
                type: string
                example: '</api/v3/orders/wtr-extract>; rel="successor-version"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: WATERMARK_V2_API_SUNSET
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/wtr-extract \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"idempotencyKey\"\
          : \"8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26\",\n    \"file\": {\n      \"fileName\": \"watermarked.jpg\"\n    }\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/wtr-extract', {\n\
          \  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({\n    idempotencyKey: '8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26',\n\
          \    file: {\n      fileName: 'watermarked.jpg'\n    }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/wtr-extract',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26',\n        'file': {\n            'fileName': 'watermarked.jpg'\n       \
          \ }\n    }\n)\ndata = response.json()"
  /api/v2/orders/ai-detection:
    post:
      summary: AI Detection注文を作成
      operationId: createAiDetectionOrder
      description: 'AI Detection注文を作成し、画像用のプリサインドS3アップロードURLを発行します。


        ## フロー


        1. このエンドポイントを呼び出し、プリサインドアップロードURLを受け取ります

        2. プリサインドURLを使用して画像を直接S3にアップロードします

        3. `POST /api/v2/orders/ai-detection/confirm` を呼び出して非同期の検知処理を開始します

        4. Webhookまたは注文詳細エンドポイントのポーリングで結果を確認します


        ## 注文ステータス


        | ステータス | 説明 |

        |--------|-------------|

        | `pending` | ファイルアップロード待ち |

        | `inProgress` | 検知処理中 |

        | `complete` | 検知完了、結果を確認可能 |

        | `failed` | 検知失敗 |


        ## 対応形式


        jpg, jpeg, png, webp, bmp, tiff'
      tags:
      - AI Detection
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - fileName
              properties:
                idempotencyKey:
                  type: string
                  description: 重複リクエストを防ぐための冪等性キー
                  example: 0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59
                orderName:
                  type: string
                  maxLength: 64
                  description: 注文名（任意、未指定の場合は自動生成）
                  example: my-detection-order
                fileName:
                  type: string
                  description: '拡張子を含む画像ファイル名。対応形式: jpg, jpeg, png, webp, bmp, tiff'
                  example: photo.jpg
                options:
                  type: object
                  description: 出力オプション（任意）。生成されたファイルは注文詳細レスポンスに含まれます。
                  properties:
                    generateHeatmap:
                      type: boolean
                      default: false
                      description: AI検知ヒートマップ画像を生成
                    generateOverlay:
                      type: boolean
                      default: false
                      description: 元画像にヒートマップを重ねたオーバーレイ画像を生成
                    generateThumbnail:
                      type: boolean
                      default: false
                      description: サムネイル画像を生成
      responses:
        '200':
          description: 注文が正常に作成されました
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderId:
                        type: string
                        description: 注文ID
                      orderName:
                        type: string
                        description: 注文名
                      status:
                        type: string
                        enum:
                        - pending
                        description: 注文ステータス
                      file:
                        type: object
                        properties:
                          fileId:
                            type: integer
                            description: ファイルレコードID
                          fileName:
                            type: string
                            description: ファイル名
                          uploadUrl:
                            type: string
                            format: uri
                            description: ファイル直接アップロード用のプリサインドS3 URL。liveキーのプリサインドアップロードURLは発行後1時間有効です。
                          fileKey:
                            type: string
                            description: S3ファイルキー
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/ai-detection \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"idempotencyKey\"\
          : \"0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59\", \"fileName\": \"photo.jpg\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/ai-detection', {\n\
          \  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({\n    idempotencyKey: '0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59',\n  \
          \  fileName: 'photo.jpg'\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/ai-detection',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'idempotencyKey': '0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59',\
          \ 'fileName': 'photo.jpg'}\n)\ndata = response.json()"
  /api/v2/orders/ai-detection/confirm:
    post:
      summary: AI Detection注文を確認
      operationId: confirmAiDetectionOrder
      description: '画像がS3にアップロードされたことを確認し、非同期のAI検知処理を開始します。


        注文作成エンドポイントから受け取ったプリサインドURLに画像をアップロードした後、このエンドポイントを呼び出してください。注文ステータスは `pending` から `inProgress`
        に変わります。


        検知結果はWebhook（`order.aiDetection.completed` または `order.aiDetection.failed`）で通知されるか、[注文取得](/ja/api-reference/orders/get-order)エンドポイントをポーリングして取得できます。'
      tags:
      - AI Detection
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - orderId
              properties:
                idempotencyKey:
                  type: string
                  description: 重複リクエストを防ぐための一意のキー。リトライ時に同じキーを使用した場合、再処理せずに現在の注文ステータスを返します。
                  example: c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95
                orderId:
                  type: string
                  description: 注文ID
      responses:
        '200':
          description: 処理を開始しました
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderId:
                        type: string
                        description: 注文ID
                      status:
                        type: string
                        enum:
                        - inProgress
                        description: 注文ステータス
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST \"https://api.bizmori.com/api/v2/orders/ai-detection/confirm\" \\\n  -H\
          \ \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n\
          \  -d '{\"idempotencyKey\": \"c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95\", \"orderId\": \"ORDER_ID\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://api.bizmori.com/api/v2/orders/ai-detection/confirm',\n\
          \  {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({ idempotencyKey:\
          \ 'c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95', orderId: 'ORDER_ID' })\n  }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/ai-detection/confirm',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'idempotencyKey': 'c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95',\
          \ 'orderId': 'ORDER_ID'}\n)\ndata = response.json()"
  /api/v2/orders:
    get:
      summary: 注文一覧を取得
      operationId: listOrders
      description: 'ページネーション付きで注文を取得します。

        - ステータス、タイプ、チャネルでフィルタリング

        - キーワード検索に対応

        - 最新順にソート'
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        description: ページ番号
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: ページあたりの項目数（-1ですべて取得）
      - in: query
        name: keyword
        schema:
          type: string
        description: 検索キーワード
      - in: query
        name: status
        schema:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          - all
          default: all
        description: ステータスフィルター
      - in: query
        name: type
        schema:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          - all
        description: 注文タイプフィルター
      - in: query
        name: channel
        schema:
          type: string
          enum:
          - api
          - web
          - all
          default: all
        description: チャネルフィルター
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orders:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'
                      pageInfo:
                        $ref: '#/components/schemas/PageInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET \"https://api.bizmori.com/api/v2/orders?page=1&limit=10&status=all\" \\\n\
          \  -H \"Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const params = new URLSearchParams({ page: 1, limit: 10, status: 'all' });\nconst response\
          \ = await fetch(\n  `https://api.bizmori.com/api/v2/orders?${params}`,\n  { headers: { 'Authorization':\
          \ 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    params={'page': 1, 'limit': 10,\
          \ 'status': 'all'}\n)\ndata = response.json()"
  /api/v2/orders/stats/recent:
    get:
      summary: 直近の使用統計
      operationId: getRecentOrderStats
      description: 過去7日間の使用統計
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: 基準日（ISO文字列）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UsageStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/stats/recent \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://api.bizmori.com/api/v2/orders/stats/recent',\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders/stats/recent',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/{orderId}:
    get:
      summary: 注文詳細を取得
      operationId: getOrder
      deprecated: true
      description: '**非推奨（Deprecated）**: すべての注文の種類を 1 つの形式で返す [`GET /api/v3/orders/{orderId}`](/ja/api-reference/orders/get-order-v3) を使用してください。このエンドポイントのレスポンスと動作は変わりません。'
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: 注文ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OrderDetail'
              examples:
                antiAi:
                  summary: Anti-AI注文
                  value:
                    data:
                      type: antiAi
                      orderId: '1234567890123456789'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: anti_ai_2026-03-12
                      fileCount: 3
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:05:00.000Z'
                      errors: null
                watermarkEmbed:
                  summary: Watermark Embed注文
                  value:
                    data:
                      type: watermarkEmbed
                      orderId: '1234567890123456790'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: wtr_embed_2026-03-12
                      fileCount: 2
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:03:00.000Z'
                      errors: null
                      watermarks:
                      - MORI-WTR-001
                      - MORI-WTR-002
                watermarkExtract:
                  summary: Watermark Extract注文
                  value:
                    data:
                      type: watermarkExtract
                      orderId: '1234567890123456791'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: wtr_extract_2026-03-12
                      fileCount: 1
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:02:00.000Z'
                      errors: null
                      statusCode: detected
                      watermarkText: MORI-WTR-001
                aiDetection:
                  summary: AI Detection注文
                  value:
                    data:
                      type: aiDetection
                      orderId: '1234567890123456792'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      originalImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: ai_detection_2026-03-12
                      fileCount: 1
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:01:00.000Z'
                      errors: null
                      probability: 0.92
                      statusCode: likely_ai
                      heatmapUrl: https://s3.amazonaws.com/...
                      overlayUrl: https://s3.amazonaws.com/...
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/ORDER_ID \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()"
  /api/v2/orders/{orderId}/download:
    get:
      summary: ダウンロードURLを取得
      operationId: downloadOrderFiles
      deprecated: true
      description: '**非推奨（Deprecated）**: 結果ファイルごとの URL と結果全体の URL をまとめて返す [`GET /api/v3/orders/{orderId}/download`](/ja/api-reference/orders/download-order-v3) を使用してください。このエンドポイントのレスポンスと動作は変わりません。

        完了した注文ファイルのダウンロードURLを発行します。

        - `complete` ステータスの注文でのみ利用可能

        - URLの有効期限は1時間

        - 注文ファイルは注文作成から最大7日間ダウンロード可能

        - 7日経過後、注文は `expired` ステータスに移行し、ファイルはダウンロードできなくなります'
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: 注文ID
      responses:
        '200':
          description: URLの発行に成功しました
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                        description: ダウンロードURL（プリサインド）
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/ORDER_ID/download \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}/download`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();\n\
          // data.data.url contains the presigned download URL"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}/download',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()\n# data['data']['url']\
          \ contains the presigned download URL"
  /api/v2/orders/{orderId}/refresh-urls:
    post:
      summary: プリサインドURLを再発行
      operationId: refreshOrderUrls
      description: '期限切れのアップロードURLを再発行します。

        - `pending` ステータスの注文でのみ利用可能

        - 注意: `watermarkExtract` タイプの注文では、実際のレスポンスは本スキーマの `data.files[]` 形式とは異なり、`{ orderId, orderName,
        orderType, originalFiles, watermarkedFile }` の形式で返却されます。'
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: 注文ID
      responses:
        '200':
          description: URLの再発行に成功しました
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      files:
                        type: array
                        items:
                          $ref: '#/components/schemas/OrderFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/ORDER_ID/refresh-urls \\\n  -H \"\
          Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}/refresh-urls`,\n\
          \  {\n    method: 'POST',\n    headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' }\n  }\n\
          );\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.post(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}/refresh-urls',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/webhook:
    post:
      summary: Webhookを登録（レガシー）
      operationId: createLegacyWebhook
      deprecated: true
      description: '**非推奨**: このAPIは `/webhooks` に置き換えられました。


        注文処理が完了または失敗した際に通知を受け取るためのWebhook URLを登録します。'
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
[...]
