openapi: "3.0.0"
info:
  title: BIZ MORI API
  version: 2.0.0
  description: 'BIZ MORI API provides four core services for digital content protection:

    - **Anti-AI**: Protect images from AI training

    - **Watermark Embed**: Embed invisible digital watermarks into images

    - **Watermark Extract**: Extract and verify watermarks from images

    - **AI Detection**: Detect whether an image is AI-generated

    - **Test API keys**: Keys with the `sk_test_` prefix use the same Bearer authentication and support order-lifecycle testing with mock responses without running processing services or consuming credits; test uploads discard file contents and do not create result files

    '
  contact:
    name: BIZ MORI Support
    email: support@bizmori.com
  license:
    name: Proprietary
    url: https://docs.bizmori.com/legal/terms
servers:
- url: https://api.bizmori.com
  description: Production
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer API key for external client access. Live keys use the `sk_` prefix; test keys use the `sk_test_` prefix and support order-lifecycle testing with mock responses without processing or credit usage.'
  schemas:
    BaseResponse:
      type: object
      properties:
        data:
          oneOf:
          - type: object
            nullable: true
            additionalProperties: true
          - type: array
            items: {}
          description: Response data (null if no data)
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
    PageInfo:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of items
        totalPages:
          type: integer
          description: Total number of pages
        currentPage:
          type: integer
          description: Current page number
        itemsPerPage:
          type: integer
          description: Items per page
    OrderOptions:
      type: object
      properties:
        strength:
          type: string
          enum:
          - low
          - standard
          - high
          default: high
          description: 'Protection strength level

            * low - Low protection strength

            * standard - Standard protection strength

            * high - High protection strength

            '
    OrderFile:
      type: object
      properties:
        fileId:
          type: string
          description: File ID
        fileName:
          type: string
          description: File name
        uploadUrl:
          type: string
          format: uri
          description: 'Upload URL. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire one hour after issue and can be renewed with `POST /api/v2/orders/{orderId}/refresh-urls`. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
        fileKey:
          type: string
          description: |
            File identifier: an S3 object key for live keys or an isolated logical key for test keys.
    AntiAiOrderFile:
      type: object
      description: 'Anti-AI order file info (fields vary by file mode)

        - Upload mode: fileId, fileName, uploadUrl, fileKey

        - URL mode: fileId, fileName, originalFileUrl

        '
      properties:
        fileId:
          type: string
          description: File ID
        fileName:
          type: string
          description: File name
        uploadUrl:
          type: string
          format: uri
          description: 'Upload URL — upload mode files only. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour and can be renewed with `POST /api/v2/orders/{orderId}/refresh-urls`. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
        fileKey:
          type: string
          description: |
            File identifier — upload mode files only: an S3 object key for live keys or an isolated logical key for test keys.
        originalFileUrl:
          type: string
          format: uri
          description: Original image URL — URL mode files only
    WtrExtractOrderFile:
      type: object
      description: Watermark extract order file info
      properties:
        fileId:
          type: integer
          description: File ID
        fileName:
          type: string
          description: File name
        uploadUrl:
          type: string
          format: uri
          description: 'Upload URL. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour and can be renewed with `POST /api/v2/orders/{orderId}/refresh-urls`. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
        fileKey:
          type: string
          description: |
            File identifier: an S3 object key for live keys or an isolated logical key for test keys.
        fileFormat:
          type: string
          description: File format
          example: JPG
        fileType:
          type: string
          enum:
          - IMG
          - DOCUMENT
          description: File type (image or PDF)
        role:
          type: string
          enum:
          - watermarked
          description: File role (always "watermarked" for the main file)
        sequence:
          type: integer
          description: File sequence number (always 1)
          example: 1
        originalFile:
          type: object
          nullable: true
          description: Original file info (only when includeOriginal is true)
          properties:
            fileId:
              type: integer
              description: File ID
            fileName:
              type: string
              description: File name
            uploadUrl:
              type: string
              format: uri
              description: 'Upload URL. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour and can be renewed with `POST /api/v2/orders/{orderId}/refresh-urls`. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
            fileKey:
              type: string
              description: |
                File identifier: an S3 object key for live keys or an isolated logical key for test keys.
            fileFormat:
              type: string
              description: File format
            fileType:
              type: string
              enum:
              - IMG
              description: File type (image only)
            role:
              type: string
              enum:
              - original
              description: File role (always "original")
            sequence:
              type: integer
              description: File sequence number (always 1)
              example: 1
    Order:
      type: object
      properties:
        orderId:
          type: string
          description: Order ID
        orderName:
          type: string
          description: Order name
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: Order type
        channel:
          type: string
          enum:
          - api
          - web
          description: Order channel
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: 'Order status

            * pending - Waiting

            * inProgress - Processing

            * complete - Completed

            * failed - Failed

            * expired - Expired (order files unavailable after 7 days)

            '
        fileCount:
          type: integer
          description: Number of files
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: Thumbnail image URL (presigned URL)
        createdAt:
          type: string
          format: date-time
          description: Created at
        updatedAt:
          type: string
          format: date-time
          description: Last updated at
        probability:
          type: number
          nullable: true
          description: AI detection probability (aiDetection orders only)
        statusCode:
          type: string
          nullable: true
          enum:
          - likely_real
          - uncertain_real
          - uncertain_ai
          - likely_ai
          description: 'AI detection result code (aiDetection orders only)

            * likely_real - Likely real content

            * uncertain_real - Uncertain, leaning real

            * uncertain_ai - Uncertain, leaning AI

            * likely_ai - Likely AI-generated content

            '
    OrderDetail:
      type: object
      description: Order detail info
      properties:
        orderId:
          type: string
          description: Order ID
        orderName:
          type: string
          description: Order name
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: Order type
        channel:
          type: string
          enum:
          - api
          - web
          description: Order channel
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: Order status
        fileCount:
          type: integer
          description: Number of files
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: Thumbnail image URL (presigned URL, 1-hour expiry). For aiDetection orders, only
            returned when generateThumbnail option is used. null when expired.
        originalImageUrl:
          type: string
          format: uri
          nullable: true
          description: Original input image download URL (presigned URL, 1-hour expiry). aiDetection orders
            only. null when expired.
        createdAt:
          type: string
          format: date-time
          description: Created at
        updatedAt:
          type: string
          format: date-time
          description: Updated at
        errors:
          type: string
          nullable: true
          description: Error message (on failure)
        watermarks:
          type: array
          items:
            type: string
          description: Watermark text list (watermarkEmbed orders only)
        watermarkText:
          type: string
          nullable: true
          description: Extracted watermark text (watermarkExtract orders only)
        probability:
          type: number
          nullable: true
          description: AI detection probability (aiDetection orders only)
        statusCode:
          type: string
          nullable: true
          description: 'Status code by order type.

            **watermarkExtract orders:**

            * detected - Watermark detected

            * undetected - Watermark not detected

            **aiDetection orders** (computed from probability):

            * likely_real - probability < 0.25

            * uncertain_real - 0.25 <= probability < 0.5

            * uncertain_ai - 0.5 <= probability < 0.75

            * likely_ai - probability >= 0.75

            Not returned for other order types.

            '
        options:
          type: object
          nullable: true
          description: Options set at order creation (aiDetection orders only)
          properties:
            generateHeatmap:
              type: boolean
              description: Whether heatmap image was requested
              example: true
            generateOverlay:
              type: boolean
              description: Whether overlay image was requested
              example: true
            generateThumbnail:
              type: boolean
              description: Whether thumbnail image was requested
              example: true
        heatmapUrl:
          type: string
          format: uri
          nullable: true
          description: AI detection heatmap image download URL (aiDetection orders only, when generateHeatmap
            option is used)
        overlayUrl:
          type: string
          format: uri
          nullable: true
          description: Heatmap overlay on original image download URL (aiDetection orders only, when generateOverlay
            option is used)
    UsageStats:
      type: object
      properties:
        dailyStats:
          type: array
          items:
            type: object
            properties:
              usageDate:
                type: string
                description: Usage date (MM.DD)
              usageCount:
                type: integer
                description: Usage count
        domain:
          type: array
          items:
            type: integer
          description: Chart Y-axis range [min, max]
        ticks:
          type: array
          items:
            type: integer
          description: Chart Y-axis tick values
    WebhookRegisterRequest:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: Webhook endpoint URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: 'Endpoint mode. A test API key omits this field or uses true and is forced to true; false returns AUTH_FORBIDDEN. A live API key may choose either mode.'
    WebhookInfo:
      type: object
      properties:
        url:
          type: string
          format: uri
          nullable: true
          description: Registered webhook URL
        createdAt:
          type: string
          format: date-time
          nullable: true
          description: Created at
    WebhookCreateRequest:
      type: object
      required:
      - url
      properties:
        name:
          type: string
          maxLength: 100
          description: Webhook name (for identification)
        url:
          type: string
          format: uri
          description: Webhook endpoint URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: 'Endpoint mode. For a test API key, omit this field or use true; false returns AUTH_FORBIDDEN. Live API keys may choose either mode.'
    WebhookUpdateRequest:
      type: object
      required:
      - url
      properties:
        name:
          type: string
          maxLength: 100
          description: Webhook name
        url:
          type: string
          format: uri
          description: Webhook URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: 'Endpoint mode. For a test API key, omission preserves test mode and true is allowed; false returns AUTH_FORBIDDEN. Live API keys may choose either mode.'
    WebhookListItem:
      type: object
      properties:
        id:
          type: integer
          description: Webhook ID
        name:
          type: string
          description: Webhook name
        url:
          type: string
          format: uri
          description: Webhook URL
        isActive:
          type: boolean
          description: Active status
        isTest:
          type: boolean
          description: Whether this is a test endpoint
        lastSentAt:
          type: string
          format: date-time
          nullable: true
          description: Last sent at
        createdAt:
          type: string
          format: date-time
          description: Created at
    WebhookDetail:
      type: object
      properties:
        id:
          type: integer
          description: Webhook ID
        name:
          type: string
          description: Webhook name
        url:
          type: string
          format: uri
          description: Webhook URL
        secret:
          type: string
          description: Webhook signing secret
        isActive:
          type: boolean
          description: Active status
        isTest:
          type: boolean
          description: Whether this is a test endpoint
        createdAt:
          type: string
          format: date-time
          description: Created at
        updatedAt:
          type: string
          format: date-time
          description: Updated at
    WebhookEvent:
      type: object
      properties:
        id:
          type: integer
          description: Event DB ID
        eventId:
          type: string
          format: uuid
          description: Event UUID
        eventType:
          type: string
          description: Event type
          example: order.antiAi.completed
        status:
          type: string
          enum:
          - PENDING
          - SENT
          - RETRYING
          - FAILED
          description: Delivery status
        retries:
          type: integer
          description: Retry count
        lastSentAt:
          type: string
          format: date-time
          nullable: true
          description: Last sent at
        createdAt:
          type: string
          format: date-time
          description: Created at
    WebhookPagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page
        limit:
          type: integer
          description: Items per page
        total:
          type: integer
          description: Total items
        totalPages:
          type: integer
          description: Total pages
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: VALIDATION_FAILED
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: AUTH_NOT_AUTHENTICATED
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: RESOURCE_NOT_FOUND
    UsageLimitExceeded:
      description: Usage limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: USAGE_LIMIT_EXCEEDED
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: SERVER_INTERNAL_ERROR
    Forbidden:
      description: The API key is not allowed to use the requested mode
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: AUTH_FORBIDDEN
    WebhookNotFound:
      description: Webhook endpoint not found or not accessible to this API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: WEBHOOK_NOT_FOUND

tags:
- name: Anti-AI
  description: Anti-AI image protection orders
- name: Watermark Embed
  description: Watermark embedding orders
- name: Watermark Extract
  description: Watermark extraction orders
- name: AI Detection
  description: AI-generated image detection orders
- name: Orders
  description: Order query and management
- name: Webhooks
  description: Webhook configuration and events
paths:
  /api/v2/orders/anti-ai:
    post:
      summary: Create Anti-AI order
      operationId: createAntiAiOrder
      description: 'Create an order for AI detection protection processing.


        ## Input Modes (Upload / URL / Mixed)

        The input mode is determined by the presence of `originalFileUrl` in each file object:

        - **Upload mode** (no `originalFileUrl`): Presigned URL issued → Client uploads to S3 → Call `/confirm`

        - **URL mode** (`originalFileUrl` provided): Image downloaded from the URL and processed immediately

        - **Mixed mode**: Some files in Upload mode, others in URL mode simultaneously


        ### Behavior

        | Condition | Order Status | Confirm Required |

        |-----------|-------------|-----------------|

        | All files have `originalFileUrl` | `inProgress` | No (immediate processing) |

        | Any file without `originalFileUrl` | `pending` | Yes (upload then confirm) |


        ## Zero Copy Mode

        When `mode.zeroCopy: true`, processed results are uploaded directly to customer-provided presigned
        URLs.

        In this case, `outputTargets` array is required and must match the length of `files` array.

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key to prevent duplicate requests
                orderName:
                  type: string
                  maxLength: 64
                  description: Order name (optional, auto-generated if not provided)
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    properties:
                      fileName:
                        type: string
                        description: File name (with extension)
                        example: image.jpg
                      originalFileUrl:
                        type: string
                        format: uri
                        description: 'Original image URL (optional)

                          - Provided: URL mode (no presigned URL issued, immediate processing)

                          - Not provided: Upload mode (presigned URL issued, confirm required)

                          '
                        example: https://example.com/image.jpg
                mode:
                  type: object
                  description: Processing mode settings
                  properties:
                    zeroCopy:
                      type: boolean
                      default: false
                      description: Enable Zero Copy mode
                outputTargets:
                  type: array
                  description: Output upload targets for Zero Copy mode (required when mode.zeroCopy is
                    true)
                  items:
                    type: object
                    required:
                    - fileKey
                    - url
                    - presignedUrlExpiresAt
                    properties:
                      fileKey:
                        type: string
                        description: File key (identifier)
                      url:
                        type: string
                        format: uri
                        description: Presigned URL for uploading results
                      presignedUrlExpiresAt:
                        type: string
                        format: date-time
                        description: Presigned URL expiration time (ISO 8601)
                options:
                  $ref: '#/components/schemas/OrderOptions'
            examples:
              uploadMode:
                summary: Upload mode (traditional)
                value:
                  idempotencyKey: 2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40
                  files:
                  - fileName: image1.jpg
                  - fileName: image2.png
                  options:
                    strength: high
              urlMode:
                summary: URL mode (immediate processing)
                value:
                  idempotencyKey: 3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71
                  files:
                  - fileName: image1.jpg
                    originalFileUrl: https://example.com/image1.jpg
                  - fileName: image2.png
                    originalFileUrl: https://example.com/image2.png
                  options:
                    strength: high
              mixedMode:
                summary: Mixed mode
                value:
                  idempotencyKey: 4d8b6f2a-a3c1-4e97-b2d5-7a9f1c4e6b82
                  files:
                  - fileName: upload-file.jpg
                  - fileName: url-file.png
                    originalFileUrl: https://example.com/image.png
                  options:
                    strength: standard
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        enum:
                        - pending
                        - inProgress
                        description: 'Order status

                          - `pending`: Contains upload files (confirm required)

                          - `inProgress`: All files in URL mode (immediate processing)

                          '
                      files:
                        type: array
                        items:
                          $ref: '#/components/schemas/AntiAiOrderFile'
              examples:
                uploadModeResponse:
                  summary: Upload mode response
                  value:
                    data:
                      orderName: anti_ai_2026-02-09
                      orderId: '123456789'
                      status: pending
                      files:
                      - fileId: '1'
                        fileName: image1.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: temp/123456789/0/image1.jpg
                urlModeResponse:
                  summary: URL mode response
                  value:
                    data:
                      orderName: anti_ai_2026-02-09
                      orderId: '123456789'
                      status: inProgress
                      files:
                      - fileId: '1'
                        fileName: image1.jpg
                        originalFileUrl: https://example.com/image1.jpg
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai \\\n  -H\
          \ \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40\",\n    \"files\": [\n\
          \      {\"fileName\": \"image1.jpg\"},\n      {\"fileName\": \"image2.png\"\
          }\n    ],\n    \"options\": {\"strength\": \"high\"}\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40',\n    files: [\n      { fileName: 'image1.jpg'\
          \ },\n      { fileName: 'image2.png' }\n    ],\n    options: { strength:\
          \ 'high' }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40',\n        'files': [\n            {'fileName': 'image1.jpg'},\n\
          \            {'fileName': 'image2.png'}\n        ],\n        'options':\
          \ {'strength': 'high'}\n    }\n)\ndata = response.json()"
  /api/v2/orders/anti-ai/confirm:
    post:
      summary: Confirm Anti-AI order
      operationId: confirmAntiAiOrder
      description: 'Call after file upload is complete to start processing.

        - Call after all upload files are uploaded to S3

        - Status changes to `inProgress` when processing starts

        - In mixed mode, only upload files are checked for S3 presence; URL files are already ready

        - Orders where all files are in URL mode are already `inProgress` and don''t need confirm

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - orderId
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key
                orderId:
                  type: string
                  description: Order ID
      responses:
        '200':
          description: Order confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai/confirm \\\
          \n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63\",\n    \"orderId\"\
          : \"ORDER_ID\"\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai/confirm',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63',\n    orderId: 'ORDER_ID'\n  })\n\
          });\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai/confirm',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63',\n        'orderId': 'ORDER_ID'\n    }\n)\ndata = response.json()"
  /api/v2/orders/anti-ai/with-urls:
    post:
      summary: Create Anti-AI order with URLs
      operationId: createAntiAiOrderWithUrls
      deprecated: true
      description: '**Deprecated**: Use `/anti-ai` endpoint with `originalFileUrl` field instead.


        Provide image URLs directly for processing.

        - Processing starts immediately without presigned URL issuance

        - Downloads and processes images from the provided URLs


        ## Zero Copy Mode

        When `mode.zeroCopy: true`, processed results are uploaded directly to customer-provided presigned
        URLs.

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key
                orderName:
                  type: string
                  maxLength: 64
                  description: Order name (optional)
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    - imageUrl
                    properties:
                      fileName:
                        type: string
                        description: File name (with extension)
                        example: image.jpg
                      imageUrl:
                        type: string
                        format: uri
                        description: Image URL
                mode:
                  type: object
                  properties:
                    zeroCopy:
                      type: boolean
                      default: false
                outputTargets:
                  type: array
                  items:
                    type: object
                    required:
                    - fileKey
                    - url
                    - presignedUrlExpiresAt
                    properties:
                      fileKey:
                        type: string
                      url:
                        type: string
                        format: uri
                      presignedUrlExpiresAt:
                        type: string
                        format: date-time
                options:
                  $ref: '#/components/schemas/OrderOptions'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        example: inProgress
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai/with-urls\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71\",\n    \"files\":\
          \ [\n      {\n        \"fileName\": \"image1.jpg\",\n        \"imageUrl\"\
          : \"https://example.com/image1.jpg\"\n      }\n    ],\n    \"options\":\
          \ {\"strength\": \"high\"}\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai/with-urls',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71',\n    files: [\n      {\n        fileName:\
          \ 'image1.jpg',\n        imageUrl: 'https://example.com/image1.jpg'\n  \
          \    }\n    ],\n    options: { strength: 'high' }\n  })\n});\nconst data\
          \ = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai/with-urls',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71',\n        'files': [\n            {\n                'fileName':\
          \ 'image1.jpg',\n                'imageUrl': 'https://example.com/image1.jpg'\n\
          \            }\n        ],\n        'options': {'strength': 'high'}\n  \
          \  }\n)\ndata = response.json()"
  /api/v2/orders/wtr-embed:
    post:
      summary: Create watermark embed order
      operationId: createWatermarkEmbedOrder
      description: 'Create a watermark embedding order.

        - Up to 10 watermark texts per image

        - Up to 100 files per order

        - Supported image formats (IMG): jpg, jpeg, png, webp, bmp, tiff

        - Supported document formats (DOCUMENT): pdf


        ## Input Modes (Upload / URL / Mixed)

        The input mode is determined by the presence of `originalFileUrl` in each file object:

        - **Upload mode** (no `originalFileUrl`): Presigned URL issued → Client uploads to S3 → Processing
        starts automatically

        - **URL mode** (`originalFileUrl` provided): Image downloaded from the URL and processed immediately

        - **Mixed mode**: Some files in Upload mode, others in URL mode simultaneously


        ### Behavior

        | Condition | Order Status | Confirm Required |

        |-----------|-------------|-----------------|

        | All files have `originalFileUrl` | `pending` | No (auto-starts after server downloads) |

        | Any file without `originalFileUrl` | `pending` | No (auto-starts after upload) |


        <Note>Unlike Anti-AI and AI Detection, Watermark Embed does not require a separate confirm step.
        Processing starts automatically after file upload completes.</Note>

        '
      tags:
      - Watermark Embed
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    - watermarks
                    properties:
                      fileName:
                        type: string
                        description: File name
                        example: image.jpg
                      originalFileUrl:
                        type: string
                        format: uri
                        description: 'Original image URL (optional)

                          - Provided: URL mode (no presigned URL issued, immediate processing)

                          - Not provided: Upload mode (presigned URL issued)

                          '
                        example: https://example.com/image.jpg
                      watermarks:
                        type: array
                        minItems: 1
                        maxItems: 10
                        items:
                          type: object
                          required:
                          - text
                          properties:
                            text:
                              type: string
                              maxLength: 1000
                              description: Watermark text
            examples:
              uploadMode:
                summary: Upload mode (traditional)
                value:
                  idempotencyKey: 5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93
                  files:
                  - fileName: image1.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: image2.png
                    watermarks:
                    - text: MORI_WATERMARK
              urlMode:
                summary: URL mode (immediate processing)
                value:
                  idempotencyKey: 6f1d8b4c-c5e3-4029-94f7-9c2b3e6a8d04
                  files:
                  - fileName: image1.jpg
                    originalFileUrl: https://example.com/image1.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: image2.png
                    originalFileUrl: https://example.com/image2.png
                    watermarks:
                    - text: MORI_WATERMARK
              mixedMode:
                summary: Mixed mode
                value:
                  idempotencyKey: 7a2e9c5d-d6f4-413a-a5b8-0d3c4f7b9e15
                  files:
                  - fileName: upload-file.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: url-file.png
                    originalFileUrl: https://example.com/image.png
                    watermarks:
                    - text: MORI_WATERMARK
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        enum:
                        - pending
                        description: 'Order status

                          - `pending`: Always returned regardless of input mode

                          '
                      files:
                        type: array
                        items:
                          type: object
                          description: 'File info (fields vary by mode)

                            - Upload mode: fileId, fileName, uploadUrl, fileKey, fileFormat, fileType

                            - URL mode: fileId, fileName, originalFileUrl, fileKey, fileFormat, fileType'
                          properties:
                            fileId:
                              type: integer
                            fileName:
                              type: string
                            uploadUrl:
                              type: string
                              format: uri
                              description: 'Upload URL, returned in upload mode only. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
                            originalFileUrl:
                              type: string
                              format: uri
                              description: Public image URL provided in the request. Returned in URL mode
                                only.
                            fileKey:
                              type: string
                              description: |
                                File identifier: an S3 object key for live keys or an isolated logical key for test keys.
                            fileFormat:
                              type: string
                              description: File format.
                              enum:
                              - JPG
                              - PNG
                              - WEBP
                              - BMP
                              - TIFF
                              - PDF
                            fileType:
                              type: string
                              description: File type category.
                              enum:
                              - IMG
                              - DOCUMENT
              examples:
                uploadModeResponse:
                  summary: Upload mode response
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424706541233094656'
                      status: pending
                      files:
                      - fileId: 2469
                        fileName: image.jpg
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424706541233094656/images/1/image.jpg
                        fileFormat: JPG
                        fileType: IMG
                      - fileId: 2470
                        fileName: document.pdf
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424706541233094656/documents/2/document.pdf
                        fileFormat: PDF
                        fileType: DOCUMENT
                urlModeResponse:
                  summary: URL mode response
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424707536709206016'
                      status: pending
                      files:
                      - fileId: 2490
                        fileName: image.png
                        originalFileUrl: https://example.com/image.jpg
                        fileKey: wtr-embed/424707536709206016/images/1/image.png
                        fileFormat: PNG
                        fileType: IMG
                mixedModeResponse:
                  summary: Mixed mode response
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424707536709206016'
                      status: pending
                      files:
                      - fileId: 2490
                        fileName: image.png
                        originalFileUrl: https://example.com/image.jpg
                        fileKey: wtr-embed/424707536709206016/images/1/image.png
                        fileFormat: PNG
                        fileType: IMG
                      - fileId: 2491
                        fileName: photo.jpeg
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424707536709206016/images/2/photo.jpeg
                        fileFormat: JPG
                        fileType: IMG
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/wtr-embed \\\n  -H\
          \ \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93\",\n    \"files\"\
          : [\n      {\n        \"fileName\": \"image.jpg\",\n        \"watermarks\"\
          : [{\"text\": \"MORI_WATERMARK\"}]\n      }\n    ]\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/wtr-embed',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93',\n    files: [\n      {\n        fileName:\
          \ 'image.jpg',\n        watermarks: [{ text: 'MORI_WATERMARK' }]\n     \
          \ }\n    ]\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/wtr-embed',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93',\n        'files': [\n            {\n                'fileName':\
          \ 'image.jpg',\n                'watermarks': [{'text': 'MORI_WATERMARK'}]\n\
          \            }\n        ]\n    }\n)\ndata = response.json()"
  /api/v2/orders/wtr-extract:
    post:
      summary: Create watermark extract order
      operationId: createWatermarkExtractOrder
      description: 'Create a watermark extraction order.

        - Only 1 file per order

        - Supports image (jpg, jpeg, png, webp, bmp, tiff) or PDF files

        - For images, `includeOriginal: true` allows uploading the original file alongside

        - PDF does not support `includeOriginal`

        '
      tags:
      - Watermark Extract
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - file
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key
                file:
                  type: object
                  required:
                  - fileName
                  properties:
                    fileName:
                      type: string
                      description: Watermarked file name (with extension)
                      example: watermarked.jpg
                    includeOriginal:
                      type: boolean
                      default: false
                      description: 'Include original file (image only)

                        - true: Upload URL for original file is also issued

                        - Not available for PDF files

                        '
                    originalFile:
                      type: object
                      description: Original file info (required when includeOriginal is true)
                      required:
                      - fileName
                      properties:
                        fileName:
                          type: string
                          description: Original file name
                          example: original.jpg
            examples:
              imageOnly:
                summary: Single image (watermark only)
                value:
                  idempotencyKey: 8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26
                  file:
                    fileName: watermarked.jpg
              imageWithOriginal:
                summary: Image + original included
                value:
                  idempotencyKey: 9c4a2e7f-f8b6-435c-87da-2f5e6b9d1a37
                  file:
                    fileName: watermarked.jpg
                    includeOriginal: true
                    originalFile:
                      fileName: original.jpg
              pdfOnly:
                summary: PDF file
                value:
                  idempotencyKey: ad5b3f8a-a9c7-446d-98eb-3a6f7c0e2b48
                  file:
                    fileName: document.pdf
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                        description: Order name (auto-generated)
                      orderId:
                        type: string
                        description: Order ID
                      file:
                        $ref: '#/components/schemas/WtrExtractOrderFile'
              examples:
                imageOnlyResponse:
                  summary: Single image response
                  value:
                    data:
                      orderName: wtr_extract_2026-02-13
                      orderId: '123456789'
                      file:
                        fileId: 1
                        fileName: watermarked.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: 123/456/watermarked.jpg
                        fileFormat: JPG
                        fileType: IMG
                        role: watermarked
                        sequence: 1
                imageWithOriginalResponse:
                  summary: Image + original response
                  value:
                    data:
                      orderName: wtr_extract_2026-02-13
                      orderId: '123456789'
                      file:
                        fileId: 1
                        fileName: watermarked.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: 123/456/watermarked.jpg
                        fileFormat: JPG
                        fileType: IMG
                        role: watermarked
                        sequence: 1
                        originalFile:
                          fileId: 2
                          fileName: original.jpg
                          uploadUrl: https://s3.amazonaws.com/...
                          fileKey: 123/456/original.jpg
                          fileFormat: JPG
                          fileType: IMG
                          role: original
                          sequence: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/wtr-extract \\\n\
          \  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26\",\n    \"file\"\
          : {\n      \"fileName\": \"watermarked.jpg\"\n    }\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/wtr-extract',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26',\n    file: {\n      fileName: 'watermarked.jpg'\n\
          \    }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/wtr-extract',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26',\n        'file': {\n            'fileName': 'watermarked.jpg'\n\
          \        }\n    }\n)\ndata = response.json()"
  /api/v2/orders/ai-detection:
    post:
      summary: Create AI Detection order
      operationId: createAiDetectionOrder
      description: 'Creates an AI Detection order and issues an upload URL for the image. Live keys receive an S3 presigned URL; test keys receive an absolute BIZ MORI test-upload URL.


        ## Flow


        1. Call this endpoint to receive an upload URL

        2. Upload the image using the live S3 URL or test BIZ MORI URL

        3. Call `POST /api/v2/orders/ai-detection/confirm` to start async detection

        4. Use webhooks or poll the order detail endpoint for the result


        ## Order Status


        | Status | Description |

        |--------|-------------|

        | `pending` | Waiting for file upload |

        | `inProgress` | Detection is in progress |

        | `complete` | Detection complete, result available |

        | `failed` | Detection failed |


        ## Supported Formats


        jpg, jpeg, png, webp, bmp, tiff

        '
      tags:
      - AI Detection
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - fileName
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key to prevent duplicate requests
                  example: 0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59
                orderName:
                  type: string
                  maxLength: 64
                  description: Order name (optional, auto-generated if not provided)
                  example: my-detection-order
                fileName:
                  type: string
                  description: 'Image file name with extension. Supported: jpg, jpeg, png, webp, bmp,
                    tiff'
                  example: photo.jpg
                options:
                  type: object
                  description: Output options (optional). Generated files are included in the order detail
                    response.
                  properties:
                    generateHeatmap:
                      type: boolean
                      default: false
                      description: Generate AI detection heatmap image
                    generateOverlay:
                      type: boolean
                      default: false
                      description: Generate heatmap overlay on original image
                    generateThumbnail:
                      type: boolean
                      default: false
                      description: Generate thumbnail image
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderId:
                        type: string
                        description: Order ID
                      orderName:
                        type: string
                        description: Order name
                      status:
                        type: string
                        enum:
                        - pending
                        description: Order status
                      file:
                        type: object
                        properties:
                          fileId:
                            type: integer
                            description: File record ID
                          fileName:
                            type: string
                            description: File name
                          uploadUrl:
                            type: string
                            format: uri
                            description: 'Upload URL. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
                          fileKey:
                            type: string
                            description: |
                              File identifier: an S3 object key for live keys or an isolated logical key for test keys.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/ai-detection\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type:\
          \ application/json\" \\\n  -d '{\"idempotencyKey\": \"0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59\", \"fileName\"\
          : \"photo.jpg\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/ai-detection',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59',\n    fileName: 'photo.jpg'\n  })\n});\n\
          const data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/ai-detection',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'idempotencyKey':\
          \ '0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59', 'fileName': 'photo.jpg'}\n)\ndata = response.json()"
  /api/v2/orders/ai-detection/confirm:
    post:
      summary: Confirm AI Detection order
      operationId: confirmAiDetectionOrder
      description: 'Confirms that the image upload is complete and starts processing.


        Call this endpoint after uploading the image to the upload URL received
        from the create order endpoint. The order status will change from `pending`
        to `inProgress`.


        The detection result is delivered via webhook (`order.aiDetection.completed` or `order.aiDetection.failed`),
        or can be retrieved by polling the [Get order](/api-reference/orders/get-order) endpoint.

        '
      tags:
      - AI Detection
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - orderId
              properties:
                idempotencyKey:
                  type: string
                  description: Unique key to prevent duplicate requests. If the same
                    key is used in a retry, the current order status is returned without
                    reprocessing.
                  example: c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95
                orderId:
                  type: string
                  description: Order ID
      responses:
        '200':
          description: Processing started
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderId:
                        type: string
                        description: Order ID
                      status:
                        type: string
                        enum:
                        - inProgress
                        description: Order status
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST \"https://api.bizmori.com/api/v2/orders/ai-detection/confirm\"\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type:\
          \ application/json\" \\\n  -d '{\"idempotencyKey\": \"c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95\"\
          , \"orderId\": \"ORDER_ID\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://api.bizmori.com/api/v2/orders/ai-detection/confirm',\n\
          \  {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer\
          \ YOUR_API_TOKEN',\n      'Content-Type': 'application/json'\n    },\n \
          \   body: JSON.stringify({ idempotencyKey: 'c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95', orderId:\
          \ 'ORDER_ID' })\n  }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/ai-detection/confirm',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'idempotencyKey':\
          \ 'c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95', 'orderId': 'ORDER_ID'}\n)\ndata = response.json()"
  /api/v2/orders:
    get:
      summary: List orders
      operationId: listOrders
      description: 'Retrieve orders with pagination.

        - Filter by status, type, and channel

        - Keyword search supported

        - Sorted by most recent

        '
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Page number
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Items per page (-1 for all)
      - in: query
        name: keyword
        schema:
          type: string
        description: Search keyword
      - in: query
        name: status
        schema:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          - all
          default: all
        description: Status filter
      - in: query
        name: type
        schema:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          - all
        description: Order type filter
      - in: query
        name: channel
        schema:
          type: string
          enum:
          - api
          - web
          - all
          default: all
        description: Channel filter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orders:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'
                      pageInfo:
                        $ref: '#/components/schemas/PageInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET \"https://api.bizmori.com/api/v2/orders?page=1&limit=10&status=all\" \\\n\
          \  -H \"Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const params = new URLSearchParams({ page: 1, limit: 10, status: 'all' });\nconst response\
          \ = await fetch(\n  `https://api.bizmori.com/api/v2/orders?${params}`,\n  { headers: { 'Authorization':\
          \ 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    params={'page': 1, 'limit': 10,\
          \ 'status': 'all'}\n)\ndata = response.json()"
  /api/v2/orders/stats/recent:
    get:
      summary: Recent usage statistics
      operationId: getRecentOrderStats
      description: Usage statistics for the last 7 days
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: date
        schema:
          type: string
          format: date
        description: Reference date (ISO String)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UsageStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/stats/recent \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://api.bizmori.com/api/v2/orders/stats/recent',\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders/stats/recent',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/{orderId}:
    get:
      summary: Get order details
      operationId: getOrder
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: Order ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OrderDetail'
              examples:
                antiAi:
                  summary: Anti-AI order
                  value:
                    data:
                      type: antiAi
                      orderId: '1234567890123456789'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: anti_ai_2026-03-12
                      fileCount: 3
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:05:00.000Z'
                      errors: null
                watermarkEmbed:
                  summary: Watermark Embed order
                  value:
                    data:
                      type: watermarkEmbed
                      orderId: '1234567890123456790'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: wtr_embed_2026-03-12
                      fileCount: 2
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:03:00.000Z'
                      errors: null
                      watermarks:
                      - MORI-WTR-001
                      - MORI-WTR-002
                watermarkExtract:
                  summary: Watermark Extract order
                  value:
                    data:
                      type: watermarkExtract
                      orderId: '1234567890123456791'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: wtr_extract_2026-03-12
                      fileCount: 1
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:02:00.000Z'
                      errors: null
                      statusCode: detected
                      watermarkText: MORI-WTR-001
                aiDetection:
                  summary: AI Detection order
                  value:
                    data:
                      type: aiDetection
                      orderId: '1234567890123456792'
                      channel: api
                      thumbnailImageUrl: https://s3.amazonaws.com/...
                      originalImageUrl: https://s3.amazonaws.com/...
                      status: complete
                      orderName: ai_detection_2026-03-12
                      fileCount: 1
                      createdAt: '2026-03-12T10:00:00.000Z'
                      updatedAt: '2026-03-12T10:01:00.000Z'
                      errors: null
                      probability: 0.92
                      statusCode: likely_ai
                      heatmapUrl: https://s3.amazonaws.com/...
                      overlayUrl: https://s3.amazonaws.com/...
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/ORDER_ID \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()"
  /api/v2/orders/{orderId}/download:
    get:
      summary: Get download URL
      operationId: downloadOrderFiles
      description: 'Issue a download URL for completed order files.

        - Only available for orders with `complete` status

        - URL is valid for 1 hour

        - Order files are available for download for up to 7 days after order creation

        - After 7 days, the order transitions to `expired` status and files can no longer be downloaded

        - Test orders do not create result files; this endpoint returns `404` with
        `PROCESSED_FILE_NOT_FOUND` for a test order

        '
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: Order ID
      responses:
        '200':
          description: URL issued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                        description: Download URL (presigned)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/ORDER_ID/download \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}/download`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();\n\
          // data.data.url contains the presigned download URL"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}/download',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()\n# data['data']['url']\
          \ contains the presigned download URL"
  /api/v2/orders/{orderId}/refresh-urls:
    post:
      summary: Refresh presigned URLs
      operationId: refreshOrderUrls
      description: 'Reissue expired upload URLs. Live keys receive S3 presigned URLs; test keys receive absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URLs. Both are valid for one hour.

        - Only available for orders with `pending` status

        - For test orders, the response contains a BIZ MORI test upload URL instead of
        a storage presigned URL

        '
      tags:
      - Orders
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
        description: Order ID
      responses:
        '200':
          description: URLs refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      files:
                        type: array
                        items:
                          $ref: '#/components/schemas/OrderFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/ORDER_ID/refresh-urls \\\n  -H \"\
          Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const orderId = 'ORDER_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/${orderId}/refresh-urls`,\n\
          \  {\n    method: 'POST',\n    headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' }\n  }\n\
          );\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\norder_id = 'ORDER_ID'\nresponse = requests.post(\n    f'https://api.bizmori.com/api/v2/orders/{order_id}/refresh-urls',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/webhook:
    post:
      summary: Register webhook (Legacy)
      operationId: createLegacyWebhook
      deprecated: true
      description: '**Deprecated**: This API has been replaced by `/webhooks`.


        Register a webhook URL to receive notifications when order processing completes
        or fails. A live API key may choose isTest and defaults to false. A test API
        key omits isTest or uses true and is forced to true; false returns AUTH_FORBIDDEN.

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRegisterRequest'
      responses:
        '200':
          description: Webhook registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/webhook \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\": \"\
          https://example.com/webhook\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/webhook', {\n  method:\
          \ 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({ url: 'https://example.com/webhook' })\n\
          });\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/webhook',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'url': 'https://example.com/webhook'}\n\
          )\ndata = response.json()"
    get:
      summary: Get webhook (Legacy)
      operationId: getLegacyWebhook
      deprecated: true
      description: '**Deprecated**: This API has been replaced by `/webhooks`.

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/webhook \\\n  -H \"Authorization: Bearer\
          \ YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://api.bizmori.com/api/v2/orders/webhook',\n \
          \ { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders/webhook',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
    delete:
      summary: Delete webhook (Legacy)
      operationId: deleteLegacyWebhook
      deprecated: true
      description: '**Deprecated**: This API has been replaced by `/webhooks/{webhookId}`.

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Webhook deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X DELETE https://api.bizmori.com/api/v2/orders/webhook \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/webhook', {\n  method:\
          \ 'DELETE',\n  headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' }\n});\nconst data = await\
          \ response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.delete(\n    'https://api.bizmori.com/api/v2/orders/webhook',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'}\n)\ndata = response.json()"
  /api/v2/orders/webhooks:
    get:
      summary: List webhooks
      operationId: listWebhooks
      description: 'Retrieve registered webhooks with pagination. A test API key sees only endpoints owned by the same owner with `isTest=true`; live keys keep their existing mixed live/test list.

        - Includes name, URL, active status, and last sent time

        - `isTest: true` endpoints receive test order events; test API keys can manage only test endpoints owned by the same owner

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        description: Items per page
      - in: query
        name: keyword
        schema:
          type: string
        description: Search keyword (searches webhook name or URL)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      webhooks:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookListItem'
                      pagination:
                        $ref: '#/components/schemas/WebhookPagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET \"https://api.bizmori.com/api/v2/orders/webhooks?page=1&limit=10\" \\\n \
          \ -H \"Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const params = new URLSearchParams({ page: 1, limit: 10 });\nconst response = await fetch(\n\
          \  `https://api.bizmori.com/api/v2/orders/webhooks?${params}`,\n  { headers: { 'Authorization':\
          \ 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    'https://api.bizmori.com/api/v2/orders/webhooks',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    params={'page': 1, 'limit': 10}\n\
          )\ndata = response.json()"
    post:
      summary: Create webhook
      operationId: createWebhook
      description: "Register a new webhook. A test API key creates an owned test endpoint when `isTest` is omitted or true; `isTest: false` returns `AUTH_FORBIDDEN`.\n- Multiple webhooks can be registered\n\
        - A signing secret is returned upon registration\n\n**Important**: The secret\
        \ is only shown in this response. Store it securely.\n\n## Webhook Event Types\n\
        \n| Event Type | Description |\n|-----------|-------------|\n| `order.antiAi.completed`\
        \ | Anti-AI processing completed |\n| `order.antiAi.failed` | Anti-AI processing\
        \ failed |\n| `order.watermarkEmbed.completed` | Watermark embedding completed\
        \ |\n| `order.watermarkEmbed.failed` | Watermark embedding failed |\n| `order.watermarkExtract.completed`\
        \ | Watermark extraction completed |\n| `order.watermarkExtract.failed` |\
        \ Watermark extraction failed |\n\n## Signature Verification\n\nWebhook requests\
        \ include an `X-MoriBiz-Signature` header.\nThe signature is generated using\
        \ HMAC-SHA256 with the secret issued at registration.\n\n```javascript\nconst\
        \ crypto = require('crypto');\nconst signature = crypto.createHmac('sha256',\
        \ secret)\n  .update(JSON.stringify(payload))\n  .digest('hex');\n```\n\n\
        ## Retry Policy\n\n- Max 3 retries\n- Exponential backoff (1s, 2s, 4s)\n-\
        \ Success response: 2xx status code\n\nSet `isTest` to `true` for a test webhook endpoint. Test API keys can manage only test endpoints owned by the same owner.\n"
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
      responses:
        '200':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Webhook ID
                      name:
                        type: string
                        description: Webhook name
                      secret:
                        type: string
                        description: 'Webhook signing secret.

                          **Warning**: This value cannot be retrieved again. Store it securely.

                          '
                      isTest:
                        type: boolean
                        description: Whether this is a test endpoint
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/webhooks \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\"\
          : \"My Webhook\",\n    \"url\": \"https://example.com/webhook\"\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/webhooks', {\n  method:\
          \ 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n    'Content-Type':\
          \ 'application/json'\n  },\n  body: JSON.stringify({\n    name: 'My Webhook',\n    url: 'https://example.com/webhook'\n\
          \  })\n});\nconst data = await response.json();\n// Save data.data.secret securely — it won't\
          \ be shown again"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/webhooks',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'name': 'My Webhook',\n\
          \        'url': 'https://example.com/webhook'\n    }\n)\ndata = response.json()\n# Save data['data']['secret']\
          \ securely — it won't be shown again"
  /api/v2/orders/webhooks/{webhookId}:
    get:
      summary: Get webhook details
      operationId: getWebhook
      description: 'Retrieve detailed information for a specific webhook. A test API key can retrieve only its owner''s test endpoint; a live or other-owner ID returns `WEBHOOK_NOT_FOUND` without disclosing existence.'
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: Webhook ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X GET https://api.bizmori.com/api/v2/orders/webhooks/WEBHOOK_ID \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const webhookId = 'WEBHOOK_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/webhooks/${webhookId}`,\n\
          \  { headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' } }\n);\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nwebhook_id = 'WEBHOOK_ID'\nresponse = requests.get(\n    f'https://api.bizmori.com/api/v2/orders/webhooks/{webhook_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()"
    put:
      summary: Update webhook
      operationId: updateWebhook
      description: 'Update webhook information. A test API key can update only its owner''s test endpoint; omitting `isTest` keeps test mode, true is allowed, and false returns `AUTH_FORBIDDEN`. A live or other-owner ID returns `WEBHOOK_NOT_FOUND`.'
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: Webhook ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                        format: uri
                      isActive:
                        type: boolean
                      isTest:
                        type: boolean
                        description: Whether this is a test endpoint
                      updatedAt:
                        type: string
                        format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X PUT https://api.bizmori.com/api/v2/orders/webhooks/WEBHOOK_ID \\\n  -H \"Authorization:\
          \ Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\"\
          : \"Updated Webhook\",\n    \"url\": \"https://example.com/webhook-v2\"\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const webhookId = 'WEBHOOK_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/webhooks/${webhookId}`,\n\
          \  {\n    method: 'PUT',\n    headers: {\n      'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      name: 'Updated\
          \ Webhook',\n      url: 'https://example.com/webhook-v2'\n    })\n  }\n);\nconst data = await\
          \ response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nwebhook_id = 'WEBHOOK_ID'\nresponse = requests.put(\n    f'https://api.bizmori.com/api/v2/orders/webhooks/{webhook_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'},\n    json={\n        'name': 'Updated Webhook',\n\
          \        'url': 'https://example.com/webhook-v2'\n    }\n)\ndata = response.json()"
    delete:
      summary: Delete webhook
      operationId: deleteWebhook
      description: 'Delete a webhook. A test API key can delete only its owner''s test endpoint; a live or other-owner ID returns `WEBHOOK_NOT_FOUND` without disclosing existence.'
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: Webhook ID
      responses:
        '200':
          description: Deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/WebhookNotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X DELETE https://api.bizmori.com/api/v2/orders/webhooks/WEBHOOK_ID \\\n  -H \"\
          Authorization: Bearer YOUR_API_TOKEN\""
      - lang: javascript
        label: JavaScript
        source: "const webhookId = 'WEBHOOK_ID';\nconst response = await fetch(\n  `https://api.bizmori.com/api/v2/orders/webhooks/${webhookId}`,\n\
          \  {\n    method: 'DELETE',\n    headers: { 'Authorization': 'Bearer YOUR_API_TOKEN' }\n  }\n\
          );\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nwebhook_id = 'WEBHOOK_ID'\nresponse = requests.delete(\n    f'https://api.bizmori.com/api/v2/orders/webhooks/{webhook_id}',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_KEY'}\n)\ndata = response.json()"
  /api/v2/orders/webhooks/{webhookId}/events:
    get:
      summary: List webhook events
      operationId: listWebhookEvents
      description: 'Retrieve delivery events for a specific webhook with pagination. A test API key sees events only for its owner''s test endpoint; a live or other-owner ID returns `WEBHOOK_NOT_FOUND`.

        - Includes status, event type, and delivery time

        - Test API keys can manage only test endpoints owned by the same owner

        '
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: integer
        description: Webhook ID
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Items per page
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
[...]
