openapi: "3.0.0"
info:
  title: BIZ MORI API
  version: 2.0.0
  description: 'BIZ MORI API provides four core services for digital content protection:

    - **Anti-AI**: Protect images from AI training

    - **Watermark Embed**: Embed invisible digital watermarks into images

    - **Watermark Extract**: Extract and verify watermarks from images

    - **AI Detection**: Detect whether an image is AI-generated

    - **Test API keys**: Keys with the `sk_test_` prefix use the same Bearer authentication and support order-lifecycle testing with mock responses without running processing services or consuming credits; test uploads discard file contents and do not create result files

    '
  contact:
    name: BIZ MORI Support
    email: support@bizmori.com
  license:
    name: Proprietary
    url: https://docs.bizmori.com/legal/terms
servers:
- url: https://api.bizmori.com
  description: Production
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer API key for external client access. Live keys use the `sk_` prefix; test keys use the `sk_test_` prefix and support order-lifecycle testing with mock responses without processing or credit usage.'
  schemas:
    BaseResponse:
      type: object
      properties:
        data:
          oneOf:
          - type: object
            nullable: true
            additionalProperties: true
          - type: array
            items: {}
          description: Response data (null if no data)
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
    PageInfo:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of items
        totalPages:
          type: integer
          description: Total number of pages
        currentPage:
          type: integer
          description: Current page number
        itemsPerPage:
          type: integer
          description: Items per page
    OrderOptions:
      type: object
      properties:
        strength:
          type: string
          enum:
          - low
          - standard
          - high
          default: high
          description: 'Protection strength level

            * low - Low protection strength

            * standard - Standard protection strength

            * high - High protection strength

            '
    OrderFile:
      type: object
      properties:
        fileId:
          type: string
          description: File ID
        fileName:
          type: string
          description: File name
        uploadUrl:
          type: string
          format: uri
          description: 'Upload URL. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire one hour after issue and can be renewed with `POST /api/v2/orders/{orderId}/refresh-urls`. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
        fileKey:
          type: string
          description: |
            File identifier: an S3 object key for live keys or an isolated logical key for test keys.
    AntiAiOrderFile:
      type: object
      description: 'Anti-AI order file info (fields vary by file mode)

        - Upload mode: fileId, fileName, uploadUrl, fileKey

        - URL mode: fileId, fileName, originalFileUrl

        '
      properties:
        fileId:
          type: string
          description: File ID
        fileName:
          type: string
          description: File name
        uploadUrl:
          type: string
          format: uri
          description: 'Upload URL — upload mode files only. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour and can be renewed with `POST /api/v2/orders/{orderId}/refresh-urls`. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
        fileKey:
          type: string
          description: |
            File identifier — upload mode files only: an S3 object key for live keys or an isolated logical key for test keys.
        originalFileUrl:
          type: string
          format: uri
          description: Original image URL — URL mode files only
    WtrExtractOrderFile:
      type: object
      description: Watermark extract order file info
      properties:
        fileId:
          type: integer
          description: File ID
        fileName:
          type: string
          description: File name
        uploadUrl:
          type: string
          format: uri
          description: 'Upload URL. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour and can be renewed with `POST /api/v2/orders/{orderId}/refresh-urls`. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
        fileKey:
          type: string
          description: |
            File identifier: an S3 object key for live keys or an isolated logical key for test keys.
        fileFormat:
          type: string
          description: File format
          example: JPG
        fileType:
          type: string
          enum:
          - IMG
          - DOCUMENT
          description: File type (image or PDF)
        role:
          type: string
          enum:
          - watermarked
          description: File role (always "watermarked" for the main file)
        sequence:
          type: integer
          description: File sequence number (always 1)
          example: 1
        originalFile:
          type: object
          nullable: true
          description: Original file info (only when includeOriginal is true)
          properties:
            fileId:
              type: integer
              description: File ID
            fileName:
              type: string
              description: File name
            uploadUrl:
              type: string
              format: uri
              description: 'Upload URL. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour and can be renewed with `POST /api/v2/orders/{orderId}/refresh-urls`. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
            fileKey:
              type: string
              description: |
                File identifier: an S3 object key for live keys or an isolated logical key for test keys.
            fileFormat:
              type: string
              description: File format
            fileType:
              type: string
              enum:
              - IMG
              description: File type (image only)
            role:
              type: string
              enum:
              - original
              description: File role (always "original")
            sequence:
              type: integer
              description: File sequence number (always 1)
              example: 1
    Order:
      type: object
      properties:
        orderId:
          type: string
          description: Order ID
        orderName:
          type: string
          description: Order name
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: Order type. Orders created with the v3 watermark API are also returned as `watermarkEmbed`
            or `watermarkExtract`
        channel:
          type: string
          enum:
          - api
          - web
          description: Order channel
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: 'Order status

            * pending - Waiting

            * inProgress - Processing

            * complete - Completed

            * failed - Failed

            * expired - Expired (order files unavailable after 7 days)

            '
        fileCount:
          type: integer
          description: 'Number of files. For v3 watermark orders: embed orders count original files, extract
            orders count only the file to inspect'
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: |
            Thumbnail image URL (presigned URL, 1-hour expiry). For aiDetection orders, only returned when generateThumbnail option is used. null when expired.
            For v3 watermark orders, a thumbnail up to 100×100 WebP (the first page for PDFs) is returned after processing completes. Before completion, after a failure, or when no thumbnail exists, a status image is returned.
        createdAt:
          type: string
          format: date-time
          description: Created at
        updatedAt:
          type: string
          format: date-time
          description: Last updated at
        probability:
          type: number
          nullable: true
          description: AI detection probability (aiDetection orders only)
        statusCode:
          type: string
          nullable: true
          enum:
          - detected
          - undetected
          - inconclusive
          - unsupported
          - error
          - likely_real
          - uncertain_real
          - uncertain_ai
          - likely_ai
          description: |
            Status code by order type. `null` until a result is available.

            **watermarkExtract orders:**

            * `detected` - Watermark detected
            * `undetected` - Watermark not detected
            * `inconclusive` - Undetermined (v3 orders only)
            * `unsupported` - Input cannot be processed (v3 orders only)
            * `error` - Detection failed (v3 orders only)

            **aiDetection orders** (computed from probability):

            * `likely_real` - Likely real content
            * `uncertain_real` - Uncertain, leaning real
            * `uncertain_ai` - Uncertain, leaning AI
            * `likely_ai` - Likely AI-generated content
    OrderDetail:
      type: object
      description: Order detail info
      properties:
        orderId:
          type: string
          description: Order ID
        orderName:
          type: string
          description: Order name
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: Order type
        channel:
          type: string
          enum:
          - api
          - web
          description: Order channel
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: Order status
        fileCount:
          type: integer
          description: Number of files
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: Thumbnail image URL (presigned URL, 1-hour expiry). For aiDetection orders, only
            returned when generateThumbnail option is used. null when expired.
        originalImageUrl:
          type: string
          format: uri
          nullable: true
          description: Original input image download URL (presigned URL, 1-hour expiry). aiDetection orders
            only. null when expired.
        createdAt:
          type: string
          format: date-time
          description: Created at
        updatedAt:
          type: string
          format: date-time
          description: Updated at
        errors:
          type: object
          nullable: true
          description: Failure details. null unless the order failed. Watermark orders always return a public
            errorCode and a fixed errorMessage; see the failed webhook event error codes for the list.
          properties:
            errorCode:
              type: string
              description: Public error code, for example WATERMARK_IMAGE_COLOR_MODE_UNSUPPORTED, ORDER_TIMEOUT, or
                PROCESSING_ERROR
              example: WATERMARK_IMAGE_COLOR_MODE_UNSUPPORTED
            errorMessage:
              type: string
              description: Fixed guidance message for the error code (Korean). It never contains raw processor output
        watermarks:
          type: array
          items:
            type: string
          description: Watermark text list (watermarkEmbed orders only)
        watermarkText:
          type: string
          nullable: true
          description: Extracted watermark text (watermarkExtract orders only)
        probability:
          type: number
          nullable: true
          description: AI detection probability (aiDetection orders only)
        statusCode:
          type: string
          nullable: true
          description: 'Status code by order type.

            **watermarkExtract orders:**

            * detected - Watermark detected

            * undetected - Watermark not detected

            **aiDetection orders** (computed from probability):

            * likely_real - probability < 0.25

            * uncertain_real - 0.25 <= probability < 0.5

            * uncertain_ai - 0.5 <= probability < 0.75

            * likely_ai - probability >= 0.75

            Not returned for other order types.

            '
        options:
          type: object
          nullable: true
          description: Options set at order creation (aiDetection orders only)
          properties:
            generateHeatmap:
              type: boolean
              description: Whether heatmap image was requested
              example: true
            generateOverlay:
              type: boolean
              description: Whether overlay image was requested
              example: true
            generateThumbnail:
              type: boolean
              description: Whether thumbnail image was requested
              example: true
        heatmapUrl:
          type: string
          format: uri
          nullable: true
          description: AI detection heatmap image download URL (aiDetection orders only, when generateHeatmap
            option is used)
        overlayUrl:
          type: string
          format: uri
          nullable: true
          description: Heatmap overlay on original image download URL (aiDetection orders only, when generateOverlay
            option is used)
    UsageStats:
      type: object
      properties:
        dailyStats:
          type: array
          items:
            type: object
            properties:
              usageDate:
                type: string
                description: Usage date (MM.DD)
              usageCount:
                type: integer
                description: Usage count
        domain:
          type: array
          items:
            type: integer
          description: Chart Y-axis range [min, max]
        ticks:
          type: array
          items:
            type: integer
          description: Chart Y-axis tick values
    WebhookRegisterRequest:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: Webhook endpoint URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: 'Endpoint mode. A test API key omits this field or uses true and is forced to true; false returns AUTH_FORBIDDEN. A live API key may choose either mode.'
    WebhookInfo:
      type: object
      properties:
        url:
          type: string
          format: uri
          nullable: true
          description: Registered webhook URL
        createdAt:
          type: string
          format: date-time
          nullable: true
          description: Created at
    WebhookCreateRequest:
      type: object
      required:
      - url
      properties:
        name:
          type: string
          maxLength: 100
          description: Webhook name (for identification)
        url:
          type: string
          format: uri
          description: Webhook endpoint URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: 'Endpoint mode. For a test API key, omit this field or use true; false returns AUTH_FORBIDDEN. Live API keys may choose either mode.'
    WebhookUpdateRequest:
      type: object
      required:
      - url
      properties:
        name:
          type: string
          maxLength: 100
          description: Webhook name
        url:
          type: string
          format: uri
          description: Webhook URL
          example: https://example.com/webhook
        isTest:
          type: boolean
          description: 'Endpoint mode. For a test API key, omission preserves test mode and true is allowed; false returns AUTH_FORBIDDEN. Live API keys may choose either mode.'
    WebhookListItem:
      type: object
      properties:
        id:
          type: integer
          description: Webhook ID
        name:
          type: string
          description: Webhook name
        url:
          type: string
          format: uri
          description: Webhook URL
        isActive:
          type: boolean
          description: Active status
        isTest:
          type: boolean
          description: Whether this is a test endpoint
        lastSentAt:
          type: string
          format: date-time
          nullable: true
          description: Last sent at
        createdAt:
          type: string
          format: date-time
          description: Created at
    WebhookDetail:
      type: object
      properties:
        id:
          type: integer
          description: Webhook ID
        name:
          type: string
          description: Webhook name
        url:
          type: string
          format: uri
          description: Webhook URL
        secret:
          type: string
          description: Webhook signing secret
        isActive:
          type: boolean
          description: Active status
        isTest:
          type: boolean
          description: Whether this is a test endpoint
        createdAt:
          type: string
          format: date-time
          description: Created at
        updatedAt:
          type: string
          format: date-time
          description: Updated at
    WebhookEvent:
      type: object
      properties:
        id:
          type: integer
          description: Event DB ID
        eventId:
          type: string
          format: uuid
          description: Event UUID
        eventType:
          type: string
          description: Event type
          example: order.antiAi.completed
        status:
          type: string
          enum:
          - PENDING
          - SENT
          - RETRYING
          - FAILED
          description: Delivery status
        retries:
          type: integer
          description: Retry count
        lastSentAt:
          type: string
          format: date-time
          nullable: true
          description: Last sent at
        createdAt:
          type: string
          format: date-time
          description: Created at
    WebhookPagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page
        limit:
          type: integer
          description: Items per page
        total:
          type: integer
          description: Total items
        totalPages:
          type: integer
          description: Total pages
    WatermarkV1OrderResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/WatermarkV1Order'
    WatermarkV1Order:
      type: object
      description: 'Invisible watermark order created with the v3 API, as returned by the order creation endpoints. Use `GET /api/v3/orders/{orderId}` for the order detail, which has a different shape'
      required:
      - orderId
      - status
      - processingDelayed
      - files
      - outputs
      - result
      - reports
      properties:
        orderId:
          type: string
          description: Order ID
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: |
            Order processing status

            * `pending` - Waiting for file uploads
            * `inProgress` - Processing
            * `complete` - Processing finished. For extract orders, read the outcome from `result`
            * `failed` - Processing failed, or files were not uploaded within 12 hours
            * `expired` - The retention period has ended and files were deleted
        processingDelayed:
          type: boolean
          description: '`true` when automatic retries are exhausted and the order is waiting for manual recovery.
            The order stays `inProgress`'
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: When the order files are deleted. Downloads and reports return `ORDER_EXPIRED` afterwards
        files:
          type: array
          description: Uploaded input files, in request order. Extract orders return the original first and
            the file to inspect second
          items:
            $ref: '#/components/schemas/WatermarkV1UploadFile'
        outputs:
          type: array
          description: Embed outputs. One entry per watermark text. Empty for extract orders
          items:
            $ref: '#/components/schemas/WatermarkV1Output'
        result:
          $ref: '#/components/schemas/WatermarkV1DetectionResult'
        reports:
          type: array
          description: Reports requested for this order
          items:
            type: object
            required:
            - locale
            - status
            properties:
              locale:
                type: string
                enum:
                - ko-KR
                - en-US
                - ja-JP
              status:
                type: string
                enum:
                - queued
                - processing
                - completed
                - failed
    WatermarkV1UploadFile:
      type: object
      required:
      - fileId
      - uploadUrl
      properties:
        fileId:
          type: string
          description: Input file ID
        uploadUrl:
          type: string
          format: uri
          nullable: true
          description: |
            Presigned `PUT` URL for uploading the file, valid for 900 seconds. Issued only while the order `status` is `pending`, the retention period has not ended, and the file is waiting for upload.
            It is `null` for files given by `originalFileUrl`, files already uploaded, orders that became `failed` after the 12-hour upload window, and expired orders.
    WatermarkV1Output:
      type: object
      required:
      - fileId
      - inputFileId
      - outputIndex
      - watermarkText
      - status
      - mediaKind
      properties:
        fileId:
          type: string
          description: 'Identifier of the output within the order in `{inputFileId}-{ordinal}` format. Used only in the order creation response. `result.outputFiles[].fileId` of the order detail and `files[].fileId` of the download response are numeric strings and differ from this value'
        inputFileId:
          type: string
          description: ID of the input file this output was created from
        outputIndex:
          type: integer
          minimum: 0
          description: Position of the watermark text within the input file's `watermarks`
        watermarkText:
          type: string
          description: The embedded watermark text
        status:
          type: string
          enum:
          - pending
          - queued
          - processing
          - completed
          - failed
          - retry_required
          description: Processing status of this output
        mediaKind:
          type: string
          enum:
          - image
          - pdf
    WatermarkV1DetectionResult:
      type: object
      nullable: true
      description: Extract result summary. `null` for embed orders and until the result is ready. Contains
        only the fields below
      required:
      - detectionStatus
      - reportSupported
      - watermarkText
      additionalProperties: false
      properties:
        detectionStatus:
          type: string
          enum:
          - detected
          - not_detected
          - inconclusive
          - unsupported
          - error
          description: |
            * `detected` - A watermark was found
            * `not_detected` - The file was fully checked and no watermark was found
            * `inconclusive` - A candidate was found but did not meet the confidence threshold
            * `unsupported` - The input cannot be processed (credit refunded)
            * `error` - Detection failed. This is not the same as no watermark (credit refunded)
        reportSupported:
          type: boolean
          description: Whether a report can be created from this result. `false` for images captured from
            a PDF
        watermarkText:
          type: string
          nullable: true
          description: |
            Embedded text of the detected watermark. Returned only when `detectionStatus` is `detected`, your account embedded the watermark, and exactly one issuance record matches.
            Otherwise `null`, for example when another account embedded the watermark.
    PublicInputFile:
      type: object
      description: Input file of an order other than `watermarkExtract`, in request order. There is no `role` key. The `uploadUrl` key appears only while the order `status` is `pending` and the file is waiting for upload; otherwise the key is omitted, not set to `null`
      required:
      - fileId
      - fileName
      additionalProperties: false
      properties:
        fileId:
          type: string
          pattern: ^[0-9]+$
          description: Input file ID. A numeric string
          example: '11'
        fileName:
          type: string
          nullable: true
          description: Input file name, including the extension. `null` if unknown
          example: cat.png
        uploadUrl:
          type: string
          format: uri
          description: Presigned `PUT` URL for uploading the file. Present only while the order `status` is `pending`, the retention period has not ended, and the file is waiting for upload. Omitted for files already uploaded, files given by `originalFileUrl`, and orders that are not `pending`
    PublicExtractInputFile:
      type: object
      description: Input file of a `watermarkExtract` order. Adds `role`, which tells the original apart from the file to inspect. `uploadUrl` follows the same rules as `PublicInputFile`
      required:
      - fileId
      - fileName
      - role
      additionalProperties: false
      properties:
        fileId:
          type: string
          pattern: ^[0-9]+$
          description: Input file ID. A numeric string
          example: '51'
        fileName:
          type: string
          nullable: true
          description: Input file name, including the extension. `null` if unknown
          example: suspect.png
        role:
          type: string
          enum:
          - original
          - query
          description: |-
            * `original` - The original file the watermark was embedded in
            * `query` - The file to check for a watermark. The `watermarked` role of v2 orders is also returned as `query`
        uploadUrl:
          type: string
          format: uri
          description: Presigned `PUT` URL for uploading the file. Present only while `status` is `pending` and the file is waiting for upload
    PublicOutputFile:
      type: object
      description: One output file of an Anti-AI order. `fileId` matches `files[].fileId` of the download response in value and order
      required:
      - fileId
      - fileName
      - inputFileId
      additionalProperties: false
      properties:
        fileId:
          type: string
          pattern: ^[0-9]+$
          description: Output file ID. A numeric string, unique within the order
          example: '21'
        fileName:
          type: string
          nullable: true
          description: Output file name, including the extension. `null` if unknown
          example: cat.png
        inputFileId:
          type: string
          pattern: ^[0-9]+$
          description: '`inputFiles[].fileId` of the input file this output was created from'
          example: '11'
    PublicWatermarkEmbedOutputFile:
      type: object
      description: One output file of a watermark embed order. Adds the embedded text `watermarkText` to `PublicOutputFile`. A v3 order that embeds several texts in one input file returns several output files with the same `inputFileId`
      required:
      - fileId
      - fileName
      - inputFileId
      - watermarkText
      additionalProperties: false
      properties:
        fileId:
          type: string
          pattern: ^[0-9]+$
          description: Output file ID. A numeric string, unique within the order
          example: '201'
        fileName:
          type: string
          nullable: true
          description: Output file name, including the extension. `null` if unknown
          example: logo.png
        inputFileId:
          type: string
          pattern: ^[0-9]+$
          description: '`inputFiles[].fileId` of the input file this output was created from'
          example: '31'
        watermarkText:
          type: string
          description: Watermark text embedded in this output file
          example: MORI
    PublicAntiAiResult:
      type: object
      nullable: true
      description: Anti-AI order result. An object only when `status` is `complete`; otherwise `null`
      required:
      - outputFiles
      additionalProperties: false
      properties:
        outputFiles:
          type: array
          description: Output files. One output file per input file
          items:
            $ref: '#/components/schemas/PublicOutputFile'
    PublicWatermarkEmbedResult:
      type: object
      nullable: true
      description: Watermark embed order result. An object only when `status` is `complete`; otherwise `null`. Replaces `outputs[]` of the previous v3 response and `watermarks[]` of the v2 detail
      required:
      - outputFiles
      additionalProperties: false
      properties:
        outputFiles:
          type: array
          description: Output files, ordered by input file and then by output within the same input file
          items:
            $ref: '#/components/schemas/PublicWatermarkEmbedOutputFile'
    PublicWatermarkExtractResult:
      type: object
      nullable: true
      description: Watermark extract order result. An object only when `status` is `complete`; otherwise `null`. Internal values such as the watermark ID and engine reason codes are not included
      required:
      - detectionStatus
      - watermarkText
      - reportSupported
      - reports
      additionalProperties: false
      properties:
        detectionStatus:
          type: string
          nullable: true
          enum:
          - detected
          - undetected
          - inconclusive
          - unsupported
          - error
          - null
          description: |-
            Outcome. `null` only for a v2 order that has no detection record (a data anomaly).
            * `detected` - A watermark was found
            * `undetected` - The file was fully checked and no watermark was found. Includes `not_detected` from the v3 engine and v2 orders stored as `undetected`
            * `inconclusive` - A candidate was found but did not meet the confidence threshold
            * `unsupported` - The input cannot be processed (credit refunded)
            * `error` - Detection failed. This is not the same as no watermark. Includes v2 orders whose detection failed
        watermarkText:
          type: string
          nullable: true
          description: Embedded text of the detected watermark. `null` unless `detectionStatus` is `detected`. For v3 orders, returned only when your account embedded the watermark and exactly one issuance record matches; otherwise `null`
        reportSupported:
          type: boolean
          description: Whether you can create an analysis report from this result. `false` for v2 orders and for images captured from a PDF
        reports:
          type: array
          description: Report status per locale for this order. Always empty for v2 orders
          items:
            type: object
            required:
            - locale
            - status
            additionalProperties: false
            properties:
              locale:
                type: string
                enum:
                - ko-KR
                - en-US
                - ja-JP
              status:
                type: string
                enum:
                - queued
                - processing
                - completed
                - failed
    PublicAiDetectionResult:
      type: object
      nullable: true
      description: AI Detection order result. An object only when `status` is `complete`; otherwise `null`. `verdict` replaces `statusCode` of earlier responses
      required:
      - verdict
      - probability
      - options
      - originalImageUrl
      - heatmapUrl
      - overlayUrl
      additionalProperties: false
      properties:
        verdict:
          type: string
          nullable: true
          enum:
          - likely_real
          - uncertain_real
          - uncertain_ai
          - likely_ai
          - null
          description: |-
            Verdict based on `probability`. `null` when `probability` is `null`.
            * `likely_real` - Likely not AI-generated, probability < 0.25
            * `uncertain_real` - Possibly not AI-generated, 0.25 <= probability < 0.5
            * `uncertain_ai` - Possibly AI-generated, 0.5 <= probability < 0.75
            * `likely_ai` - Likely AI-generated, probability >= 0.75
        probability:
          type: number
          format: float
          nullable: true
          minimum: 0
          maximum: 1
          description: Probability that the image is AI-generated (0 to 1). `null` if unavailable
          example: 0.31
        options:
          type: object
          nullable: true
          description: Options set when the order was created. `null` if no options were stored
          properties:
            generateHeatmap:
              type: boolean
            generateOverlay:
              type: boolean
            generateThumbnail:
              type: boolean
        originalImageUrl:
          type: string
          format: uri
          nullable: true
          description: Original input image URL (presigned, valid for 1 hour). When all resized images are ready, it is a WebP image whose longer side is at most 1600 px
        heatmapUrl:
          type: string
          format: uri
          nullable: true
          description: Heatmap image URL (presigned, valid for 1 hour). Returned only for orders created with `generateHeatmap`; otherwise `null`
        overlayUrl:
          type: string
          format: uri
          nullable: true
          description: URL of the heatmap overlaid on the original image (presigned, valid for 1 hour). Returned only for orders created with `generateOverlay`; otherwise `null`
    PublicOrderV3DetailCommon:
      type: object
      description: Common fields of the v3 order detail. Every order type and watermark engine returns the same set of top-level keys; only `result` differs by type. The top-level `fileCount`, `statusCode`, `files`, `outputs`, `reports`, and `watermarks` fields of earlier responses are not returned
      required:
      - type
      - orderId
      - orderName
      - channel
      - status
      - createdAt
      - updatedAt
      - expiresAt
      - retentionDays
      - thumbnailImageUrl
      - processingDelayed
      - errors
      - inputFiles
      - result
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
          - antiAi
          - watermarkEmbed
          - watermarkExtract
          - aiDetection
          description: Order type. Watermark orders return `watermarkEmbed` or `watermarkExtract` whether they were created with v2 or v3
        orderId:
          type: string
          description: Order ID
          example: '1001'
        orderName:
          type: string
          nullable: true
          description: Order name. For watermark orders created with v3, the display file name, or the stored name if there is none
        channel:
          type: string
          enum:
          - api
          - web
          description: Order channel
        status:
          type: string
          enum:
          - pending
          - inProgress
          - complete
          - failed
          - expired
          description: |-
            * `pending` - Waiting for file uploads
            * `inProgress` - Processing
            * `complete` - Finished. Only then is `result` an object
            * `failed` - Failed. See `errors` for the reason
            * `expired` - The retention period has ended. You can still get the order, but `result` and all URLs are `null`

            v2 watermark extract orders stored as `detected` or `undetected` return `complete`, with the outcome in `result.detectionStatus`
        createdAt:
          type: string
          format: date-time
          description: Created at
        updatedAt:
          type: string
          format: date-time
          description: Updated at
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: When the order files are deleted (UTC, ISO 8601). `null` only in data integrity exceptions
        retentionDays:
          type: integer
          nullable: true
          description: File retention period fixed at order creation, in days (7 or 30). `null` only in data integrity exceptions
          example: 30
        thumbnailImageUrl:
          type: string
          format: uri
          nullable: true
          description: 'Thumbnail image URL. The source depends on the order type: Anti-AI orders and v2 watermark orders return a fixed status image while incomplete or failed, AI Detection orders return the detail thumbnail or the original image, and v3 watermark orders return the detail thumbnail, which can be `null` before processing'
        processingDelayed:
          type: boolean
          description: '`true` when a watermark order created with v3 has exhausted automatic retries and is waiting for manual recovery. The order stays `inProgress`. Always `false` for other orders'
        errors:
          type: object
          nullable: true
          description: Failure details of a failed order; otherwise `null`. Watermark orders created with v3 return a public `errorCode` and a fixed `errorMessage`. Other orders return the stored error information as is, which may omit `errorCode`
          properties:
            errorCode:
              type: string
              description: Error code, for example `WATERMARK_FILE_CORRUPTED`, `ORDER_TIMEOUT`, or `PROCESSING_ERROR`
              example: WATERMARK_FILE_CORRUPTED
            errorMessage:
              type: string
              description: Fixed guidance message for the error code (Korean). It never contains raw processor output
        inputFiles:
          type: array
          description: Input files in request order. Use `inputFiles.length` for the file count. `watermarkExtract` orders use `PublicExtractInputFile` (with `role`); other orders use `PublicInputFile`
          items:
            anyOf:
            - $ref: '#/components/schemas/PublicInputFile'
            - $ref: '#/components/schemas/PublicExtractInputFile'
        result:
          type: object
          nullable: true
          description: Result by order type. The key is always present. An object only when `status` is `complete`; otherwise `null`
    PublicAntiAiOrderV3Detail:
      title: Anti-AI
      description: Anti-AI order detail
      allOf:
      - $ref: '#/components/schemas/PublicOrderV3DetailCommon'
      - type: object
        properties:
          type:
            type: string
            enum:
            - antiAi
          inputFiles:
            type: array
            items:
              $ref: '#/components/schemas/PublicInputFile'
          result:
            $ref: '#/components/schemas/PublicAntiAiResult'
    PublicWatermarkEmbedOrderV3Detail:
      title: Watermark embed
      description: Watermark embed order detail (created with v2 or v3)
      allOf:
      - $ref: '#/components/schemas/PublicOrderV3DetailCommon'
      - type: object
        properties:
          type:
            type: string
            enum:
            - watermarkEmbed
          inputFiles:
            type: array
            items:
              $ref: '#/components/schemas/PublicInputFile'
          result:
            $ref: '#/components/schemas/PublicWatermarkEmbedResult'
    PublicWatermarkExtractOrderV3Detail:
      title: Watermark extract
      description: Watermark extract order detail (created with v2 or v3). Only this order type has `inputFiles[].role`
      allOf:
      - $ref: '#/components/schemas/PublicOrderV3DetailCommon'
      - type: object
        properties:
          type:
            type: string
            enum:
            - watermarkExtract
          inputFiles:
            type: array
            items:
              $ref: '#/components/schemas/PublicExtractInputFile'
          result:
            $ref: '#/components/schemas/PublicWatermarkExtractResult'
    PublicAiDetectionOrderV3Detail:
      title: AI Detection
      description: AI Detection order detail
      allOf:
      - $ref: '#/components/schemas/PublicOrderV3DetailCommon'
      - type: object
        properties:
          type:
            type: string
            enum:
            - aiDetection
          inputFiles:
            type: array
            items:
              $ref: '#/components/schemas/PublicInputFile'
          result:
            $ref: '#/components/schemas/PublicAiDetectionResult'
    PublicOrderV3Detail:
      description: v3 order detail. The top-level fields are the same for every order type (`PublicOrderV3DetailCommon`); only `result`, and `inputFiles[].role` on extract orders, differ by `type`
      oneOf:
      - $ref: '#/components/schemas/PublicAntiAiOrderV3Detail'
      - $ref: '#/components/schemas/PublicWatermarkEmbedOrderV3Detail'
      - $ref: '#/components/schemas/PublicWatermarkExtractOrderV3Detail'
      - $ref: '#/components/schemas/PublicAiDetectionOrderV3Detail'
      discriminator:
        propertyName: type
        mapping:
          antiAi: '#/components/schemas/PublicAntiAiOrderV3Detail'
          watermarkEmbed: '#/components/schemas/PublicWatermarkEmbedOrderV3Detail'
          watermarkExtract: '#/components/schemas/PublicWatermarkExtractOrderV3Detail'
          aiDetection: '#/components/schemas/PublicAiDetectionOrderV3Detail'
    PublicOrderV3DetailResponse:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/PublicOrderV3Detail'
    PublicOrderV3DownloadResponse:
      type: object
      required:
      - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
          - archiveUrl
          - files
          - expiresInSeconds
          additionalProperties: false
          properties:
            archiveUrl:
              type: string
              format: uri
              description: One URL for all results. A ZIP archive for Anti-AI orders and v2 watermark embed orders. For v3 watermark embed orders, a ZIP archive with two or more output files, or the URL of the single output file (the same file as `files[0].downloadUrl`)
            files:
              type: array
              description: Download URL for each output file. Lists the same files in the same order as `result.outputFiles` in the order detail
              items:
                type: object
                required:
                - fileId
                - downloadUrl
                additionalProperties: false
                properties:
                  fileId:
                    type: string
                    pattern: ^[0-9]+$
                    description: Same value as `result.outputFiles[].fileId` in the order detail
                  downloadUrl:
                    type: string
                    format: uri
                    description: Presigned download URL of the output file
            expiresInSeconds:
              type: integer
              maximum: 3600
              description: How long the URLs are valid, in seconds. 3600 by default, shortened to the time left until `expiresAt` if that is sooner
              example: 3600
    OrderReportResponse:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/OrderReportResource'
    OrderReportResource:
      type: object
      required:
      - orderId
      - reportType
      - locale
      - status
      - download
      properties:
        orderId:
          type: string
          description: Order ID
        reportType:
          type: string
          enum:
          - watermarkDetection
          - aiDetection
          description: Set by BIZ MORI from the order type
        locale:
          type: string
          enum:
          - ko-KR
          - en-US
          - ja-JP
        status:
          type: string
          enum:
          - queued
          - processing
          - completed
          - failed
          description: Report generation status
        download:
          nullable: true
          description: Download information. Present only when `status` is `completed`
          allOf:
          - $ref: '#/components/schemas/OrderReportDownload'
        failure:
          nullable: true
          description: Failure information. Present only when `status` is `failed`
          allOf:
          - $ref: '#/components/schemas/OrderReportFailure'
    OrderReportDownload:
      type: object
      required:
      - url
      - expiresInSeconds
      properties:
        url:
          type: string
          format: uri
          description: |
            Presigned PDF URL, valid for 300 seconds. Watermark reports download as `<order name>-report-<locale>.pdf` (for example `Spring campaign-report-en-US.pdf`).
            Call the report endpoint again for a new URL instead of storing this one.
        expiresInSeconds:
          type: integer
          enum:
          - 300
    OrderReportFailure:
      type: object
      required:
      - code
      - retryable
      properties:
        code:
          type: string
          enum:
          - REPORT_GENERATION_FAILED
          - REPORT_NOT_AVAILABLE
        retryable:
          type: boolean
          description: |
            `true` if calling `POST /api/v3/orders/{orderId}/reports` again for the same order and locale starts a new attempt.
            Watermark reports become `false` after 3 failed attempts.
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: VALIDATION_FAILED
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: AUTH_NOT_AUTHENTICATED
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: RESOURCE_NOT_FOUND
    UsageLimitExceeded:
      description: Usage limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: USAGE_LIMIT_EXCEEDED
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: SERVER_INTERNAL_ERROR
    Forbidden:
      description: The API key is not allowed to use the requested mode
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: AUTH_FORBIDDEN
    WebhookNotFound:
      description: Webhook endpoint not found or not accessible to this API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: WEBHOOK_NOT_FOUND

tags:
- name: Anti-AI
  description: Anti-AI image protection orders
- name: Watermark Embed
  description: Watermark embedding orders
- name: Watermark Extract
  description: Watermark extraction orders
- name: AI Detection
  description: AI-generated image detection orders
- name: Orders
  description: Order query and management
- name: Webhooks
  description: Webhook configuration and events
- name: Reports
  description: PDF analysis reports for watermark extract and AI Detection orders
paths:
  /api/v2/orders/anti-ai:
    post:
      summary: Create Anti-AI order
      operationId: createAntiAiOrder
      description: 'Create an order for AI detection protection processing.


        ## Input Modes (Upload / URL / Mixed)

        The input mode is determined by the presence of `originalFileUrl` in each file object:

        - **Upload mode** (no `originalFileUrl`): Presigned URL issued → Client uploads to S3 → Call `/confirm`

        - **URL mode** (`originalFileUrl` provided): Image downloaded from the URL and processed immediately

        - **Mixed mode**: Some files in Upload mode, others in URL mode simultaneously


        ### Behavior

        | Condition | Order Status | Confirm Required |

        |-----------|-------------|-----------------|

        | All files have `originalFileUrl` | `inProgress` | No (immediate processing) |

        | Any file without `originalFileUrl` | `pending` | Yes (upload then confirm) |


        ## Zero Copy Mode

        When `mode.zeroCopy: true`, processed results are uploaded directly to customer-provided presigned
        URLs.

        In this case, `outputTargets` array is required and must match the length of `files` array.

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key to prevent duplicate requests
                orderName:
                  type: string
                  maxLength: 64
                  description: Order name (optional, auto-generated if not provided)
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    properties:
                      fileName:
                        type: string
                        description: File name (with extension)
                        example: image.jpg
                      originalFileUrl:
                        type: string
                        format: uri
                        description: 'Original image URL (optional)

                          - Provided: URL mode (no presigned URL issued, immediate processing)

                          - Not provided: Upload mode (presigned URL issued, confirm required)

                          '
                        example: https://example.com/image.jpg
                mode:
                  type: object
                  description: Processing mode settings
                  properties:
                    zeroCopy:
                      type: boolean
                      default: false
                      description: Enable Zero Copy mode
                outputTargets:
                  type: array
                  description: Output upload targets for Zero Copy mode (required when mode.zeroCopy is
                    true)
                  items:
                    type: object
                    required:
                    - fileKey
                    - url
                    - presignedUrlExpiresAt
                    properties:
                      fileKey:
                        type: string
                        description: File key (identifier)
                      url:
                        type: string
                        format: uri
                        description: Presigned URL for uploading results
                      presignedUrlExpiresAt:
                        type: string
                        format: date-time
                        description: Presigned URL expiration time (ISO 8601)
                options:
                  $ref: '#/components/schemas/OrderOptions'
            examples:
              uploadMode:
                summary: Upload mode (traditional)
                value:
                  idempotencyKey: 2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40
                  files:
                  - fileName: image1.jpg
                  - fileName: image2.png
                  options:
                    strength: high
              urlMode:
                summary: URL mode (immediate processing)
                value:
                  idempotencyKey: 3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71
                  files:
                  - fileName: image1.jpg
                    originalFileUrl: https://example.com/image1.jpg
                  - fileName: image2.png
                    originalFileUrl: https://example.com/image2.png
                  options:
                    strength: high
              mixedMode:
                summary: Mixed mode
                value:
                  idempotencyKey: 4d8b6f2a-a3c1-4e97-b2d5-7a9f1c4e6b82
                  files:
                  - fileName: upload-file.jpg
                  - fileName: url-file.png
                    originalFileUrl: https://example.com/image.png
                  options:
                    strength: standard
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        enum:
                        - pending
                        - inProgress
                        description: 'Order status

                          - `pending`: Contains upload files (confirm required)

                          - `inProgress`: All files in URL mode (immediate processing)

                          '
                      files:
                        type: array
                        items:
                          $ref: '#/components/schemas/AntiAiOrderFile'
              examples:
                uploadModeResponse:
                  summary: Upload mode response
                  value:
                    data:
                      orderName: anti_ai_2026-02-09
                      orderId: '123456789'
                      status: pending
                      files:
                      - fileId: '1'
                        fileName: image1.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: temp/123456789/0/image1.jpg
                urlModeResponse:
                  summary: URL mode response
                  value:
                    data:
                      orderName: anti_ai_2026-02-09
                      orderId: '123456789'
                      status: inProgress
                      files:
                      - fileId: '1'
                        fileName: image1.jpg
                        originalFileUrl: https://example.com/image1.jpg
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai \\\n  -H\
          \ \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40\",\n    \"files\": [\n\
          \      {\"fileName\": \"image1.jpg\"},\n      {\"fileName\": \"image2.png\"\
          }\n    ],\n    \"options\": {\"strength\": \"high\"}\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40',\n    files: [\n      { fileName: 'image1.jpg'\
          \ },\n      { fileName: 'image2.png' }\n    ],\n    options: { strength:\
          \ 'high' }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '2f4b6c82-8a6e-4f39-9f8a-7d3b5c1e2a40',\n        'files': [\n            {'fileName': 'image1.jpg'},\n\
          \            {'fileName': 'image2.png'}\n        ],\n        'options':\
          \ {'strength': 'high'}\n    }\n)\ndata = response.json()"
  /api/v2/orders/anti-ai/confirm:
    post:
      summary: Confirm Anti-AI order
      operationId: confirmAntiAiOrder
      description: 'Call after file upload is complete to start processing.

        - Call after all upload files are uploaded to S3

        - Status changes to `inProgress` when processing starts

        - In mixed mode, only upload files are checked for S3 presence; URL files are already ready

        - Orders where all files are in URL mode are already `inProgress` and don''t need confirm

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - orderId
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key
                orderId:
                  type: string
                  description: Order ID
      responses:
        '200':
          description: Order confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai/confirm \\\
          \n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63\",\n    \"orderId\"\
          : \"ORDER_ID\"\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai/confirm',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63',\n    orderId: 'ORDER_ID'\n  })\n\
          });\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai/confirm',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '1b7e3c90-6d2a-4f58-a9c1-8e4b7d0f2a63',\n        'orderId': 'ORDER_ID'\n    }\n)\ndata = response.json()"
  /api/v2/orders/anti-ai/with-urls:
    post:
      summary: Create Anti-AI order with URLs
      operationId: createAntiAiOrderWithUrls
      deprecated: true
      description: '**Deprecated**: Use `/anti-ai` endpoint with `originalFileUrl` field instead.


        Provide image URLs directly for processing.

        - Processing starts immediately without presigned URL issuance

        - Downloads and processes images from the provided URLs


        ## Zero Copy Mode

        When `mode.zeroCopy: true`, processed results are uploaded directly to customer-provided presigned
        URLs.

        '
      tags:
      - Anti-AI
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key
                orderName:
                  type: string
                  maxLength: 64
                  description: Order name (optional)
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    - imageUrl
                    properties:
                      fileName:
                        type: string
                        description: File name (with extension)
                        example: image.jpg
                      imageUrl:
                        type: string
                        format: uri
                        description: Image URL
                mode:
                  type: object
                  properties:
                    zeroCopy:
                      type: boolean
                      default: false
                outputTargets:
                  type: array
                  items:
                    type: object
                    required:
                    - fileKey
                    - url
                    - presignedUrlExpiresAt
                    properties:
                      fileKey:
                        type: string
                      url:
                        type: string
                        format: uri
                      presignedUrlExpiresAt:
                        type: string
                        format: date-time
                options:
                  $ref: '#/components/schemas/OrderOptions'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        example: inProgress
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/anti-ai/with-urls\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71\",\n    \"files\":\
          \ [\n      {\n        \"fileName\": \"image1.jpg\",\n        \"imageUrl\"\
          : \"https://example.com/image1.jpg\"\n      }\n    ],\n    \"options\":\
          \ {\"strength\": \"high\"}\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/anti-ai/with-urls',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71',\n    files: [\n      {\n        fileName:\
          \ 'image1.jpg',\n        imageUrl: 'https://example.com/image1.jpg'\n  \
          \    }\n    ],\n    options: { strength: 'high' }\n  })\n});\nconst data\
          \ = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/anti-ai/with-urls',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '3c7a5e19-9b2f-4d86-a1c4-6f8e0b3d5a71',\n        'files': [\n            {\n                'fileName':\
          \ 'image1.jpg',\n                'imageUrl': 'https://example.com/image1.jpg'\n\
          \            }\n        ],\n        'options': {'strength': 'high'}\n  \
          \  }\n)\ndata = response.json()"
  /api/v2/orders/wtr-embed:
    post:
      summary: Create watermark embed order
      operationId: createWatermarkEmbedOrder
      deprecated: true
      description: '**Deprecated.** This endpoint is scheduled to end support at 09:00 KST on October 9, 2026 (00:00 UTC). Use `POST /api/v3/orders/wtr-embed` instead.


        Every response from this endpoint, including authentication errors and the `410` response, includes the `Deprecation: true`, `Sunset: Fri, 09 Oct 2026 00:00:00 GMT`, and `Link: </api/v3/orders/wtr-embed>; rel="successor-version"` headers.


        From 09:00 KST on October 9, 2026 (00:00 UTC):

        - Authentication and permission checks still run first, so `401` and `403` errors are returned as before.

        - Authenticated requests to the v2 watermark embed and extract endpoints return `410 Gone` with `{ "code": "WATERMARK_V2_API_SUNSET" }`, for both live and `sk_test_` keys. The `Link` header points to the v3 endpoint. Create new orders with v3.

        - v2 orders that have not started processing by then fail without being processed. The order details (`errors.errorCode`) and the failed webhook carry `WATERMARK_V2_API_SUNSET` with a message pointing to v3. The order is not charged, and its credits are restored.

        - Orders already processing at that time finish and record their result. No new run starts for them afterwards.


        Create a watermark embedding order.

        - Up to 10 watermark texts per image

        - Up to 100 files per order

        - Supported image formats (IMG): jpg, jpeg, png, webp, bmp, tiff

        - Supported document formats (DOCUMENT): pdf


        ## Input Modes (Upload / URL / Mixed)

        The input mode is determined by the presence of `originalFileUrl` in each file object:

        - **Upload mode** (no `originalFileUrl`): Presigned URL issued → Client uploads to S3 → Processing
        starts automatically

        - **URL mode** (`originalFileUrl` provided): Image downloaded from the URL and processed immediately

        - **Mixed mode**: Some files in Upload mode, others in URL mode simultaneously


        ### Behavior

        | Condition | Order Status | Confirm Required |

        |-----------|-------------|-----------------|

        | All files have `originalFileUrl` | `pending` | No (auto-starts after server downloads) |

        | Any file without `originalFileUrl` | `pending` | No (auto-starts after upload) |


        <Note>Unlike Anti-AI and AI Detection, Watermark Embed does not require a separate confirm step.
        Processing starts automatically after file upload completes.</Note>

        '
      tags:
      - Watermark Embed
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - files
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key
                files:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: object
                    required:
                    - fileName
                    - watermarks
                    properties:
                      fileName:
                        type: string
                        description: File name
                        example: image.jpg
                      originalFileUrl:
                        type: string
                        format: uri
                        description: 'Original image URL (optional)

                          - Provided: URL mode (no presigned URL issued, immediate processing)

                          - Not provided: Upload mode (presigned URL issued)

                          '
                        example: https://example.com/image.jpg
                      watermarks:
                        type: array
                        minItems: 1
                        maxItems: 10
                        items:
                          type: object
                          required:
                          - text
                          properties:
                            text:
                              type: string
                              maxLength: 1000
                              description: Watermark text
            examples:
              uploadMode:
                summary: Upload mode (traditional)
                value:
                  idempotencyKey: 5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93
                  files:
                  - fileName: image1.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: image2.png
                    watermarks:
                    - text: MORI_WATERMARK
              urlMode:
                summary: URL mode (immediate processing)
                value:
                  idempotencyKey: 6f1d8b4c-c5e3-4029-94f7-9c2b3e6a8d04
                  files:
                  - fileName: image1.jpg
                    originalFileUrl: https://example.com/image1.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: image2.png
                    originalFileUrl: https://example.com/image2.png
                    watermarks:
                    - text: MORI_WATERMARK
              mixedMode:
                summary: Mixed mode
                value:
                  idempotencyKey: 7a2e9c5d-d6f4-413a-a5b8-0d3c4f7b9e15
                  files:
                  - fileName: upload-file.jpg
                    watermarks:
                    - text: MORI_WATERMARK
                  - fileName: url-file.png
                    originalFileUrl: https://example.com/image.png
                    watermarks:
                    - text: MORI_WATERMARK
      responses:
        '200':
          description: Order created successfully
          headers:
            Deprecation:
              description: Indicates that this API is deprecated
              schema:
                type: string
                example: 'true'
            Sunset:
              description: When support ends (RFC 8594 HTTP-date, 09:00 KST on October 9, 2026)
              schema:
                type: string
                example: 'Fri, 09 Oct 2026 00:00:00 GMT'
            Link:
              description: Path of the successor v3 API
              schema:
                type: string
                example: '</api/v3/orders/wtr-embed>; rel="successor-version"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                      orderId:
                        type: string
                      status:
                        type: string
                        enum:
                        - pending
                        description: 'Order status

                          - `pending`: Always returned regardless of input mode

                          '
                      files:
                        type: array
                        items:
                          type: object
                          description: 'File info (fields vary by mode)

                            - Upload mode: fileId, fileName, uploadUrl, fileKey, fileFormat, fileType

                            - URL mode: fileId, fileName, originalFileUrl, fileKey, fileFormat, fileType'
                          properties:
                            fileId:
                              type: integer
                            fileName:
                              type: string
                            uploadUrl:
                              type: string
                              format: uri
                              description: 'Upload URL, returned in upload mode only. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
                            originalFileUrl:
                              type: string
                              format: uri
                              description: Public image URL provided in the request. Returned in URL mode
                                only.
                            fileKey:
                              type: string
                              description: |
                                File identifier: an S3 object key for live keys or an isolated logical key for test keys.
                            fileFormat:
                              type: string
                              description: File format.
                              enum:
                              - JPG
                              - PNG
                              - WEBP
                              - BMP
                              - TIFF
                              - PDF
                            fileType:
                              type: string
                              description: File type category.
                              enum:
                              - IMG
                              - DOCUMENT
              examples:
                uploadModeResponse:
                  summary: Upload mode response
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424706541233094656'
                      status: pending
                      files:
                      - fileId: 2469
                        fileName: image.jpg
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424706541233094656/images/1/image.jpg
                        fileFormat: JPG
                        fileType: IMG
                      - fileId: 2470
                        fileName: document.pdf
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424706541233094656/documents/2/document.pdf
                        fileFormat: PDF
                        fileType: DOCUMENT
                urlModeResponse:
                  summary: URL mode response
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424707536709206016'
                      status: pending
                      files:
                      - fileId: 2490
                        fileName: image.png
                        originalFileUrl: https://example.com/image.jpg
                        fileKey: wtr-embed/424707536709206016/images/1/image.png
                        fileFormat: PNG
                        fileType: IMG
                mixedModeResponse:
                  summary: Mixed mode response
                  value:
                    data:
                      orderName: wtr_embed_20260318120000.000
                      orderId: '424707536709206016'
                      status: pending
                      files:
                      - fileId: 2490
                        fileName: image.png
                        originalFileUrl: https://example.com/image.jpg
                        fileKey: wtr-embed/424707536709206016/images/1/image.png
                        fileFormat: PNG
                        fileType: IMG
                      - fileId: 2491
                        fileName: photo.jpeg
                        uploadUrl: https://s3.ap-northeast-2.amazonaws.com/...?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                        fileKey: wtr-embed/424707536709206016/images/2/photo.jpeg
                        fileFormat: JPG
                        fileType: IMG
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '410':
          description: v2 watermark support has ended (from 09:00 KST on October 9, 2026). Returned only after authentication and permission checks pass. Send a new request to the v3 path in the `Link` header.
          headers:
            Link:
              description: Path of the successor v3 API
              schema:
                type: string
                example: '</api/v3/orders/wtr-embed>; rel="successor-version"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: WATERMARK_V2_API_SUNSET
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/wtr-embed \\\n  -H\
          \ \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93\",\n    \"files\"\
          : [\n      {\n        \"fileName\": \"image.jpg\",\n        \"watermarks\"\
          : [{\"text\": \"MORI_WATERMARK\"}]\n      }\n    ]\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/wtr-embed',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93',\n    files: [\n      {\n        fileName:\
          \ 'image.jpg',\n        watermarks: [{ text: 'MORI_WATERMARK' }]\n     \
          \ }\n    ]\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/wtr-embed',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '5e9c7a3b-b4d2-4f18-83e6-8b1a2d5f7c93',\n        'files': [\n            {\n                'fileName':\
          \ 'image.jpg',\n                'watermarks': [{'text': 'MORI_WATERMARK'}]\n\
          \            }\n        ]\n    }\n)\ndata = response.json()"
  /api/v2/orders/wtr-extract:
    post:
      summary: Create watermark extract order
      operationId: createWatermarkExtractOrder
      deprecated: true
      description: '**Deprecated.** This endpoint is scheduled to end support at 09:00 KST on October 9, 2026 (00:00 UTC). Use `POST /api/v3/orders/wtr-extract` instead.


        Every response from this endpoint, including authentication errors and the `410` response, includes the `Deprecation: true`, `Sunset: Fri, 09 Oct 2026 00:00:00 GMT`, and `Link: </api/v3/orders/wtr-extract>; rel="successor-version"` headers.


        From 09:00 KST on October 9, 2026 (00:00 UTC):

        - Authentication and permission checks still run first, so `401` and `403` errors are returned as before.

        - Authenticated requests to the v2 watermark embed and extract endpoints return `410 Gone` with `{ "code": "WATERMARK_V2_API_SUNSET" }`, for both live and `sk_test_` keys. The `Link` header points to the v3 endpoint. Create new orders with v3.

        - v2 orders that have not started processing by then fail without being processed. The order details (`errors.errorCode`) and the failed webhook carry `WATERMARK_V2_API_SUNSET` with a message pointing to v3. The order is not charged, and its credits are restored.

        - Orders already processing at that time finish and record their result. No new run starts for them afterwards.


        Create a watermark extraction order.

        - Only 1 file per order

        - Supports image (jpg, jpeg, png, webp, bmp, tiff) or PDF files

        - For images, `includeOriginal: true` allows uploading the original file alongside

        - PDF does not support `includeOriginal`

        '
      tags:
      - Watermark Extract
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - file
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key
                file:
                  type: object
                  required:
                  - fileName
                  properties:
                    fileName:
                      type: string
                      description: Watermarked file name (with extension)
                      example: watermarked.jpg
                    includeOriginal:
                      type: boolean
                      default: false
                      description: 'Include original file (image only)

                        - true: Upload URL for original file is also issued

                        - Not available for PDF files

                        '
                    originalFile:
                      type: object
                      description: Original file info (required when includeOriginal is true)
                      required:
                      - fileName
                      properties:
                        fileName:
                          type: string
                          description: Original file name
                          example: original.jpg
            examples:
              imageOnly:
                summary: Single image (watermark only)
                value:
                  idempotencyKey: 8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26
                  file:
                    fileName: watermarked.jpg
              imageWithOriginal:
                summary: Image + original included
                value:
                  idempotencyKey: 9c4a2e7f-f8b6-435c-87da-2f5e6b9d1a37
                  file:
                    fileName: watermarked.jpg
                    includeOriginal: true
                    originalFile:
                      fileName: original.jpg
              pdfOnly:
                summary: PDF file
                value:
                  idempotencyKey: ad5b3f8a-a9c7-446d-98eb-3a6f7c0e2b48
                  file:
                    fileName: document.pdf
      responses:
        '200':
          description: Order created successfully
          headers:
            Deprecation:
              description: Indicates that this API is deprecated
              schema:
                type: string
                example: 'true'
            Sunset:
              description: When support ends (RFC 8594 HTTP-date, 09:00 KST on October 9, 2026)
              schema:
                type: string
                example: 'Fri, 09 Oct 2026 00:00:00 GMT'
            Link:
              description: Path of the successor v3 API
              schema:
                type: string
                example: '</api/v3/orders/wtr-extract>; rel="successor-version"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderName:
                        type: string
                        description: Order name (auto-generated)
                      orderId:
                        type: string
                        description: Order ID
                      file:
                        $ref: '#/components/schemas/WtrExtractOrderFile'
              examples:
                imageOnlyResponse:
                  summary: Single image response
                  value:
                    data:
                      orderName: wtr_extract_2026-02-13
                      orderId: '123456789'
                      file:
                        fileId: 1
                        fileName: watermarked.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: 123/456/watermarked.jpg
                        fileFormat: JPG
                        fileType: IMG
                        role: watermarked
                        sequence: 1
                imageWithOriginalResponse:
                  summary: Image + original response
                  value:
                    data:
                      orderName: wtr_extract_2026-02-13
                      orderId: '123456789'
                      file:
                        fileId: 1
                        fileName: watermarked.jpg
                        uploadUrl: https://s3.amazonaws.com/...
                        fileKey: 123/456/watermarked.jpg
                        fileFormat: JPG
                        fileType: IMG
                        role: watermarked
                        sequence: 1
                        originalFile:
                          fileId: 2
                          fileName: original.jpg
                          uploadUrl: https://s3.amazonaws.com/...
                          fileKey: 123/456/original.jpg
                          fileFormat: JPG
                          fileType: IMG
                          role: original
                          sequence: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '410':
          description: v2 watermark support has ended (from 09:00 KST on October 9, 2026). Returned only after authentication and permission checks pass. Send a new request to the v3 path in the `Link` header.
          headers:
            Link:
              description: Path of the successor v3 API
              schema:
                type: string
                example: '</api/v3/orders/wtr-extract>; rel="successor-version"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: WATERMARK_V2_API_SUNSET
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/wtr-extract \\\n\
          \  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type: application/json\"\
          \ \\\n  -d '{\n    \"idempotencyKey\": \"8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26\",\n    \"file\"\
          : {\n      \"fileName\": \"watermarked.jpg\"\n    }\n  }'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/wtr-extract',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26',\n    file: {\n      fileName: 'watermarked.jpg'\n\
          \    }\n  })\n});\nconst data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/wtr-extract',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={\n        'idempotencyKey':\
          \ '8b3f1d6e-e7a5-424b-b6c9-1e4d5a8c0f26',\n        'file': {\n            'fileName': 'watermarked.jpg'\n\
          \        }\n    }\n)\ndata = response.json()"
  /api/v2/orders/ai-detection:
    post:
      summary: Create AI Detection order
      operationId: createAiDetectionOrder
      description: 'Creates an AI Detection order and issues an upload URL for the image. Live keys receive an S3 presigned URL; test keys receive an absolute BIZ MORI test-upload URL.


        ## Flow


        1. Call this endpoint to receive an upload URL

        2. Upload the image using the live S3 URL or test BIZ MORI URL

        3. Call `POST /api/v2/orders/ai-detection/confirm` to start async detection

        4. Use webhooks or poll the order detail endpoint for the result


        ## Order Status


        | Status | Description |

        |--------|-------------|

        | `pending` | Waiting for file upload |

        | `inProgress` | Detection is in progress |

        | `complete` | Detection complete, result available |

        | `failed` | Detection failed |


        ## Supported Formats


        jpg, jpeg, png, webp, bmp, tiff

        '
      tags:
      - AI Detection
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - fileName
              properties:
                idempotencyKey:
                  type: string
                  description: Idempotency key to prevent duplicate requests
                  example: 0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59
                orderName:
                  type: string
                  maxLength: 64
                  description: Order name (optional, auto-generated if not provided)
                  example: my-detection-order
                fileName:
                  type: string
                  description: 'Image file name with extension. Supported: jpg, jpeg, png, webp, bmp,
                    tiff'
                  example: photo.jpg
                options:
                  type: object
                  description: Output options (optional). Generated files are included in the order detail
                    response.
                  properties:
                    generateHeatmap:
                      type: boolean
                      default: false
                      description: Generate AI detection heatmap image
                    generateOverlay:
                      type: boolean
                      default: false
                      description: Generate heatmap overlay on original image
                    generateThumbnail:
                      type: boolean
                      default: false
                      description: Generate thumbnail image
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      orderId:
                        type: string
                        description: Order ID
                      orderName:
                        type: string
                        description: Order name
                      status:
                        type: string
                        enum:
                        - pending
                        description: Order status
                      file:
                        type: object
                        properties:
                          fileId:
                            type: integer
                            description: File record ID
                          fileName:
                            type: string
                            description: File name
                          uploadUrl:
                            type: string
                            format: uri
                            description: 'Upload URL. Live keys receive an S3 presigned URL; test keys receive an absolute `https://api.bizmori.com/api/v2/test-uploads/{signedToken}` URL. Both expire after one hour. PUT needs no Authorization header because the signed token authorizes the test upload. Test request bodies are streamed, not stored; test orders move to simulated results without usage consumption or actual external processing.'
                          fileKey:
                            type: string
                            description: |
                              File identifier: an S3 object key for live keys or an isolated logical key for test keys.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/UsageLimitExceeded'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST https://api.bizmori.com/api/v2/orders/ai-detection\
          \ \\\n  -H \"Authorization: Bearer YOUR_API_TOKEN\" \\\n  -H \"Content-Type:\
          \ application/json\" \\\n  -d '{\"idempotencyKey\": \"0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59\", \"fileName\"\
          : \"photo.jpg\"}'"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://api.bizmori.com/api/v2/orders/ai-detection',\
          \ {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_API_TOKEN',\n\
          \    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n\
          \    idempotencyKey: '0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59',\n    fileName: 'photo.jpg'\n  })\n});\n\
          const data = await response.json();"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    'https://api.bizmori.com/api/v2/orders/ai-detection',\n\
          \    headers={'Authorization': 'Bearer YOUR_API_TOKEN'},\n    json={'idempotencyKey':\
          \ '0e6c4a9b-b1d8-457e-a9fc-4b7d0e3a6c59', 'fileName': 'photo.jpg'}\n)\ndata = response.json()"
  /api/v2/orders/ai-detection/confirm:
    post:
      summary: Confirm AI Detection order
      operationId: confirmAiDetectionOrder
      description: 'Confirms that the image upload is complete and starts processing.


        Call this endpoint after uploading the image to the upload URL received
        from the create order endpoint. The order status will change from `pending`
        to `inProgress`.


        The detection result is delivered via webhook (`order.aiDetection.completed` or `order.aiDetection.failed`),
        or can be retrieved by polling the [Get order](/api-reference/orders/get-order) endpoint.

        '
      tags:
      - AI Detection
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              - orderId
              properties:
                idempotencyKey:
                  type: string
                  description: Unique key to prevent duplicate requests. If the same
                    key is used in a retry, the current order status is returned without
                    reprocessing.
                  example: c6d4e2f1-3a5b-4c78-9d0e-6f2a1b8c4d95
                orderId:
                  type: string
                  description: Order ID
      responses:
        '200':
          description: Processing started
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
[...]
